<div class="dashboard-navigation">
    <div 
      class="mapfre card nav-content-card" 
      [class.iphonex]="checkForIphoneType()">
      <ul>
        <li>
          <a 
            routerLink="/my-insurance"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
            title="My Insurance"
            mdbWavesEffect>
            <div class="nav-content nav-icon">
              <div class="non-active-icon icon-content">
                <svg-myinsurance-svg></svg-myinsurance-svg>
              </div>
              <div class="active-icon icon-content">
                <svg-myinsurance-filled-svg></svg-myinsurance-filled-svg>
              </div>
            </div>
            <div class="nav-content nav-copy">
                {{ 'MY_INSURANCE' | translate }}
            </div>
          </a>
        </li>
        <li>
          <a 
            routerLink="/claims/active"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
            title="Claims"
            mdbWavesEffect>
            <div class="nav-content nav-icon">
              <div class="non-active-icon icon-content">
               <svg-claims-svg></svg-claims-svg>
              </div>
              <div class="active-icon icon-content">
                <svg-claims-filled-svg></svg-claims-filled-svg>
              </div>
            </div>
            <div class="nav-content nav-copy">
                {{ 'CLAIMS' | translate }}
            </div>
          </a>
        </li>
        <li>
          <a 
            routerLink="/information"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
            title="Information"
            mdbWavesEffect>
            <div class="nav-content nav-icon">
                <div class="non-active-icon icon-content">
                    <svg-information-svg></svg-information-svg>
                </div>
                <div class="active-icon icon-content">
                 <svg-information-filled-svg></svg-information-filled-svg>
                </div>
            </div>
            <div class="nav-content nav-copy">
                {{ 'INFORMATION' | translate }}
            </div>
          </a>
        </li>
        <li>
          <a
            routerLink="/contact"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
            title="Contact"
            mdbWavesEffect>
            <div class="nav-content nav-icon">
                <div class="non-active-icon icon-content">
                  <svg-contact-svg></svg-contact-svg>
                </div>
                <div class="active-icon icon-content">
                  <svg-contact-filled-svg></svg-contact-filled-svg>
                </div>
              </div>
              <div class="nav-content nav-copy">
                  {{ 'CONTACT' | translate }}
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>