<div class="change-address single-card-column">
  <div class="row text-center">
    <div class="col"> 
        <div class="header-icon full-icon">
            <svg-bank-svg></svg-bank-svg>
        </div>
        <div>
            <h1 class="title-copy">{{ 'PROFILE_CHECKING_ACCOUNT_SAVE' | translate }}</h1>
        </div>        
      </div>
  </div>
  <app-checking-account-form [inputs]="checkingAccountForm"></app-checking-account-form>
</div>
<div class="margin-vertical mv32 text-center sub-title-copy checking-account-bottom">
  <hr />
  <em>
      {{ 'PROFILE_CHECKING_ACCOUNT' | translate}}
  </em>
</div>
