$global-button-footer-icon:         $global-one-rem;
$global-button-footer-second-icon:  $global-one-rem * 0.75;
$global-button-icon-font-size:      $global-one-rem * 1.5;
$global-first-icon-top:             0.1875rem; //3px
$global-second-icon-top:            0.0625rem; //1px

/*
    --- Global Button styles ---
    All specific styles can be found in the mapfre-button component
*/

.btn-icon {
  i {
    font-size:                      $global-button-icon-font-size;
  }
}

.footer-flat {
  .first-icon i {
    font-size:                      $global-button-footer-icon;
    position:                       relative;
    top:                            $global-first-icon-top;
  }

  .second-icon i {
    font-size:                      $global-button-footer-second-icon;
    position:                       relative;
    top:                            $global-second-icon-top;
  }
}