a.grid-modal-footer {
    color: $mapfre-blue;
    font-size: 1rem;
    font-weight: 700;

    .fas {
        font-size: 24px;
    }

    .fa-chevron-right {
        font-size: 1rem;
    }

    .info {
        color: $lite-gray;
        font-size: 12px;
        font-weight: 400;
    }

    &:hover {
        text-decoration: none;
        background: rgba(0, 0, 0, 0.1);
    }
}