
.btn-icon {
    i {
        font-size: 32px;
    }
}

.footer-flat {
    .first-icon i {
        font-size: 1rem;
        position: relative;
        top: 3px;
    }

    .button-content {
      
    }

    .second-icon i {
        font-size: 12px;
        position: relative;
    top: 1px;
    }
}