// --- form-check-input 
$global-form-before-border:                 0.125rem solid $dark-gray;
$global-form-before-height:                 $global-one-rem * 1.5;
$global-form-before-margin-left:            -$global-one-rem * 0.1875;
$global-form-before-margin-top:             -$global-one-rem * 0.3125;
$global-form-before-width:                  $global-form-before-height;
$global-form-before-z:                      10;
$global-form-checked-before-border-color:   $input-success-color;
$global-form-checked-before-top:            -$global-one-rem * 0.625;   //-10px
$global-form-checked-before-left:           $global-one-rem * 0.4375;   //7px
$global-form-checked-before-height:          $global-one-rem * 1.5;     //1.5rem
$global-form-checked-before-width:          $global-one-rem / 2;        //0.5rem
$global-form-checked-after-top:             -$global-one-rem * 1.1875;  //-19px
$global-form-after-background:              $white;
$global-form-after-width:                   $global-one-rem * 1.125;
$global-form-after-height:                  $global-form-after-width;
$global-form-after-margin-left:             $global-zero;
$global-form-after-margin-top:              -$global-one-rem * 1.3125;
// --- Normal Checked
$global-checkbox-before-color:              transparent;
$global-checkbox-before-font-size:          $font-size-base * 1.7142857143;
$global-checkbox-before-top:                -$global-one-rem * 0.4375;
$global-checkbox-before-left:               -$global-one-rem * 0.3125;
$global-checkbox-before-z:                  3;
$global-checkbox-after-background:          $white;
$global-checkbox-after-border:              0.125rem solid $dark-grey;
$global-checkbox-after-color:               transparent;
$global-checkbox-after-font-size:           $font-size-base * 1.2857142857;
$global-checkbox-after-height:              $global-one-rem * 0.875; //14px
$global-checkbox-after-left:                -$global-one-rem * 0.125; //2px
$global-checkbox-after-top:                 -$global-one-rem * 0.25; //4px
$global-checkbox-after-width:               $global-one-rem * 0.875; //14px
$global-checkbox-after-z:                   1;
$global-checkbox-before-checked-color:      $active-color;
$global-checkbox-after-checked-color:       transparent;
// --- Normal Radio Buttons
$global-radio-before-color:                 transparent;
$global-radio-before-front-size:            $font-size-base * 1.7142857143; //24px;
$global-radio-before-top:                   -$global-one-rem * 0.375; //-6px
$global-radio-before-left:                  -$global-one-rem * 0.3125 ; //-5px
$global-radio-before-z:                     3;
$global-radio-after-background:             $white;
$global-radio-after-border:                 0.125rem solid $dark-grey;
$global-radio-after-color:                  transparent;
$global-radio-after-front-size:             $font-size-base * 1.2857142857;//18px
$global-radio-after-height:                 $global-one-rem * 1.25;//20px
$global-radio-after-left:                   -$global-one-rem * 0.1875;//-3px
$global-radio-after-top:                    -$global-one-rem * 0.25;//-4px;
$global-radio-after-width:                  $global-one-rem * 1.25;//20px;
$global-radio-after-z:                      1;
$global-radio-checked-after-border-color:   transparent;
$global-radio-checked-before-color:         $active-color;
// --- ETC
$global-label-margin-left:                  $global-one-rem * 0.625;//10px
$global-button-margin-bottom:               $global-one-rem * 1.5 ; //24px
$global-radio-modal-margin-left:            $global-one-rem; //16px
$global-radio-modal-width:                  $global-one-rem * 1.5; //24px

// --- One Checkbox on the page ---
.form-check-input {
  &:before {
    border:                                 $global-form-before-border;
    content:                                '';
    display:                                block;
    height:                                 $global-form-before-height;
    margin-left:                            $global-form-before-margin-left;
    margin-top:                             $global-form-before-margin-top;
    width:                                  $global-form-before-width;
    z-index:                                $global-form-before-z;
    @include border-radius(1px);
    @include transition(0.5s);
  }

  &:checked{
    &:before {
      border-color:                         $global-form-checked-before-border-color;
      border-top-style:                     none;
      border-left-style:                    none;
      margin-top:                           $global-form-checked-before-top;
      margin-left:                          $global-form-checked-before-left;
      height:                               $global-form-checked-before-height;
      width:                                $global-form-checked-before-width;
      @include transform(rotate(45deg));
    }

    &:after{
      margin-top:                           $global-form-checked-after-top;
    }
  }

  &:after {
    background:                             $global-form-after-background;
    width:                                  $global-form-after-width;
    height:                                 $global-form-after-height;
    content:                                '';
    display:                                block;
    margin-left:                            $global-form-after-margin-left;
    margin-top:                             $global-form-after-margin-top;
  }
}

.form-check-label {
  margin-left:                              $global-label-margin-left; 
}

.button-spacer {
  margin-bottom:                            $global-button-margin-bottom;;
}

// --- Normal Checkbox ---
input[type="checkbox"]:not(.form-check-input){
  position:                                 relative;
  visibility:                               hidden;
  
  &:before {
    color:                                  $global-checkbox-before-color;
    content:                                '\e834';
    font-family:                            'Material Icons';
    font-size:                              $global-checkbox-before-font-size;
    top:                                    $global-checkbox-before-top;
    left:                                   $global-checkbox-before-left;
    position:                               absolute;
    visibility:                             visible;
    z-index:                                $global-checkbox-before-z;
    @include transition(0.5s);
  }
  
  &:after {
    background:                             $global-checkbox-after-background;
    border:                                 $global-checkbox-after-border;
    color:                                  $global-checkbox-after-color;
    content:                                '\e837';
    font-family:                            'Material Icons';
    font-size:                              $global-checkbox-after-font-size;
    height:                                 $global-checkbox-after-height;
    left:                                   $global-checkbox-after-left;
    position:                               absolute;
    top: 	                                  $global-checkbox-after-top;
    width:                                  $global-checkbox-after-width;
    visibility:                             visible;
    z-index:                                $global-checkbox-after-z;
    @include transition(0.5s);
    @include border-radius(2px);
  }
  
  &:checked {
    &:after {
      border-color:                         $global-checkbox-after-checked-color;
    }
    &:before {
      color:                                $global-checkbox-before-checked-color;
    }
  }
}

// --- Normal Radio Button ---
input[type="radio"] {
  visibility:                               hidden;
  position:                                 relative;
 
  &:before {
    color:                                  $global-radio-before-color;
    content:                                '\e837';
    font-family:                            'Material Icons';
    font-size:                              $global-radio-before-front-size;
    top:                                    $global-radio-before-top;
    left:                                   $global-radio-before-left;
    position:                               absolute;
    visibility:                             visible;
    z-index:                                $global-radio-before-z;
    @include transition(0.5s);
  }

  &:after {
    background:                             $global-radio-after-background;
    border:                                 $global-radio-after-border;
    color:                                  $global-radio-after-color;
    content:                                '\e837';
    font-family:                            'Material Icons';
    font-size:                              $global-radio-after-front-size;
    height:                                 $global-radio-after-height;
    left:                                   $global-radio-after-left;
    position:                               absolute;
    top:                                    $global-radio-after-top;
    width:                                  $global-radio-after-width;
    visibility:                             visible;
    z-index:                                $global-radio-after-z;
    @include border-radius(50%);
    @include transition(0.5s);
  }

  &:checked {
    &:after {
      border-color:                          $global-radio-checked-after-border-color;
    }
    
    &:before {
      color:                                 $global-radio-checked-before-color;
    }
  }
}
  
.modal-content-footer {
  .modal-footer-copy {
    float:                                  left;
    margin-left:                            $global-radio-modal-margin-left;
  }
  
  .modal-radio {
    float:                                  left;
    width:                                  $global-radio-modal-width;
  }
}
