// --- colors
$global-input-active-color:                    $active-color;
$global-input-error-color:                     $error-color; 
$global-input-inactive-color:                  $dark-grey;
$global-input-static-color:                    $fake-black;
$global-input-success-color:                   $success-color;
// --- font-size
$global-input-label-font-size:                 $font-size-base; //14px
$global-input-error-label-font-size:           $global-input-label-font-size / 1.25;
$global-input-active-font-size:                $font-size-base - 0.125;
// --- positioning
$global-input-first-input-width:               60%;
$global-input-label-left-position:             $margin-horizontal / 1.25;
$global-input-label-padding-bottom:            $padding-vertical * 2.5;
$global-input-padding:                         $padding-vertical;
$global-input-padding-half:                    $defualt-margin-padding;
$global-input-validation-label-right:          $margin-horizontal;
$global-input-validation-help-top:             $padding-vertical / 2.5;
// --- input-general
$global-input-border-bottom:                  0.125rem solid $global-input-inactive-color;
$global-input-height:                         $global-one-rem * 1.5;
$global-input-padding-left:                   $global-one-rem / 2; //8px
// --- label-general
$global-input-label-line-height:              $global-one-rem * 1.5;
$global-input-label-top:                      -( $global-one-rem / 4 );
$global-input-label-active-top:               -$global-one-rem;
$global-input-label-active-line-height:       $global-one-rem;
$global-input-label-active-margin-bottom:     $global-one-rem / 4;
// --- password icon
$global-input-password-icon-bottom:           $global-one-rem * 2.125;
$global-input-password-icon-padding-right:    $global-one-rem;

.input.first-input {
  float:                                      left;
  width:                                      $global-input-first-input-width;
}

.input-field.mapfre {
  input {
    border:                                   none;
    border-bottom:                            $global-input-border-bottom;
    font-size:                                $global-input-label-font-size;
    height:                                   $global-input-height;
    padding-left:                             $global-input-padding-left;
    @include border-radius(0);
    @include transition(0.2s);
    
    &:focus {
      border-bottom-color:                    $global-input-active-color;
    }

    &:hover {
      border-color:                           $global-input-active-color;
    }

    &.error {
      border-color:                           $global-input-error-color;
      color:                                  $global-input-static-color;
    }
  }

  label {
    color:                                    $global-input-inactive-color;
    cursor:                                   text;
    font-size:                                $global-input-label-font-size;
    line-height:                              $global-input-label-line-height;
    padding-left:                             $global-input-padding-left;
    text-transform:                           capitalize;
    top:                                      $global-input-label-top;
    @include transition(0.2s);
    
    &.active {
      color:                                  $global-input-active-color;
      font-size:                              $global-input-active-font-size;
    }

    &.active.error {
      color:                                  $global-input-error-color;
    }
    
    &.input-label {
      left:                                   $global-input-padding-half; 
      margin-bottom:                          $global-zero;
      position:                               absolute;
      
      &.active {
        top:                                  $global-input-label-active-top;
        line-height:                          $global-input-label-active-line-height;
        margin-bottom:                        $global-input-label-active-margin-bottom;
      }
    }
  }

  .counter-danger + label {
    color:                                    $global-input-error-color;
  }

  .counter-success + label {
    color:                                    $global-input-success-color;
  }
  .inputVal {
    display:                                  none;
    right:                                    $global-input-validation-label-right;
  }
}

.mapfre.icon-container.show-password.password {
  position:                                   relative;
  bottom:                                     $global-input-password-icon-bottom;
  padding-right:                              $global-input-password-icon-padding-right;
  a:hover {
    border:                                   none;
  }
}
