//size
$input-label-font-size:                     $font-size-base;
$input-error-label-font-size:               $input-label-font-size / 1.25;
$input-active-font-size:                    $font-size-base - 0.125;
//positioning
$input-label-left-position:                 $margin-horizontal / 1.25;
$input-label-padding-bottom:                $padding-vertical * 2.5;
$input-padding:                             $padding-vertical;
$input-validation-label-right:              $margin-horizontal;
$input-validation-help-top:                 $padding-vertical / 2.5;
$input-padding-half:                        $defualt-margin-padding;
//colors
$input-success-color:                       $success-color;
$input-error-color:                         $mapfre-red;
$input-active-color:                        $active-color; 
$input-inactive-color:                      $mapfre-lite-gray;

.input-field.mapfre {
    height:                                 60px;
    position:                               relative; 
    padding-bottom:                         $input-label-padding-bottom;

    input {
        border:                             none;
        border-bottom:                      2px solid $input-inactive-color;
        font-size:                          $input-label-font-size;
        padding:                            $input-padding-half/2 $input-padding-half;
        @include border-radius(0);
        @include transition(0.2s);
        
        &:focus {
            border-bottom-color:            $input-active-color;
        }
    }

    label {
        color:                              $input-inactive-color;
        cursor:                             text;
        font-size:                          $input-label-font-size;
        text-transform:                     capitalize;
        top:                                3px; 
        @include transition(0.2s);
        
        &.active {
            color:                          $input-active-color;
            font-size:                      $input-active-font-size;
        }
        
        &.input-label {
            left:                           $input-padding-half; 
            margin-bottom:                  0;
            position:                       absolute;
           
            &.active {
                top:                        -10px;
            }
        }
    }
    .counter-danger + label {
        color:                              $input-error-color;
    }

    .counter-success + label {
        color:                              $input-success-color;
    }
    .inputVal {
        display:                            none;
        right:                              $input-validation-label-right;
    }

    .help-block .error {
        color:                              $input-error-color;
        font-size:                          $input-error-label-font-size;
        padding-top:                        $input-validation-help-top;
    }

}

