$input-label-font-size:         $font-size-base/1.15;
$input-label-left-position:     $margin-horizontal/1.25;
$input-label-padding-bottom:    $padding-vertical*2.5;

$input-validation-label-right:  $margin-horizontal;
$input-validation-help-top:     $padding-vertical/2.5;

$input-success-color:           #00c851;
$input-error-color:             $mapfre-red;
$input-active-color:            $mapfre-blue;
$input-inactive-color:          $lite-gray;

.input-field.mapfre {
    height:                     60px;
    position:                   relative; 
    padding-bottom:             $input-label-padding-bottom;

    input {
        border:                 none;
        border-bottom:          2px solid $input-inactive-color;
        outline:                none;
        padding-top:            0.5rem;
        @include border-radius(0);
        @include transition(0.2s);
        &:focus {
            border-bottom-color: $input-active-color;
            outline:            none;
        }
    }
    
    label {
        color:                  $input-inactive-color;
        cursor:                 text;
        font-size:              $input-label-font-size;
        text-transform:         capitalize;
        top:                    0; 
        @include transition(0.2s);
        &.active {
            color:              $input-active-color;
            font-size:          10px;
        }
        &.input-label {
            left:                   $input-label-left-position; 
            margin-bottom:          0;
            margin-top:             10px;
            position:               absolute;
            &.active {
                top:                -15px;
            }
        }
    }
    .counter-danger + label {
        color:                  $input-error-color;
    }

    .counter-success + label {
        color:                  $input-success-color;
    }
    .inputVal {
        display:                none;
        right:                  $input-validation-label-right;
    }

    .help-block .error {
        color:                  $input-error-color;
        font-size:              $input-label-font-size / 2;
        padding-top:            $input-validation-help-top;
        text-align:             right;
    }
}
