$mapfre-modal-link-color:                 					$mapfre-blue;
$mapfre-modal-link-font-size:             					$font-size-base;
$mapfre-modal-info-color:                 					$lite-gray;
$mapfre-modal-info-font-size:             					$font-size-base * 0.5;

$mapfre-modal-close-font-size:								56px;
$mapfre-modal-body-font-size:								1rem;
$mapfre-modal-title-color: 									$mapfre-blue;
$mapfre-modal-grid-color: 								  	#737373; 

$mapfre-modal-grid-font-size: 								1rem;
$mapfre-modal-grid-font-weight:				 				700;
$mapfre-modal-grid-color: 									$mapfre-blue;

$global-modal-footer-padding:								$padding-vertical;

.close {
	font-size: 												$mapfre-modal-close-font-size;
	font-weight: 											100;
	margin-top: 											-31px !important;
	text-shadow: 											none !important;
}

.help {
	position: 												absolute;
	top: 													-30px;
}

.modal-body {
	font-size: 												$mapfre-modal-body-font-size;  
	color: 													#737373;
	margin-bottom: 24px;
	text-align: left;
}

.modal-body-title {
	font-weight: 											700;
	margin-bottom: 1rem;
}

.modal-content {
	@include border-radius(0)
}

.modal-footer {
  justify-content: 											flex-start;
}

.modal-header {
	border-bottom: 											none;
	padding-bottom: 										0
}

.modal-small {
	max-width: 												344px;
	width: 													100%;
}

.modal-title {
	text-transform: 										uppercase;
	font-size: 												18px;
	text-align: 											left;
	
	.material-icons {
		position: 											relative;
		top: 												4px;
    	font-size: 											24px;
	}
}

.grid-modal-footer {
	margin-bottom: 											0;
	
	&.two-column {
		display:                                			grid;
		grid-template-columns:                  			10fr 1fr;
		margin-bottom: 										0;
	}

	&.three-column {
		display:                                			grid;
		grid-template-columns:                  			1fr 9fr 1fr;
	}

	.fas {
		font-size: 											24px;
	}

	.fa-chevron-right {
		font-size: 											1rem;
	}
}

a.grid-modal-footer {
	color: 												  #4c4c4c;

	&:hover {
		background: 									  rgba(0, 0, 0, 0.1);
		color: 											  #4c4c4c;
		text-decoration: 									none;
		font-weight: 										400;
	}
}

label.grid-modal-footer {
	color: 												  #4c4c4c;
	cursor: 												pointer;
	font-size: 												1rem;

	&.active {
		background: 									 rgba(0,0,0,0.1);
		color: 											   $active-color;
	}

	&:hover {
		background: 									  rgba(0, 0, 0, 0.1);
		color: 											  #4c4c4c;
		text-decoration: 									none;
	}

	.custom-control {
		padding-left: 2.5rem;
	}
}

