// --- color
$global-modal-link-color:                     $mapfre-blue;
$global-modal-link-font-size:                 $font-size-base;
$global-modal-info-color:                     $lite-gray;
$global-modal-title-color:                    $mapfre-blue;
$global-modal-grid-color:                     $dark-grey;
$global-modal-body-color:                     $dark-grey;
$global-modal-footer-a-color:                 $med-gray;
$global-modal-footer-a-hover-background:      $softer-grey;
$global-modal-footer-a-hover-color:           $med-gray; 
$global-modal-footer-label-hover-background:  $med-gray;
$global-modal-footer-label-active-background: $soft-grey;
$global-modal-footer-label-hover-color:       $active-color;
$global-modal-footer-label-hover-background:  $ten-opacity-black;
$global-modal-footer-label-hover-color:       $med-gray;
// --- font-size
$global-modal-info-font-size:                 $font-size-base * 0.5;
$global-modal-close-font-size:                $font-size-base * 4; //3.5rem
$global-modal-body-font-size:                 $font-size-base * 1.1428571429; //16px | 1rem
$global-modal-grid-font-size:                 $font-size-base * 1.1428571429;
$global-modal-title-font-size:                $font-size-base * 1.2857142857;
$global-modal-title-icon-font-size:           $font-size-base * 1.7142857143; //24px
$global-modal-footer-fas-font-size:           $font-size-base * 1.7142857143;
$global-modal-footer-chevron-font-size:       $font-size-base * 1.1428571429;
$global-modal-grid-footer-font-size:          $font-size-base * 1.1428571429;
$global-modal-footer-icon-font-size:          $font-size-base * 1.7142857143;
// --- margins
$global-modal-close-margin-top:               -$global-one-rem * 1.9375;
$global-modal-help-margin-top:                -$global-one-rem * 1.875;
$global-modal-body-margin-bottom:             $global-one-rem * 1.5;
$global-modal-body-title-margin-bottom:       $global-one-rem;
$global-modal-grid-footer-margin-bottom:      $global-zero;
// --- padding
$global-modal-header-padding-bottom:          $global-zero;
$global-modal-custom-padding-left:            $global-one-rem * 2.5;
// --- etc
$global-modal-grid-font-weight:               700;
$global-modal-grid-color:                     $mapfre-blue;
$global-modal-footer-padding:                 $padding-vertical;
$global-modal-body-title-font-weight:         700;
$global-modal-small-max-width:                344px; //we are needing an excate width 
$global-modal-small-width:                    100%;
$global-modal-title-icon-top:                 $global-one-rem * 0.25;
$global-modal-grid-footer-2-columns:          10fr 1fr;
$global-modal-grid-footer-3-columns:          1fr 9fr 1fr;
$global-modal-close-font-weight:              100;
$global-modal-grid-footer-font-weight:        400;

/*
    --- Information ---
    Global Modal styles
    If you can't find the style you are looking for check the component mapfre-modal
*/

.close {
  font-size:                                  $global-modal-close-font-size;
  font-weight:                                $global-modal-close-font-weight;
  margin-top:                                 $global-modal-close-margin-top !important;
  text-shadow:                                none !important;
}

.help {
  position:                                   absolute;
  top:                                        $global-modal-help-margin-top;
}

.modal-body {
  font-size:                                  $global-modal-body-font-size;  
  color:                                      $global-modal-body-color;
  margin-bottom:                              $global-modal-body-margin-bottom;
  text-align:                                 left;
}

.modal-body-title {
  font-weight:                                $global-modal-body-title-font-weight;
  margin-bottom:                              $global-modal-body-title-margin-bottom;
}

.modal-content {
  @include border-radius(0)
}

.modal-footer {
  justify-content:                            flex-start;
}

.modal-header {
  border-bottom:                              none;
  padding-bottom:                             $global-modal-header-padding-bottom;
}

.modal-small {
  max-width:                                  $global-modal-small-max-width;
  width:                                      $global-modal-small-width;
}

.modal-title {
  text-transform:                             uppercase;
  font-size:                                  $global-modal-title-font-size;
  text-align:                                 left;
  
  .material-icons {
    position:                                 relative;
    top:                                      $global-modal-title-icon-top;
    font-size:                                $global-modal-title-icon-font-size;
  }
}

.grid-modal-footer {
  margin-bottom:                              $global-modal-grid-footer-margin-bottom;
  
  &.two-column {
    display:                                  grid;
    grid-template-columns:                    $global-modal-grid-footer-2-columns;
    margin-bottom:                            $global-modal-grid-footer-margin-bottom;
  }

  &.three-column {
    display:                                  grid;
    grid-template-columns:                    $global-modal-grid-footer-3-columns;
  }

  .fas {
    font-size:                                $global-modal-footer-icon-font-size;
  }

  .fa-chevron-right {
    font-size:                                $global-modal-footer-chevron-font-size;
  }
}

a.grid-modal-footer {
  color:                                      $global-modal-footer-a-color;

  &:hover {
    background:                               $global-modal-footer-a-hover-background;
    color:                                    $global-modal-footer-a-hover-color;
    text-decoration:                          none;
    font-weight:                              $global-modal-grid-footer-font-weight;
  }
}

label.grid-modal-footer {
  color:                                      $global-modal-footer-label-hover-background;
  cursor:                                     pointer;
  font-size:                                  $global-modal-grid-footer-font-size;

  &.active {
    background:                               $global-modal-footer-label-active-background;
    color:                                    $global-modal-footer-label-hover-color;
  }

  &:hover {
    background:                               $global-modal-footer-label-hover-background;
    color:                                    $global-modal-footer-label-hover-color;
    text-decoration:                          none;
  }

  .custom-control {
    padding-left:                             $global-modal-custom-padding-left;
  }
}
