$mapfre-modal-link-color:                 					$mapfre-blue;
$mapfre-modal-link-font-size:             					$font-size-base;
$mapfre-modal-info-color:                 					$lite-gray;
$mapfre-modal-info-font-size:             					$font-size-base * 0.5;

$mapfre-modal-close-font-size:								      56px;
$mapfre-modal-body-font-size:								        1rem;
$mapfre-modal-title-color: 									        $mapfre-blue;
$mapfre-modal-grid-color: 								  	    #737373; 

$mapfre-modal-grid-font-size: 								      1rem;
$mapfre-modal-grid-font-weight:				 				      700;
$mapfre-modal-grid-color: 									        $mapfre-blue;

$global-modal-footer-padding:								        $padding-vertical;

.close {
	font-size: 												                $mapfre-modal-close-font-size;
	font-weight: 											                100;
	margin-top: 											                -31px !important;
	text-shadow: 											                none !important;
}

.help {
	position: 												                absolute;
	top: 													                    -30px;
}

.modal-body {
	font-size: 												                $mapfre-modal-body-font-size;  
	color: 													                #737373;
	margin-bottom: 24px;
	text-align: left;
}

.modal-body-title {
	font-weight: 											700;
	margin-bottom: 1rem;
}

.modal-content {
	@include border-radius(0)
}

.modal-footer {
  justify-content: 											flex-start;
}

.modal-header {
	border-bottom: 											none;
	padding-bottom: 										0
}

.modal-small {
	max-width: 												344px;
	width: 													100%;
}

.modal-title {
	text-transform: 										uppercase;
	font-size: 												18px;
	text-align: 											left;
	
	.material-icons {
		position: 											relative;
		top: 												4px;
    	font-size: 											24px;
	}
}

.grid-modal-footer {
	margin-bottom: 											0;
	
	&.two-column {
		display:                                			grid;
		grid-template-columns:                  			10fr 1fr;
		margin-bottom: 										0;
	}

	&.three-column {
		display:                                			grid;
		grid-template-columns:                  			1fr 9fr 1fr;
	}

	.fas {
		font-size: 											24px;
	}

	.fa-chevron-right {
		font-size: 											1rem;
	}
}

a.grid-modal-footer {
	color: 												  #4c4c4c;

	&:hover {
		background: 									  rgba(0, 0, 0, 0.1);
		color: 											  #4c4c4c;
		text-decoration: 									none;
		font-weight: 										400;
	}
}

label.grid-modal-footer {
	color: 												  #4c4c4c;
	cursor: 												pointer;
	font-size: 												1rem;

	&.active {
		background: 									 rgba(0,0,0,0.1);
		color: 											   $active-color;
	}

	&:hover {
		background: 									  rgba(0, 0, 0, 0.1);
		color: 											  #4c4c4c;
		text-decoration: 									none;
	}

	.custom-control {
		padding-left: 2.5rem;
	}
}

.wallet-front {
  
  .carousel-content {
    font-size: 16px;
    line-height: 24px;
    margin-top: 42px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }

  .carousel-indicators {
    bottom: 45px !important; //overriding mdbootstrap
  }

  .first-slide-title {
    color: $white;
    text-align: center;
    height: 104px;

    p {
      font-size: 18px;
      margin-bottom: 8px;
    }
    img {
      margin-bottom: 24px;
    }
  }

  .image {
    height: 240px;
  }

  .title {
    font-size:            32px;
    line-height:          48px;
    margin-bottom:        24px;
    height: 104px;
  }

  .wallet-footer {
    ul {
      text-align:   center;
      list-style: none;
      margin-left: 0;
      padding: 0;
    }
  }

  .carousel-content, 
  .title {
    color:        $white;
    text-align:   center;
  }
}

.wallet-popup {
  perspective: 800; //use mixin
  .modal-content {
    background: transparent;
    box-shadow: none !important;
  }
  
}

.wallet-card {
  position: relative;
  transform-style: preserve-3d; //use mixin
  transition: 0.5s; //use mixin

  .carousel-indicators {
    z-index: 1 !important;
  }

  &.flipped {
    transform: rotatey(180deg); //use mixin
    
    .wallet-front {
      animation-name: displayNone;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
    }
  
  }

  .wallet {
    backface-visibility: hidden; //use mixin
    top: 0;
    left: 0;
    
    font-weight:    100;
    padding:        40px;
    text-align:     center;
    height:         658px;
    width:          100%
  }

  .wallet-content {
    width:          328px;
    margin:         auto;
  }

  .wallet-back {
    background:     $white;
    z-index:        1;
    transform:      rotatey(180deg); //use mixin
    position:       absolute;
  }
  
  .wallet-front {
    animation-name: showFront;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    background:   $mapfre-red;
   z-index:      2;
  }
}


@keyframes displayNone {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes showFront {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}



