$global-body-bg-color:                      $lite-gray-two;
$global-hr-color:                           $lite-gray-three;
$global-prefix-padding-right:               $padding-vertical;
$global-title-font-size:                    $font-size-base + 0.25;
$global-title-font-family:                  $font-family-base;
$global-title-line-height:                  2rem;    
$global-red-override:                       $mapfre-red !important;
$global-hr-header-margin-bottom:            $padding-vertical +4;
$global-hr-body-margin-top:                 $padding-vertical *2;
$global-hr-body-margin-bottom:              $padding-vertical *2;
$global-login-hr-margin-top:                $margin-vertical *2.5;
$global-login-hr-margin-bottom:             $margin-vertical * 1.75;


body {
    background-color:                       $global-body-bg-color;
}

hr {
    border:                                 solid thin $global-hr-color;

	&.header {
		margin-top:                         0;
		margin-bottom:                      $global-hr-header-margin-bottom;
	}
	&.body {
		margin-top:                         2rem;
		margin-bottom:                      2rem;
    }
    
    &.hr-login {
        margin-top:                         $global-login-hr-margin-top;
        margin-bottom:                      $global-login-hr-margin-bottom;
    } 
}


a,
button {
    @include transition(1s);
}

a { 
    text-decoration:                        none;
    
    &:hover {
        font-weight:                        700
        /* - fake font-weight for on hover effect, this needs to be tweaked untill it looks right.
        text-shadow:
            -1px -1px 0 $active-color,
            1px -1px 0 $active-color,
            -1px 1px 0 $active-color,
            1px 1px 0  $active-color;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s; */
    }
}


input[type="text"]:focus,
textarea:focus {
    outline:                               0;
    box-shadow:                            none;
}

*:focus,
.form-control:focus:not(input[type="text"]),
input[type="submit"]:focus, input:focus,
textarea:focus {
    outline:                               0;
    box-shadow:                            none;
}

.bold,
.strong {
    font-weight:                            900;
}

.card-title {
    padding-bottom:                         1rem;
}

.center {
    text-align:                             center;
}

.center-margin {
    margin:                                 auto;
}

.logo {
    max-width:                              350px;
    width:                                  100%;
}

.mapfre-content {
    margin-top:                             5rem;
    @include media-breakpoint-down(xxs) {
        margin-top:                         10%;
    }
}
.prefix {
    float:                                  left;
    padding-right:                          $global-title-font-size;
}

.right {
    text-align:                             right;
}

.text-center {
    text-align:                             center;
}

.subtitle-copy {
    margin-bottom:                          0;
}

.title-copy {
    font-size:                              $global-title-font-size;
    font-family:                            $global-title-font-family;
    line-height:                            $global-title-line-height;
    padding:                                0 ;
}

.uppercase {
    text-transform:                         uppercase;
    span {
        text-transform:                     uppercase;
    }
}

// ---- class overrides ----
.container {
    @include media-breakpoint-down(xxs) {
        padding:                            0;
    }
}
.navbar {
    box-shadow:                             none;
}
.red-background, .red {
    background-color:                       $global-red-override; 
}

.modal-backdrop { //temp solution
    z-index: 1028;
}
