$global-body-bg-color:                      $lite-gray-2;
$global-prefix-padding-right:               $padding-vertical;
$global-title-font-size:                    $font-size-base * 1.25;
$global-title-font-family:                  $font-family-base;
$global-red-override:                       $mapfre-red !important;

body {
    background-color:                       $global-body-bg-color;
}
input[type=text]:focus {
    outline:                                none;
}

.bold {
    font-weight:                            900;
}

.center {
    text-align:                             center;
}
.card-center {
    margin:                                 auto;
}
.mapfre-content {
    margin-top:                             100px;
}
.prefix {
    float:                                  left;
    padding-right:                          $global-title-font-size;
}
.right {
    text-align:                             right;
}
.text-center {
    text-align:                             center;
}

.title-copy {
    font-size:                              $global-title-font-size;
    padding:                                $global-title-font-size 0;
    font-family:                            $global-title-font-family;
}

// ---- class overrides ----
.navbar {
    box-shadow:                             none;
}
.red-background, .red {
    background-color:                       $global-red-override; 
}

