<div class="email-title text-center">{{ userEmail }}</div>
<div class="text-center spacer">
  {{ 'ALL_READY_IN_USE' | translate }}
</div>
<div class="group-buttons text-center">
  <mapfre-button 
    [additionalClasses]="'basic primary large button-spacer'"
    [routerLink]="['/login']"> 
    {{ 'LOGIN' | translate }} 
  </mapfre-button>
  <mapfre-button 
    [additionalClasses]="'ghost secondary small'"
    [routerLink]="['/signup']"> 
    {{ 'CREATE_ACCOUNT' | translate }} 
  </mapfre-button>
</div>
<hr class="hr-login" />
<div class="text-center">
  {{ 'IF_YOU_DONT_REMEMBER' | translate }}
</div>