<form 
  [formGroup]="changePasswordForm" 
  name="changePasswordForm"  
  (ngSubmit)="changePasswordForm.valid && onConfirmChange()">
  
  <div class="row">
    <div class="col">
      <div *ngFor="let input of inputs" class="inputs">
        <mapfre-validation [input]="input" [form]="changePasswordForm" [additionalClasses]="'margin-top mt24 margin-bottom mb16'"></mapfre-validation>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="forgotPassword">
    <div class="col forgot-password">
      <mapfre-link
        (click)="prefillEmailParamater()"
        [additionalClasses]="'switch-line-up blue-link margin-bottom mb24'"
        >{{ 'FORGOT_PASS' | translate }}{{'?'}}
      </mapfre-link>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mapfre-button
        [additionalClasses]="'basic primary large  waves-effect waves-light'"
        [disabledValue]="changePasswordForm.valid" 
        [inputType]="'submit'"
        [translateValue]="'CONFIRM' | translate"
      ></mapfre-button>
    </div>
  </div>
  <div class="row margin-top mt24 text-center">
    <div class="col">
      <mapfre-button
        [additionalClasses]="'flat link small  waves-effect'"
        [customIcon]="'assets/img/icons/back-arrow.png'"
        [iconClasses]="'align-middle'"
        [routerLink]="['/profile']"
        [showIconsCustom]="true"
      >  {{ 'BACK' | translate }}
      </mapfre-button>
    </div>
  </div>
</form>