<ng-container *ngFor="let policy of policyDetails">
    <ng-container *ngIf="policy.policynumber.policynumber == policyId">
      <mapfre-card 
        [singleCard]="false"
        [additionalClasses]="'policy-details billing details ' + policy.policyType">
        <header class="margin-bottom mb16 no-margins-hug hug-header">
          <div class="policy-background">
            <div class="car" *ngIf="policy.policyType == 'AUTO'"></div>
            <div class="house" *ngIf="policy.policyType == 'HOME'"></div>
          </div>
          <div class="type-title">
            <h1 class="title">
              {{ policy.policyType | translate}} &mdash; {{ policy.policynumber.policynumber }} 
              <small>
              <span [ngClass]="{'green-color': policy.policyStatus === 'ACTIVE', 
                'red-color': policy.policyStatus === 'INACTIVE' }">
                <small>{{policy.effDate | customDateFormat }} {{ 'TO' |translate }} {{policy.expDate | customDateFormat }}</small>
              </span>
            </small>
            </h1>
          </div>
        </header>
        <app-dashboard-nav [policyId]="policyId"></app-dashboard-nav>
        <section class="row margin-top mt40 mobile-margin"> 
          <div class="col col1 col-md-8 margin-bottom mb24">
            <div class="row">
              <div class="col">
                <div class="policy-icon">
                  <svg-money-mono-color-svg></svg-money-mono-color-svg>
                </div>
                <h2 class="title" [ngClass]="{'no-border': findOutstandingBalance(policy) }">
                  {{ 'BILLING_OVERVIEW' | translate }}
                </h2>

                <ng-container *ngIf="!findOutstandingBalance(policy); else currentBalance">
                  <div class="margin-top mt16 d-table w-100">
                    <div class="no-payment-svg d-table-cell padding pr16">
                      <svg-check-icon-svg></svg-check-icon-svg> 
                    </div>
                    <div class="green-color font-medium d-table-cell align-middle">
                      {{ 'NO_PAYMENTS' | translate }}
                    </div>
                  </div>
                </ng-container>

                <ng-template #currentBalance>  
                  <table mdbTable class="claims-table">
                    <thead class="lite-grey-color">
                      <tr class="row-content border-full grey-border">
                        <td>  
                            {{ 'CUSTOMER_BALANCE' | translate }}
                        </td>
                        <td> 
                            {{ 'DUE_DATE' | translate }}
                        </td>
                        <td> 
                            {{ 'AMOUNT' | translate }}
                        </td>
                      </tr>
                    </thead>
                    <tbody class="med-grey-color">
                      <tr class="row-content border-full grey-border  no-border-bottom">
                        <td>
                          <strong>{{ policy.billingDetails[0]?.outstandingbalance | currency }}</strong>
                        </td>
                        <td>
                            <strong>{{ policy.billingDetails[0]?.paymentDueDate |   date:'MM/dd/yy' }}</strong>
                        </td>
                        <td>
                            <strong>{{ policy.billingDetails[0]?.minAmountDue | currency }}</strong>
                        </td>
                      </tr>
                      <tr class="border-full grey-border no-border-top">
                        <td colspan="3" class="text-center no-border-top">
                          <mapfre-link
                            [additionalClasses]="'basic primary large btn width w75'"
                            [routerLink]="['/billing/' +  policy.policynumber.policynumber + '/new-payment/']">
                            {{ 'PAY_BY_CHECK' | translate}}
                          </mapfre-link>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </ng-template>

              </div>
            </div>
            <div class=" margin-top mt40 w-100">
              <div class="">

                <ng-container *ngIf="!findOutstandingBalance(policy); else showSchedule">
                  <div class="policy-icon">
                      <svg-calendar-mono-color-svg></svg-calendar-mono-color-svg>  
                  </div>
                  <h2 class="title no-border">
                    {{ 'PAYMENT_HISTORY' | translate }}
                  </h2>
                  <table mdbTable class="claims-table">
                    <tbody class="med-grey-color">
                      <tr class="row-content border-full grey-border lite-grey-color">
                        <td>  
                            {{ 'AMOUNT' | translate }}
                        </td>
                        <td class="text-right"> 
                            {{ 'DATE' | translate }}
                        </td>
                      </tr>
                      <ng-container *ngFor="let historyPayment of policy.billingHistory">
                      <tr class="row-content border-full grey-border">
                        <td>
                          <strong>{{ historyPayment.minAmountDue | currency }}</strong>
                        </td>
                        <td class="text-right"> 
                          <strong>{{ historyPayment.dateApplied |  date:'MM/dd/yy' }}</strong>
                        </td>
                      </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </ng-container>


                <ng-template #showSchedule>
                  <nav class="tab-accordian-navigation">
                    <div class="tab-navigation">
                      <ul class="w-100 pl-0 d-table no-margin">
                        <li [ngClass]="{'active': schedualOrHistory }" class="width w-50">
                          <a (click)="switchHistories('schedual')">{{'SCHEDULED_PAYMENTS' | translate}}</a>
                        </li>
                        <li [ngClass]="{'active': !schedualOrHistory }" class="width w-50">
                            <a (click)="switchHistories('history')">{{'HISTORY' | translate}}</a>
                        </li>
                      </ul>
                    </div>
                  </nav>
                  <table mdbTable class="claims-table w-100" *ngIf="schedualOrHistory">
                    <tbody class="med-grey-color">
                      <tr class="row-content border-full grey-border lite-grey-color">
                        <td>  
                            {{ 'AMOUNT' | translate }}
                        </td>
                        <td class="text-right"> 
                            {{ 'DATE' | translate }}
                        </td>
                      </tr>
                      <ng-container *ngFor="let scheduledPayment of policy.scheduledBills">
                        <tr class="row-content border-full grey-border">
                          <td>
                            <strong>{{ scheduledPayment.minAmountDue | currency }}</strong>
                          </td>
                          <td class="text-right"> 
                              <strong>{{ scheduledPayment.dueDate |  date:'MM/dd/yy' }}</strong>
                          </td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                  <table mdbTable class="claims-table w-100" *ngIf="!schedualOrHistory">
                    <tbody class="med-grey-color">
                      <tr class="row-content border-full grey-border lite-grey-color">
                        <td>  
                            {{ 'AMOUNT' | translate }}
                        </td>
                        <td class="text-right"> 
                            {{ 'DATE' | translate }}
                        </td>
                      </tr>
                      <ng-container *ngFor="let historyPayment of policy.billingHistory">
                      <tr class="row-content border-full grey-border">
                        <td>
                          <strong>{{ historyPayment.amountPaid | currency }}</strong>
                        </td>
                        <td class="text-right"> 
                          <strong>{{ historyPayment.dateApplied |  date:'MM/dd/yy' }}</strong>
                        </td>
                      </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </ng-template>
              </div>
            </div>
          </div>
          
          <div class="col col2 col-md-4">
            <div class="margin-bottom mb32" *ngIf="policy.pendingCheckPayments">
              <h2 class="title no-border">
                {{ 'PENDING_CHECKS' | translate }}
              </h2>
              <table mdbTable class="claims-table w-100">
                <thead class="lite-grey-color">
                  <tr class="row-content border-full grey-border">
                    <td>  
                        {{ 'AMOUNT' | translate }}
                    </td>
                    <td class="text-right"> 
                        {{ 'DATE' | translate }}
                    </td>
                  </tr>
                </thead>
                <tbody class="med-grey-color">
                  <ng-container *ngFor="let pendingCheckPayment of policy.pendingCheckPayments ">
                    <tr class="row-content border-full grey-border">
                      <td>
                        <strong>{{ pendingCheckPayment.paymentAmount | currency }}</strong>
                      </td>
                      <td class="text-right"> 
                          <strong>{{ pendingCheckPayment.paymentDateTime | date:'MM/dd/yy'}}</strong>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
            <app-billing-sidebar [policy]="policy"></app-billing-sidebar>
          </div>
        </section>
    </mapfre-card>
  </ng-container>
</ng-container>