<form 
  [formGroup]="newPaymentForm" 
  name="newPaymentForm"  
  (ngSubmit)="newPaymentForm.valid && newPaymentRadioForm.valid && newPaymentFormSubmit()">
  
  <section class="row radio-amount"  [formGroup]="newPaymentRadioForm">
    <div class="col">
      <h2 class="title margin-bottom mb16">Select amount</h2>
      <div class="row">
        <div class="col">
          <div class="radio-label padding-left pl4">
            <input class="" type="radio" id="paymentAmount-minimum" name="paymentAmount" checked formControlName="paymentAmount" value="100" required="true" (change)="OnChangeShowCustomAmountField('min')">
            <label class="" for="paymentAmount-minimum">Minimum amount due</label>
          </div>
        </div>
        <div class="col payment-amount text-right">
          <strong>$100.00</strong>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="radio-label padding-left pl4">
            <input class="" type="radio" id="paymentAmount-max" name="paymentAmount" formControlName="paymentAmount" value="400" required="true" (change)="OnChangeShowCustomAmountField('max')">
            <label class="" for="paymentAmount-max">Outstanding policy balance</label>
          </div>
        </div>
        <div class="col payment-amount text-right">
          <strong>$400.00</strong>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="radio-label padding-left pl4">
            <input 
              class=""
              type="radio"
              id="paymentAmount-other" 
              name="paymentAmount" 
              formControlName="paymentAmount" 
              value="other" 
              required="true"
              (change)="OnChangeShowCustomAmountField('other')">
            <label class="" for="paymentAmount-other">Other amount</label>
          </div>
        </div>
      </div>
      <div class="row margin-top mt16" *ngIf="showCustomAmount">
        <div class="col input-content" style="margin-left: 20px">
          <div class= "input-field mapfre">
            <input 
              class="w-50"
              formControlName="otherAmount"
              id="otherAmount"
              name="otherAmount"
              type="tel"
              [mdbValidate]="false"
              mdbInputDirective
              />
            <mapfre-label forInput= "otherAmount">Enter Amount</mapfre-label>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="row bank-inputs margin-top mt24">
    <div class="col">
      <h2 class="title">
        Checking account
      </h2>

      <div class="checking-form margin-top mt16">
        <div *ngFor="let input of inputs" class="input" [ngClass]="{ 'first-input': input?.inputType == 'address' }">
          <ng-container *ngIf="input.inputType == 'checkbox'">
            <div class="margin-vertical mv8">
              <input class="single-checkbox" id="store-checkbox"  type="checkbox" [formControlName]="input?.key">
              <label class="margin-left ml16" for="store-checkbox">{{input.label}}</label>
            </div>
          </ng-container>
          <ng-container *ngIf="input.inputType != 'checkbox'">
            <mapfre-validation [input]="input" [form]="newPaymentForm"></mapfre-validation>
          </ng-container>
        </div>
      </div>
      
      <div class="row text-center margin-top mt32">
        <div class="col">
          <mapfre-button
            [additionalClasses]="'basic primary large w-75 center-button'"
            [disabledValue]="newPaymentForm.valid && newPaymentRadioForm.valid" 
            [inputType]="'submit'"
            [translateValue]="'CONTINUE' | translate">
          </mapfre-button>
        </div>
      </div>
      <div class="row text-center margin-bottom mb24 margin-top mt16">
        <div class="col">
          <mapfre-button
            [additionalClasses]="'ghost secondary small'"
            [routerLink]="['/my-insurance']">
            {{ 'CANCEL' | translate}}
          </mapfre-button>
        </div>
      </div>
    </div>
  </section>
</form>
