.informaton-container {
  padding-left: 80px;
  padding-right: 80px;
  
  a.home-list {
    color: $black;
    margin-top: -7px;

    &:hover {
      background: #F7F7F7;
    }
  }
  
  .col.icon-container {
    padding-right: 0;
    max-width: 30px;

    i {
      font-size: 12px;
      color: #006580;
    }
  }

}

.header-container {
  img {
    max-width: 100%
  }
}

.header {
  margin-left: -25px;
  margin-top: -25px;
  margin-right: -25px;

  .col {
    padding: 0;
  }
}

.top-information {
  margin-left: -1.5rem;
}

.information-content {
 padding-left: 36px;
 padding-right: 36px;
}

h1.information-title {
  font-size: 18px;
  line-height: 32px;
}

h2.information-title {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}

.information-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.products-container {
  .product {
    width: 33%;
    text-align: center;
    padding: 32px;
    float: left;
    display: table;
    height: 149px;
    color: $black;

    svg {
      width: 38px;
      height: 38px;
    }

    .product-content {
      display: table-cell;
      vertical-align: top;
      font-size: 16px;
      line-height: 24px;
    }

    .green-color {
      font-size: 12px;
      line-height: 16px;
    }

    &:hover {
      background: #F7F7F7;
      cursor: pointer;
    }
  }
}