.products-container {
  flex-wrap: wrap;
  
  .product {
    width:                  33%;
    height:                 80px;
    color:                  $black;
    padding-top:            8px;

    @media (max-width: 376px) {
      width:                50%;
    }

    svg {
      width:                36px;
      height:               36px;
    }

    .product-content {
      vertical-align:       top;
      font-size:            16px;
      line-height:          24px;
    }

    .green-color {
      font-size:            12px;
      line-height:          16px;
    }

    &:hover {
      background:           $softer-grey;
      cursor:               pointer;
    }
  }
}