<form 
  name="addPolicyForm"
  [formGroup]="addPolicyForm" 
  (ngSubmit)="addPolicyForm.valid && addPolicy()">
  <div class="">
    <div *ngFor="let input of inputs; trackBy: trackingInputs" class="input">
      <mapfre-validation [input]="input" [form]="addPolicyForm"></mapfre-validation>
    </div>
  </div>
  <div class="form-check margin-bottom mb24">
    <input class="form-check-input" type="checkbox" id="legal-checkbox" required (change)="getLegalCheckBoxValue($event)">
    <label class="form-check-label legal disclaimer disclaimer small" for="legal-checkbox">{{ 'I_AM_THE_POLICY_HOLDER' | translate }}</label>
  </div>
  <div class="row">
    <div class="col">
      <mapfre-button
        [additionalClasses]="'basic primary large'"
        [disabledValue]="addPolicyForm.valid && legalCheckbox" 
        [inputType]="'submit'"
        [translateValue]="'ADD_POLICY' | translate"
      ></mapfre-button>
    </div>
  </div>
</form>