@import '_app-components/all';

.account {
  @media (min-width: 992px) {
    margin-left:        65px;
  }

  a {
    border:             none;
    font-size:          14px;
    text-align:         left;
    line-height:        24px;

    &:hover {
      background:     #F7F7F7;
    }
  }

  i {
    font-size:          24px;
  }

  .active {
    background: #F7F7F7;
  }

  .account-header {
    float:              left;
    color:            #fff;
    font-size:          14px;
    line-height:        24px;
    font-weight:        400;

    .account-header-copy {
      margin-left:      10px;
      margin-right:     10px;
      margin-bottom:    -4px;
      text-transform:   capitalize;

      @media (max-width: 991px) {
        display:        none;
      }
    }
    
    i {
      color:          #fff;
      font-size:        14px;

      @media (max-width: 991px) {
        display:        none;
      }
    }
  }

  .icon-container {
    padding-top:        0 !important;
    height:             24px;
    display:            flex;
    align-items:        center;

    svg {
      height:         24px;
      width:          24px;
    }
  }

  .header-icon-icon-height {
    float:              left;
  }

  .modal-content {
    padding-bottom:     18px;
  }

  .modal-header {
    h4 {
      padding-top:      16px;
      padding-bottom:   16px;
    }

    button {
      margin-top:       -6px;
    }
  }

  .modal-body {
    padding-top:        0;
    padding-bottom:     0;
  }
}

.auto .policy-background .svg-container svg {
  margin-left: 13px;
}

.col.one-column {
  @media (min-width: 992px) and (max-width: 1019px) {
    margin-left: 256px;
    max-width: 71%;
  }
}

.container {
  &.loggedin {
    max-width:        1190px;
    
    .logo {
      @media (max-width:1190px) {
        padding-left: 16px;
      }
    }
  }

  &.loggedout {
    max-width:        992px;
  }
}

.center-on-page {
  @media (max-width: 991px) {
    margin: auto;
  }
}

.col.main-column {
  @media (max-width: 376px){
     //padding-right: 0;
  }
}

.column-misc {
  max-width: 216px;
  padding-right: 16px;

  @media (max-width: 767px) {
    max-width: 100%;
    padding-left: 16px;
  }

  @media (max-width: 376px) {
    padding-right: 0;
  }

  img {
    max-width: 144px;

    @media (max-width: 376px) {
      max-width: 80px;
    }
  }
}

.container-fluid {
  @media (max-width: 376px){ 
    overflow: hidden;
  }
}

.dashboard-navigation {
  a {
    display:        block;
    padding:        8px;
    color:        #737373;
    font-size:      14px;
    text-align:     left;
    line-height:    24px;
    position:       relative;

    i {
      font-size:    24px;
    }

    .active-icon {
      display:      none;
    }

    .icon-content {
      margin:       auto;
    }

    .nav-icon {
      height:         24px;
      display:        flex;
      align-items:    center;
      
      svg {
        height:       24px;
        width:        24px;
      }
    }

    .non-active-icon {
      display:      block;
      
      svg {
        fill:       #737373;
      }
    }

    &.active {
      color:        #006580;
      
      .nav-copy {
        text-shadow: 1px 0 0 #006580;
      }

      .nav-icon  svg path{
        fill:       #006580;
      }

      .non-active-icon {
        display: none;
      }

      .active-icon {
        display: block;
      }

      &:hover:after {
        color:      #006580;
      }
    }

    &:after {
      transition:     1s ease;
      font-family:    FontAwesome;
      font-size:      16px;
      position:       absolute;
      right:          16px;
      top:            16px;
    }
  }

  ul {
    list-style:       none;
    margin:           0;
    padding:          0;
  }

  .nav-content-card {
    padding:          0;

    @media (min-width: 992px) {
      width:          256px;
      position:       fixed;
    }
  }

  @media (min-width: 992px) {
    width:            256px;
    float:            left;
    
    a {
      padding:        12px;
      padding-left:   32px;

      &:hover {
        background: #F7F7F7;
        
        &:after {
          content:    '\f054';
        }
      }
    }

    ul {
      padding-top:      32px;
      padding-bottom:   32px;
      display:          block;

      li {
        display:        block;
      }
    }

    .nav-copy {
      padding-left:     16px;
    }

    .nav-content {
      display:          table-cell;
      vertical-align:   middle;
    }

    .nav-icon {
      float:            left;
    }
  }

  @media (max-width: 350px) {
    a {
      font-size: 8px;
    }

    .active .nav-copy {
      text-shadow: none;
    }

    .nav-content {
      font-size: 8px;
    }
  } 
  
  @media (max-width: 991px) {
    position:           fixed;
    bottom:             0;
    right:              0;
    left:               0;
    width:              100%;
    z-index:          100;

    ul {
      display: table;
      width:100%;

      li {
        display:          table-cell;
      }
    }

    a {
      text-align:       center;
    }

    .nav-content {
      display:          block;
    }

    svg {
      margin:           auto;
      display:          block;
    }
  }
}

.iphonex {
  padding-bottom: 32px;
}

.loggedin-footer {
  @media (max-width: 992px) {
    padding-bottom: 50px;
  }
}

.mapfre-content.loggedin ~ .footer-copyright {
  background: #749806;

  @media (min-width: 992px) {
    padding: 56px;
  }
}

.navbar .container.loggedin {
  padding-left:         0;
}

.show-more-button {
  cursor: pointer;
}

.show-more-detail {
  overflow: auto;
  display: block;
  white-space: normal;
}


.car {
  background-image: url('./assets/img/images/car_background.png');
}

.house {
  background-image: url('./assets/img/images/house_bg.png');
}

.details {
  header {
    display: table;
    position: relative;
  }

  h2 {
    .svg-container {
      float: left;
      padding-right: 16px;

      svg {
        width: 24px;
      }
    }
  }

  .policy-details-content {
    @media (min-width: 1200px) {
      padding: 0 24px;
    }
  }

  .col1,
  .col2 {
    @media (max-width: 767px) {
      padding: 0;
    }

  }

  .col1 {
    @media (min-width: 1200px) {
      padding-right: 40px;
    }
    @media (min-width:768px) and (max-width: 1199px) {
      padding-left: 8px;
      padding-right: 16px;
    }
  }
  .col2 {
    @media (min-width: 1200px) {
      padding-left: 40px;
    }

    @media (min-width:768px) and (max-width: 1199px) {
      padding-left: 16px;
      padding-right: 8px;
    }
   
    @media (min-width: 768px) {   
      max-width: 310px;
      border-left: 2px solid #EAE9E9;
    }
  }

  .row-section.mb40,
  .policy-holders.row-section.mb16 {
    @media (max-width: 767px) {
      margin-bottom: 32px !important;
    }
  }

  .type-title {
    display: table-cell;
    vertical-align: middle;
  }

  .policy-background {
    display: table-cell;
    max-width: 42px;
    position: relative;

    @media (max-width: 575px) {
      max-width: 32px;
    }

    .car,
    .house {
      height: 64px;
      width: 90px;
      background-size: auto 64px;
      background-repeat: no-repeat;

      @media (max-width: 575px) {
        height: 72px;
        width: 45px;
        background-size: auto 71px;
      }
    }
  }

  .legal-section {
    padding-top: 56px;
  }

  .title {
    padding: 0;
    margin: 0;
  }

  h1.title {
    font-size: 24px;
    line-height: 40px;

    @media (max-width: 575px) {
      font-size: 14px;
    }

    small {
      font-size: 16px;
      padding-left: 16px;

      @media (max-width: 575px) {
        font-size: 12px;
        padding-left: 8px;
      }
    }
  }

  .mapfre-card-download-button {
    .col-right {
      @media (max-width: 394px) {
        max-width: 122px;
        padding-left: 0;
      }
    }

    .btn.mapfre.xsmall {
      // This maybe moved to the library.
      // Don't know if these reponsive actions should be on all xsmall buttons

      @media (max-width: 394px) {
        padding-left: 0;
        padding-right: 0;
        font-size: 12px;
      }
    }
  }

  .vehicle-spacer-input {
    margin-top: 56px;
  }

  .vehicle {
    .input-field.mapfre label.active.error {
      color: #737373;
    }

    .input-field.mapfre .counter-success + label {
      color: #737373;
    }

    input {
      color: #4c4c4c;
      border-bottom-color: #c4c4c4;
    }
  }

  h2.title {
    font-size: 18px;
    line-height: 32px;
    border-bottom: 2px solid #EAE9E9;;
    color: #adaaaa;
    padding-bottom: 10px;

    .small-subtitle { 
      color: #7E7E7E;
      font-size: 11px;
      line-height: 16px;
    }
  }

  h3.title {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .address {
    display: table;
    width: 100%;

    i {
      font-size: 18px;
    }
  
    .address-copy {
     width: 228px;
    }
  
    .edit-address {
      max-width: 42px;
    }

    .col {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .paperless {
    .paperless-cta {
      color: #749806;
      font-size: 16px;
      font-weight: bold;
      line-height: 24px;
    }

    .paperless-icon {
      max-width:60px; 
      padding-right: 16px;
      
      svg path {
        fill: #749806;
      }
    }

    .paperless-copy { 
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.policy-details-nav {
  margin-left: -10px;
  margin-right: -40px;
}

.section-description {
  color: #737373;
  font-size: 12px;
  line-height: 16px;
}

.accordian-navigation {
  ul {
    display: table;
    margin: 0;
    padding: 0;
    width: 100%;
    margin: 0 -15px;

    li {
      display: table-cell;
      border-bottom: 2px solid #C4C4C4;
      width: 33%;
      
      a{
        display: block;
        text-align: center;
        color: #4C4C4C;
        padding-top: 8px;
        padding-bottom: 8px;

        &:hover {
          background:     #F7F7F7;
        }
      }

      &.active {
        border-bottom: 4px solid #006580;

        a {
          color: #006580;
          text-shadow: 1px 0 0 #006580;
        }
       
      }
    }
  }
}

.hide {
  @include transition(1s);
  display: none;
}

.show {
  @include transition(1s);
  display: block;
}

.no-documents .col {
  max-width: 456px;
  margin: auto;
  text-align: center;
  padding-bottom: 80px;
  padding-top: 64px;

  img {
    text-align: center;
    max-width: 344px;
  }
}

.legal {
  color: #ADAAAA;
  font-size: 12px;
  font-family: 'Inter UI', sans-serif;
  font-weight: normal;
  text-align: left;
  line-height: 16px;
}

#gmap_canvas {
  max-width: 600px;
  width: 100%;
}

.title-case {
  text-transform: capitalize;
}

.input-control.disabled {
  .btn.mapfre.ghost.primary:disabled {
    border-color: #c6db80;
    color: #C6DB81 !important;
    background: transparent !important;
  }

  .form-control.disabled {

  }
}

.claim-link,
.policy-link {
  border: 2px solid $dark-blue;
  
  svg g {
    @include transition(0.5s);
  }

  &:hover {
    background: $white;

    svg g {
      fill: $dark-blue;
    }
  }
}

// ---- this will be placed in the design library
// ---- and be used in the mapfre card
.single-card-column {
  max-width: 446px;
  margin: auto;

  .btn.large {
    max-width: 240px;
    margin: auto;

    @media (max-width: 529px) {
      max-width: 100%;
    }
  }

  .first-input {
    @media (max-width: 529px) {
      width: 100%;
      float: none;
    }
  }
  
  .custom-radio {
    @media (max-width: 529px) {

    }
  }

  .custom-control-inline {
    width: 80px;
  }

  .custom-control {
    padding-left: 10px;
  }

  // ---- radio buttons these will need to be placed in the design- library

  input[type="radio"] {
    &:before {
      top: -1px;
      left: -12px;
    }

    &:after {
      left: -10px;
      top: 1px;
    }
  }

  .custom-control-label {
    padding-left: 8px;
  }

}

  // ---- alert updates these will need to be placed in the design- library
.mapfre.alert {
  .a-cont {
    display: table;
  }

  .col {
    padding: 0;
  }

  .icon {
    padding-right: 0;
    padding-left: 8px;
    width: 40px;
  }

  .m {
    display: table-cell;
    padding-left: 8px;
    vertical-align: middle;
  }
}

.social {
  list-style: none;
  padding: 0;
  margin: 0;

  &.inline {
    display: table;

    li {
    display: table-cell;
    }
  }

  li a {
    padding: 8px;
  }
}

.info {
  color: #737373;
  font-size: 12px;
  line-height: 16px;
}

.agent-info {
  .col-description {
    max-width: 57px;
    padding-right: 0;
  }

  .col-info {
    padding-left: 8px;
  }

  .agent-name {
    color: #4C4C4C;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
  }

  .policy-info {
    color: #7E7E7E;
    font-size: 12px;
    line-height: 16px;
  }

  .agent-address {
    color: #4C4C4C;
    font-size: 12px;
    line-height: 16px;
  }

  .agent-phone,
  .agent-email {
    font-size: 12px;
    line-height: 16px;
  }

  .agent-email {

  }
}

.update-mileage {
 
  padding: 0;

  @media (min-width: 768px) {
    width: 296px;
  }

  .legal {
    color:  #4c4c4c;
  }

  .checkbox {
    input {
      float: left;
      margin-left: 2px;
    }

    label {
      margin-left: 12px;
      margin-top: -5px;
     
      float: left;

      @media (min-width: 768px) {
        width: 270px;
      }

      @media (max-width: 402px) {
        width: 270px;
      }
    }
  }
}
.policy-link {
  padding: 8px;
  padding-right: 16px;
}

.policy-link,
.claim-link {
  background: #006580;
  color: #fff;
  display: block;
  text-align: right;
  font-weight: bold;
}

.image-max-width {
  max-width: 100%;
  padding: 32px;
}

h1.title-cta {
  font-size: 24px;
  line-height: normal;
}

/* general should be moved to the general area */

.border-full {
  border: thin solid;

  &.grey-border {
    border-color: $soft-grey;
  }
}

.no-border {
  border: none !important;
}

.lite-grey-color {
  color: $grey;
}

.med-grey-color {
  color: $med-gray;
}

.radio-label {
  label {
    margin-left: 16px;
  }
}

.table {
  @media (max-width:520px) {
    td {
      font-size: 12px;
      padding: 8px !important;
    }
  }
}


.details {
  h1.title {
    color: $grey;
    font-size: 24px;
    line-height: normal;
    padding-left: 8px;
    margin-bottom: 0;
    margin-top: -8px;

    @media (max-width: 575px) {
      font-size: 18px;
      margin-top: 8px;
    } 
  }

  h2.claim-id {
    color: $med-gray;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 0;

    @media (max-width: 575px) {
      font-size: 14px;
      line-height: 24px;
    } 
  }

  h2.title {
    font-size: 18px;
    line-height: 32px;
    border-bottom: 2px solid $soft-grey;;
    color: $grey;
    text-align: left;

    .small-subtitle { 
      color: $dark-grey;
      font-size: 11px;
      line-height: 16px;
    }

    .svg-container {
      float: left;
      padding-right: 16px;

      svg {
        width: 24px;
      }
    }
  }
}