@import '_app-components/all';

a[href^="mailto"] {
  word-break:           break-word;
  hyphens:              auto;
}

h1.title-cta {
  font-size:            24px;
  line-height:          normal;
}

.account {
  a {
    border:             none;
    font-size:          14px;
    text-align:         left;
    line-height:        24px;

    &:hover {
      background:     #F7F7F7;
    }
  }

  i {
    font-size:          24px;
  }

  .active {
    background:       #F7F7F7;
  }

  .account-header {
    float:              left;
    color:              $white;
    font-size:          14px;
    line-height:        24px;
    font-weight:        400;

    .account-header-copy {
      margin-left:      10px;
      margin-right:     10px;
      margin-bottom:    -4px;
      text-transform:   capitalize;

      @media (max-width: 991px) {
        display:        none;
      }
    }
    
    i {
      color:          #fff;
      font-size:        14px;

      @media (max-width: 991px) {
        display:        none;
      }
    }
  }

  .icon-container {
    padding-top:        0 !important;
    height:             24px;
    display:            flex;
    align-items:        center;

    svg {
      height:           24px;
      width:            24px;
    }
  }

  .header-icon-icon-height {
    float:              left;
  }

  .modal-content {
    padding-bottom:     18px;
  }

  .modal-header {
    h4 {
      padding-top:      16px;
      padding-bottom:   16px;
    }

    button {
      margin-top:       -6px;
    }
  }

  .modal-body {
    padding-top:        0;
    padding-bottom:     0;
  }
}

.agent-info {
  .col-description {
    max-width: 57px;
    padding-right: 0;
  }

  .col-info {
    padding-left: 8px;
  }

  .agent-name {
    color: $fake-black;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
  }

  .policy-info {
    color: $med-gray;
    font-size: 12px;
    line-height: 16px;
  }

  .agent-address {
    color: $grey;
    font-size: 12px;
    line-height: 16px;
  }

  .agent-phone,
  .agent-email {
    font-size: 12px;
    line-height: 16px;
  }

  .agent-email {

  }
}

.auto .policy-background .svg-container svg {
  margin-left: 13px;
}

.car {
  background-image: url('./assets/img/images/car_background.png');
}

.house {
  background-image: url('./assets/img/images/house_bg.png');
}

.claim-link,
.policy-link {
  background:         $dark-blue;
  color:              $white;
  display:            block;
  text-align:         right;
  font-weight:        bold;
  border:             2px solid $dark-blue;
  
  svg g {
    @include transition(0.5s);
  }

  &:hover {
    background:       $hover-blue;
    border-color:     $hover-blue;
    color:            $white;
  }
}

.col.one-column {
  @media (min-width: 992px) and (max-width: 1019px) {
    margin-left:      256px;
    max-width:        71%;
  }
}

.col1-image {
  max-width:          177px;

  img {
    width:            144px;
  }
}

.container {
  &.loggedin {
    max-width:        1184px;
    padding:          0;

    @media (min-width: 375px ) and (max-width: 1199px) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  &.loggedout {
    max-width:        992px;
  }
}

.center-on-page {
  @media (max-width: 991px) {
    margin:           auto;
  }
}

.container-fluid {
  @media (max-width: 376px){ 
    overflow:           hidden;
  }
}

.custom-select {
  border-radius:        0;
  border:               none;
  border-bottom:        0.125rem solid $dark-grey;
}

.card.mapfre.details {
  padding-left:         40px;
  padding-right:        40px;

  @media (max-width: 1199px) {
    padding-left:       16px;
    padding-right:      16px;
    
    padding-top:        16px;
  }

  @media (max-width: 991px) {
    margin-top:         16px;
  }


}

.dashboard-navigation {
  a {
    display:            block;
    padding:            8px;
    color:              $dark-grey;
    font-size:          14px;
    text-align:         left;
    line-height:        24px;
    position:           relative;

    i {
      font-size:        24px;
    }

    .active-icon {
      display:         none;
    }

    .icon-content {
      margin:          auto;
    }

    .nav-icon {
      height:         24px;
      display:        flex;
      align-items:    center;
      
      svg {
        height:       24px;
        width:        24px;
      }
    }

    .non-active-icon {
      display:      block;
      
      svg {
        fill:       $dark-grey;
      }
    }

    &.active {
      color:        $dark-blue;
      
      .nav-copy {
        text-shadow: 1px 0 0 $dark-blue;
      }

      .nav-icon  svg path{
        fill:       $dark-blue;
      }

      .non-active-icon {
        display: none;
      }

      .active-icon {
        display:        block;
      }

      &:hover:after {
        color:        $dark-blue;
      }
    }

    &:after {
      transition:     1s ease;
      font-family:    FontAwesome;
      font-size:      16px;
      position:       absolute;
      right:          16px;
      top:            14px;
    }
  }

  ul {
    list-style:       none;
    margin:           0;
    padding:          0;
  }

  .nav-content-card {
    padding:          0;

    @media (min-width: 992px) {
      width:          256px;
      position:       fixed;
    }
  }

  @media (min-width: 992px) {
    width:            256px;
    float:            left;
    
    a {
      padding:        12px;
      padding-left:   32px;

      &:hover {
        background: #F7F7F7;
        
        &:after {
          content:    '\f054';
        }
      }
    }

    ul {
      padding-top:      32px;
      padding-bottom:   32px;
      display:          block;

      li {
        display:        block;
      }
    }

    .nav-copy {
      padding-left:     16px;
    }

    .nav-content {
      display:          table-cell;
      vertical-align:   middle;
    }

    .nav-icon {
      float:            left;
    }
  }

  @media (max-width: 350px) {
    a {
      font-size:        8px;
    }

    .active .nav-copy {
      text-shadow:      none;
    }

    .nav-content {
      font-size:        8px;
    }
  } 
  
  @media (max-width: 991px) {
    position:           fixed;
    bottom:             0;
    right:              0;
    left:               0;
    width:              100%;
    z-index:            100;

    ul {
      display:          table;
      width:            100%;

      li {
        display:        table-cell;
      }
    }

    a {
      text-align:       center;
    }

    .nav-content {
      display:          block;
    }

    svg {
      margin:           auto;
      display:          block;
    }
  }
}

.details {
  h1.title {
    color:              $grey;
    font-size:          24px;
    line-height:        normal;
    margin-bottom:      0;

    @media (min-width: 376px) and (max-width: 575px) {
      font-size:        18px;
      //line-height:      32px;
    }

    @media (max-width: 375px) {
      font-size:        14px;
     // line-height:      24px;
    }

    small {
      font-size:        16px;
      padding-left:     8px;

      @media (min-width: 376px) and (max-width: 575px) {
        font-size:      14px;
        padding-left:   0px;
      }

      @media (max-width: 375px) {
        font-size:      12px;
        padding-left:   0px;
      }
    }
  }

  h2 {
    &.title {
      font-size:        18px;
      line-height:      32px;
      border-bottom:    2px solid $soft-grey;
      color:            $grey;
      text-align:       left;
      padding-bottom:   10px;

      .small-subtitle { 
        color:          $dark-grey;
        font-size:      11px;
        line-height:    16px; 
      }
  
      .svg-container {
        float:          left;
        padding-right:  8px; //16px
        //margin-bottom: 12px;
  
        svg {
          width: 24px;
          height: 24px;
          vertical-align: baseline;
        }
      }
    }

    &.claim-id {
      color:            $fake-black;
      font-size:        18px;
      line-height:      24px;
      margin-bottom:    0;
  
      @media (max-width: 575px) {
        font-size:      14px;
        line-height:    24px;
      } 
    }
    
    .svg-container {
      float: left;
      padding-right: 16px;

      svg {
        width: 24px;
      }
    }
  }

  h3.title {
    font-size:      16px;
    line-height:    24px;
    font-weight:    bold;
    text-transform: uppercase;
  }

  .sub-title {
    font-size:     18px;
    line-height:   32px;
    color:         $dark-grey;
  }

  .details-content.mobile-margin.mt40.margin-top {
    @media (max-width: 767px) {
      margin-top: 24px !important;
    }
  }
  

  .col1,
  .col2 {
    @media (max-width: 1199px) {
      padding: 0;//6px;
    }
  }

  .col1 {
    @media (min-width: 1200px) {
      padding-right:  40px;
      padding-left:   0px;
    }
    @media (min-width: 768px) and (max-width: 1199px) {
      //padding-left: 8px;
      padding-right: 16px;
    }
  }

  .col2 {
    @media (min-width: 1200px) {
      padding-left: 40px;
      padding-right: 0px;
    }

    @media (min-width:768px) and (max-width: 1199px) {
      padding-left:           16px;
      //padding-right:          8px;
    }
   
    @media (min-width: 768px) {
      max-width:              314px;
      border-left:            2px solid #EAE9E9;
    }
    @media (max-width: 767px) {
      &.col {
        flex-basis: auto;
      }
    }
  }

  .row-section.mb40,
  .policy-holders.row-section.mb16 {
    @media (max-width: 767px) {
      margin-bottom: 32px !important;
    }
  }

  .type-title {
    display: table-cell;
    vertical-align: middle;
  }

  .policy-background {
    display: table-cell;
    max-width: 42px;
    position: relative;

    .car,
    .house {
      height: 64px;
      width: 90px;
      background-size: auto 64px;
      background-repeat: no-repeat;

      @media (min-width: 376px) and (max-width: 575px) {
        height: 45px;
        width: 36px;
        background-size: auto 45px;
      }

      @media (max-width: 375px) {
        height: 32px;
        width: 22px;
        background-size: auto 32px;
      }

      &.claim {
        @media (max-width: 575px) {
          height: 65px;
          width: 35px;
          background-size: auto 66px;
        }
      }
    }
  }

  .legal-section {
    padding-top: 56px;
  }

  .title {
    padding: 0;
    margin: 0;
  }

  .mapfre-card-download-button {
    .col-right {
      @media (max-width: 394px) {
        max-width: 122px;
        padding-left: 0;
      }
    }

    .btn.mapfre.xsmall {
      // This maybe moved to the library.
      // Don't know if these reponsive actions should be on all xsmall buttons

      @media (max-width: 394px) {
        padding-left: 0;
        padding-right: 0;
        font-size: 12px;
      }
    }
  }

  .vehicle-spacer-input {
    margin-top: 56px;
  }

  .vehicle {
    .input-field.mapfre label.active.error {
      color: $dark-grey;
    }

    .input-field.mapfre .counter-success + label {
      color: $dark-grey;
    }

    input {
      color: $fake-black;
      border-bottom-color: #c4c4c4;
    }
  }

  .address i {
    font-size: 18px;
  }

  .paperless {
    .paperless-cta {
      color: #749806;
      font-size: 16px;
      font-weight: bold;
      line-height: 24px;
    }

    .paperless-icon {
      width: 40px;
      
      svg path {
        fill: #749806;
      }
    }

    .paperless-copy { 
      padding-left: 0;
      padding-right: 0;
    }
  }
}

#gmap_canvas {
  max-width: 600px;
  width: 100%;
}

.header-icon-icon-height svg {
  margin-top: -3px;
}

.image-max-width {
  max-width: 100%;
  padding: 32px;
}

.inline-svg .svg-container {
  display: inline;
}

.input-control.disabled {
  .btn.mapfre.ghost.primary:disabled {
    border-color: #c6db80;
    color: #C6DB81 !important;
    background: $transparent !important;
  }
}

.iphonex {
  padding-bottom: 32px;
}

.legal {
  color: #ADAAAA;
  font-size: 12px;
  font-family: 'Inter UI', sans-serif;
  font-weight: normal;
  text-align: left;
  line-height: 16px;
}

.loggedin-footer {
  @media (max-width: 991px) {
    padding-bottom: 74px;
  }

  @media (min-width: 992px) {
    .centered-two-column {
      padding-left: 256px; 
    }
  }
}

.mapfre-content.loggedin ~ .footer-copyright {
  background: #749806;

  @media (min-width: 992px) {
    padding: 56px;
  }
}

.main-column {
  margin-left: 16px;
  
  @media (max-width: 991px) {
    margin-left:0;
  }
}

.no-margins-hug {
  &.hug-content {
    @media (min-width: 1200px) {
      margin-left: -40px;
      margin-right: -40px;
    }
  }

  &.hug-header {
    @media (max-width: 1199px) {
      margin-left: -16px;
      margin-right: -16px;
    }
    @media (min-width: 1200px) {
      margin-left: -40px;
      margin-right: -40px;
    }
  }

  &.hug-claims {
    @media (max-width: 1199px) {
      margin-left: -24px;
      margin-right: -17px;
    }
    @media (min-width: 1200px) {
      margin-left: -40px;
      margin-right: -40px;
    }
  }
}
//
//.policy-details-nav, 
//.auto-header, 
//.home-header {
//  &.no-margins-hug {
//    &.hug-header {
//      margin-left: -40px;
//      margin-right: -40px;
//    }
//  }
//}

.no-payment-svg {
  width: 66px;

 svg {
    max-width: 50px;
  }
}

.show-more-button {
  cursor: pointer;
}

.show-more-detail {
  overflow: auto;
  display: block;
  white-space: normal;
}

.section-description {
  color: $dark-grey;
  font-size: 12px;
  line-height: 16px;
}

.single-checkbox {
  margin-left: 2px;
}

.social {
  list-style: none;
  padding: 0;
  margin: 0;

  &.inline {
    display: table;

    li {
    display: table-cell;
    }
  }

  li a {
    padding: 8px;
  }
}

.title-case {
  text-transform: capitalize;
}

.border-full {
  border: thin solid;

  &.grey-border {
    border-color: $soft-grey;
  }
}

.pending {
  font-style: italic;
  color: $dark-grey;
  text-align: right;

  i {
    font-size: 16px;
  }
}

.loading-no-padding div {
  min-height: 0px;
}

.checkmark-single {
  float: left;
}

.min-amount-check {
  width: 90%;
}

.bring-up-container {
  margin-top: -16px;
}

.sub-title-copy {
  text-transform: capitalize;
}

.veh-policy-details .svg-container svg {
  vertical-align: sub !important;
}

