<div class="email-title text-center lh24">{{ userEmail }}</div>
<div class="text-center margin-top mt8 margin-bottom mb24 lh24">
  {{ 'ALL_READY_IN_USE' | translate }}
</div>
<div class="text-center">
  <mapfre-button 
    [additionalClasses]="'basic primary large margin-bottom mb24 waves-effect waves-light'"
    [routerLink]="['/login']"> 
    {{ 'LOGIN' | translate }} 
  </mapfre-button>
  <mapfre-button 
    [additionalClasses]="'ghost secondary small waves-effect'"
    [routerLink]="['/signup']"> 
    {{ 'CREATE_ACCOUNT' | translate }} 
  </mapfre-button>
</div>
<hr class="margin-vertical mv24" />
<div class="text-center">
  {{ 'IF_YOU_DONT_REMEMBER' | translate }}
</div>