<form 
  name="createPasswordForm" 
  [formGroup]="createPasswordForm" 
  (ngSubmit)="createPasswordForm.valid && createNewPassword()">
  <div class="row">
    <div class="col">
      <div *ngFor="let input of inputs; trackBy: trackingInputs" class="inputs">
        <mapfre-validation [input]="input" [form]="createPasswordForm"></mapfre-validation>
      </div>
    </div>
  </div>
  <section class="row">
    <div class="col">
      <mapfre-button
        [additionalClasses]="'basic primary large'"
        [disabledValue]="createPasswordForm.valid" 
        [inputType]="'submit'"
        [translateValue]="'NEW_PASSWORD' | translate"
      ></mapfre-button>
    </div>
  </section>
</form>