@import "../../../../../styles.scss";

$createpassword-group-password-padding-up:    $padding-vertical;
$createpassword-group-password-height:        200px;
$createpassword-group-submit-padding:         32px 0;

.group-password {
  height:                                     $createpassword-group-password-height;
}

.group-submit {
  padding:                                    $createpassword-group-submit-padding;
}

