<form 
  name="createPasswordForm" 
  [formGroup]="createPasswordForm" 
  (ngSubmit)="createPasswordForm.valid && createNewPassword()">
  
  <div class="">
    <div *ngFor="let input of inputs" class="group-password">
      <mapfre-validation [input]="input" [form]="createPasswordForm"></mapfre-validation>
    </div>
  </div>

  <section class="row text-center group-submit">
    <div class="col">
      <mapfre-button
        [additionalClasses]="'basic primary large'"
        [disabledValue]="createPasswordForm.valid" 
        [inputType]="'submit'"
        [translateValue]="'NEW_PASSWORD' | translate"
      ></mapfre-button>
    </div>
  </section>
</form>
