<app-profile-confirm-modal [toDo]="'confirm'" *ngIf="confirmModal"></app-profile-confirm-modal>
<form 
  name="createPasswordForm" 
  [formGroup]="createPasswordForm" 
  (ngSubmit)="createPasswordForm.valid && createNewPassword()">
  <div class="row">
    <div class="col">
      <div *ngFor="let input of inputs" class="inputs">
        <mapfre-validation [input]="input" [form]="createPasswordForm"></mapfre-validation>
      </div>
    </div>
  </div>
  <section class="row">
    <div class="col">
      <mapfre-button
        [additionalClasses]="'basic primary large waves-effect waves-light'"
        [disabledValue]="createPasswordForm.valid" 
        [inputType]="'submit'"
        [translateValue]="'NEW_PASSWORD' | translate"
      ></mapfre-button>
    </div>
  </section>
</form>
<div class="row margin-top mt24 text-center" *ngIf="whereInTheProcess==='edit-password'">
  <div class="col">
    <mapfre-button
      (click)="onCheckDirty()"
      [additionalClasses]="'flat link small waves-effect'"
      [customIcon]="'assets/img/icons/back-arrow.png'"
      [iconClasses]="'align-middle'"
      [showIconsCustom]="true"
    >  {{ 'BACK' | translate }}
    </mapfre-button>
  </div>
</div>