<mapfre-header></mapfre-header>
<div class="container loggedout mapfre-content">
<mapfre-card 
  additionalClasses="login"> 
  <div class="row text-center">
    <div class="col"> 
      <div class="header-icon full-icon">
          <svg-login-icon-svg></svg-login-icon-svg>
      </div>
      <h1 class="title-copy">{{ 'CUSTOMER_ACCESS' | translate }}</h1> 
    </div>
  </div>
  <mapfre-alert></mapfre-alert> 
  <app-login-form [inputs]="inputs"></app-login-form>
  <div class="row text-center margin-top mt24">
    <div class="col">
      <mapfre-button
        [additionalClasses]="'flat link small'"
        [routerLink]="['/signup']"
      >  {{ 'CREATE_ACCOUNT' | translate }}
      </mapfre-button>
    </div>
  </div>
</mapfre-card>
</div>