<mapfre-card 
  additionalClasses="login">
  <div class="row text-center">
    <div class="col"> 
      <div class="header-icon full-icon">
          <svg-login-icon-svg></svg-login-icon-svg>
      </div>
      <h1 class="title-copy">{{ 'CUSTOMER_ACCESS' | translate }}</h1> 
    </div>
  </div>
  <mapfre-alert></mapfre-alert> 
  <app-login-form [inputs]="inputs"></app-login-form>
  <mapfre-button
    [additionalClasses]="'flat link small'"
    [iconClasses]="'align-middle'"
    [routerLink]="['/createpassword']"
    [showIconsCustom]="true"
  >  This button is for Testing Purposes only. To /createpassword
  </mapfre-button>
  <mapfre-button
    [additionalClasses]="'flat link small'"
    [iconClasses]="'align-middle'"
    [routerLink]="['/createpassword']"
    [queryParams]="{email: 'vandana.jagadeesh@northout.com', token: '-209d84995ff0f56c'}"
    [showIconsCustom]="true"
  >  This button is for Testing Purposes only. With Parms
  </mapfre-button>
</mapfre-card>
