@import "../../../../../styles.scss";
$validation-error-color:    $mapfre-red;
$validation-valid-color:    $mapfre-green;

.hide-validation {
    display: none;
    @include transition(5s);
}

.show-validation {
    display: block;
    @include transition(5s);
}

.error {
    color: $validation-error-color;
    @include transition(1s);
}

.valid {
    color: $validation-valid-color;
    @include transition(1s);
    i {
        &:before {
            content: '\f058';
            font-family: FontAwesome;
        }
    }
}
