<form
  class="nondynamic-form"
  [formGroup]="createPasswordForm" 
  method="post" 
  name="createPasswordForm" 
  (ngSubmit)="createPasswordForm.valid && setNewPassword()">
  <section class=" input-field mapfre">
    <div class="row create-password">
      <div class="col">
        <input 
          class="form-control" 
          formControlName="createPassword"
          id="createPassword" 
          name="createPassword"
          [type]="showPassword ? 'text' : 'password'" 
          required
          mdbInputDirective
        />
        <mapfre-icon 
          password= "true"
          [focusShowIcon]= "true"
          [showIconsForPassword]= "true"
          (onClickShowPassword)= "showPasswordFunction($event)">
        </mapfre-icon>
        <label for="createPassword" class="input-label">{{ 'CREATE_PASSWORD' | translate}}</label>
      </div>
    </div>
   
    <div class="row repeat-password">
      <div class="col" 
        [ngClass]="{'show-validation': passwordRules('all'), 'hide-validation': !passwordRules('all') }">
        <input
          class="form-control" 
          formControlName="repeatPassword" 
          id="repeatPassword" 
          name="repeatPassword"
          [type]="showPassword ? 'text' : 'password'" 
          required
          mdbInputDirective
        />
        <label for="repeatPassword" class="input-label">{{ 'REPEAT_PASSWORD' | translate}}</label>
      </div>
    </div>
    <div class="row" [ngClass]="{'show-validation': passwordRules('all'), 'hide-validation': !passwordRules('all') }">
      <div class="col" *ngIf="createPasswordForm.errors?.mismatch && createPasswordForm.value.repeatPassword !='' ">
          {{ 'DOES_NOT_MATCH' | translate }}
      </div>
    </div>
  </section>

  <section class="group-validation-indicator" [ngClass]="{'show-validation': !passwordRules('all'), 'hide-validation': passwordRules('all') }">
    <div class="row">
      <div class="col">
        {{ 'YOUR_PASSWORD_SHOULD_BE' | translate }}
      </div>
    </div>
    <div class="row" [ngClass]="{'valid': passwordRules('ruleOne'), 'error': !passwordRules('ruleOne')}">
      <div class="col">
        <i class="fas fa-times-circle"></i>
        <span class="sr-only sr-only-focusable" *ngIf="!passwordRules('ruleOne')">{{ 'DOES_NOT_PASS' | translate }}</span>
        <span class="sr-only sr-only-focusable" *ngIf="passwordRules('ruleOne')">{{ 'PASSES_THE_RULE' | translate }}</span>
      </div>
      <div class="col">
        {{ 'PASSWORD_RULE_ONE' | translate }}
      </div>
    </div>
    <div class="row" [ngClass]="{'valid': passwordRules('ruleTwo'), 'error': !passwordRules('ruleTwo')}">
      <div class="col">
        <i class="fas fa-times-circle"></i>
        <span class="sr-only sr-only-focusable" *ngIf="!passwordRules('ruleTwo')">{{ 'DOES_NOT_PASS' | translate }}</span>
        <span class="sr-only sr-only-focusable" *ngIf="passwordRules('ruleTwo')">{{ 'PASSES_THE_RULE' | translate }}</span>
      </div>
      <div class="col">
          {{ 'PASSWORD_RULE_TWO' | translate }}
      </div>
    </div>
    <div class="row" [ngClass]="{'valid': passwordRules('ruleThree'), 'error': !passwordRules('ruleThree')}">
      <div class="col">
        <i class="fas fa-times-circle"></i>
        <span class="sr-only sr-only-focusable" *ngIf="!passwordRules('ruleThree')">{{ 'DOES_NOT_PASS' | translate }}</span>
        <span class="sr-only sr-only-focusable" *ngIf="passwordRules('ruleThree')">{{ 'PASSES_THE_RULE' | translate }}</span>
      </div>
      <div class="col">
          {{ 'PASSWORD_RULE_THREE' | translate }}
      </div>
    </div>
    <div class="row" [ngClass]="{'valid': passwordRules('ruleFour'), 'error': !passwordRules('ruleFour')}">
      <div class="col">
        <i class="fas fa-times-circle"></i>
        <span class="sr-only sr-only-focusable" *ngIf="!passwordRules('ruleFour')">{{ 'DOES_NOT_PASS' | translate }}</span>
        <span class="sr-only sr-only-focusable" *ngIf="passwordRules('ruleFour')">{{ 'PASSES_THE_RULE' | translate }}</span>
      </div>
      <div class="col">
          {{ 'PASSWORD_RULE_FOUR' | translate }}
      </div>
    </div>
    <div class="row" [ngClass]="{'valid': passwordRules('ruleFive'), 'error': !passwordRules('ruleFive')}">
        <div class="col">
          <i class="fas fa-times-circle"></i>
          <span class="sr-only sr-only-focusable" *ngIf="!passwordRules('ruleFive')">{{ 'DOES_NOT_PASS' | translate }}</span>
          <span class="sr-only sr-only-focusable" *ngIf="passwordRules('ruleFive')">{{ 'PASSES_THE_RULE' | translate }}</span>
        </div>
      <div class="col">
          {{ 'PASSWORD_RULE_FIVE' | translate }}
      </div>
    </div>
  </section>

  <section class="row text-center group-submit" 
    *ngIf="!createPasswordForm.errors?.mismatch && createPasswordForm.status == 'VALID'">
    <div class="col">
      <mapfre-button
        [additionalClasses]="'basic primary large waves-effect waves-light'"
        [disabledValue]="createPasswordForm.valid" 
        [inputType]="'submit'"
        [translateValue]="'NEW_PASSWORD' | translate"
      ></mapfre-button>
    </div>
  </section>
</form>
