<form
  action=""
  class="nondynamic-form"
  [formGroup]="forgotPasswordForm" 
  method="post" 
  name="forgotPasswordForm" 
  (ngSubmit)="forgotPasswordForm.valid && setNewPassword()">
  <section class="group-inputs input-field mapfre">
    <div class="row">
        <div class="col">
          Welcome Back 
        </div>
      </div>
    <div class="row">
      <div class="col">
        <input 
          class="form-control" 
          formControlName="createPassword"
          id="createPassword" 
          name="createPassword"
          [type]="showPassword ? 'text' : 'password'" 
          required
          mdbInputDirective
        />
        <mapfre-icon password="true" (onClickShowPassword)="showPasswordFunction($event)"></mapfre-icon>
        <!--<mapfre-label [forInput]="createPassword">{{ 'CREATE_PASSWORD' | translate}}</mapfre-label>-->
        <label for="createPassword" class="input-label">{{ 'CREATE_PASSWORD' | translate}}</label>
      </div>
    </div>
   
    <div class="row">
      <div class="col" [ngClass]="{'show-validation': passwordRules('all'), 'hide-validation': !passwordRules('all') }">
        <input
          class="form-control" 
          formControlName="repeatPassword" 
          id="repeatPassword" 
          name="repeatPassword"
          [type]="showPassword ? 'text' : 'password'" 
          required
          mdbInputDirective
        />
        <mapfre-icon password="true" (onClickShowPassword)="showPasswordFunction($event)"></mapfre-icon>
       <!-- <mapfre-label [forInput]="repeatPassword">{{ 'REPEAT_PASSWORD' | translate}}</mapfre-label> -->
       <label for="repeatPassword" class="input-label">{{ 'REPEAT_PASSWORD' | translate}}</label>
      </div>
    </div>
    <div class="row" [ngClass]="{'show-validation': passwordRules('all'), 'hide-validation': !passwordRules('all') }">
      <div class="col" *ngIf="forgotPasswordForm.errors?.mismatch && forgotPasswordForm.value.repeatPassword !='' ">
        Does Not Match
      </div>
    </div>
  </section>

  <section class="group-validation-indicator" [ngClass]="{'show-validation': !passwordRules('all'), 'hide-validation': passwordRules('all') }">
    <div class="row">
      <div class="col">
        {{ 'YOUR_PASSWORD_SHOULD_BE' | translate }}
      </div>
    </div>
    <div class="row" [ngClass]="{'valid': passwordRules('ruleOne'), 'error': !passwordRules('ruleOne')}">
      <div class="col">
        <i class="fas fa-times-circle"></i>
        <span class="sr-only sr-only-focusable" *ngIf="!passwordRules('ruleOne')">{{ 'DOES_NOT_PASS' | translate }}</span>
        <span class="sr-only sr-only-focusable" *ngIf="passwordRules('ruleOne')">{{ 'PASSES_THE_RULE' | translate }}</span>
      </div>
      <div class="col">
        {{ 'PASSWORD_RULE_ONE' | translate }}
      </div>
    </div>
    <div class="row" [ngClass]="{'valid': passwordRules('ruleTwo'), 'error': !passwordRules('ruleTwo')}">
      <div class="col">
        <i class="fas fa-times-circle"></i>
        <span class="sr-only sr-only-focusable" *ngIf="!passwordRules('ruleTwo')">{{ 'DOES_NOT_PASS' | translate }}</span>
        <span class="sr-only sr-only-focusable" *ngIf="passwordRules('ruleTwo')">{{ 'PASSES_THE_RULE' | translate }}</span>
      </div>
      <div class="col">
          {{ 'PASSWORD_RULE_TWO' | translate }}
      </div>
    </div>
    <div class="row" [ngClass]="{'valid': passwordRules('ruleThree'), 'error': !passwordRules('ruleThree')}">
      <div class="col">
        <i class="fas fa-times-circle"></i>
        <span class="sr-only sr-only-focusable" *ngIf="!passwordRules('ruleThree')">{{ 'DOES_NOT_PASS' | translate }}</span>
        <span class="sr-only sr-only-focusable" *ngIf="passwordRules('ruleThree')">{{ 'PASSES_THE_RULE' | translate }}</span>
      </div>
      <div class="col">
          {{ 'PASSWORD_RULE_THREE' | translate }}
      </div>
    </div>
    <div class="row" [ngClass]="{'valid': passwordRules('ruleFour'), 'error': !passwordRules('ruleFour')}">
      <div class="col">
        <i class="fas fa-times-circle"></i>
        <span class="sr-only sr-only-focusable" *ngIf="!passwordRules('ruleFour')">{{ 'DOES_NOT_PASS' | translate }}</span>
        <span class="sr-only sr-only-focusable" *ngIf="passwordRules('ruleFour')">{{ 'PASSES_THE_RULE' | translate }}</span>
      </div>
      <div class="col">
          {{ 'PASSWORD_RULE_FOUR' | translate }}
      </div>
    </div>
    <div class="row" [ngClass]="{'valid': passwordRules('ruleFive'), 'error': !passwordRules('ruleFive')}">
        <div class="col">
          <i class="fas fa-times-circle"></i>
          <span class="sr-only sr-only-focusable" *ngIf="!passwordRules('ruleFive')">{{ 'DOES_NOT_PASS' | translate }}</span>
          <span class="sr-only sr-only-focusable" *ngIf="passwordRules('ruleFive')">{{ 'PASSES_THE_RULE' | translate }}</span>
        </div>
      <div class="col">
          {{ 'PASSWORD_RULE_FIVE' | translate }}
      </div>
    </div>
  </section>

  <section class="row text-center group-submit" 
    *ngIf="!forgotPasswordForm.errors?.mismatch && forgotPasswordForm.status == 'VALID'">
    <div class="col">
      <mapfre-button
        [inputType]="'button'"
        [additionalClasses]="'success full'"
        [disabledValue]="forgotPasswordForm.valid"
      >  
        {{ 'NEW_PASSWORD' | translate }}
      </mapfre-button>
    </div>
  </section>

  <input name="j_url" id="j_url" type="hidden" value="account/forgotPassword" />
</form>
