@import "../../../../styles.scss";
// --- Color
$mapfre-icon-color-active:      $active-color;
$mapfre-icon-color-caution:     $caution-color;
$mapfre-icon-color-default:     $information-color;
$mapfre-icon-color-error:       $error-color;
$mapfre-icon-color-inactive:    $lite-gray;
$mapfre-icon-color-success:     $success-color;
// --- Font Size
$mapfre-icon-alert-font-size:   $font-size-base * 2.29;
$mapfre-icon-font-size:         $font-size-base * 1.72;
$mapfre-icon-label-font-size:   2rem;
$mapfre-icon-large-font-size:   $font-size-base *2;
$mapfre-icon-small-font-size:   $font-size-base;
// --- ETC
$mapfre-icon-div-height:        1.5rem;
$mapfre-icon-label-top:         $global-zero;
$mapfre-icon-padding-full:      $padding-vertical / 1.14;
$mapfre-icon-padding-half:      $defualt-margin-padding;
$mapfre-icon-small-icon-top:    $global-one-rem * 0.625;//10px
$mapfre-icon-small-icon-left:   $global-one-rem * 0.625;//10px

.alert-icon {
  font-size:                    $mapfre-icon-alert-font-size;
}

.header-icon {
  height:                       $mapfre-icon-div-height;
}

.icon-caution {
  color:                        $mapfre-icon-color-caution;
}

.icon-default {
  color:                        $mapfre-icon-color-default;
}

.icon-error {
  color:                        $mapfre-icon-color-error;
}

.icon-success {
  color:                        $mapfre-icon-color-success;
}

.label-icon {
  position:                   absolute;
  right:                      $mapfre-icon-padding-half;
  top:                        $mapfre-icon-label-top;

  .label-text {
    color:                  $mapfre-icon-color-inactive;
    font-size:              $mapfre-icon-label-font-size;
  }
  
  i {
    color:                  $mapfre-icon-color-inactive;
    font-size:              $mapfre-icon-font-size;
    @include transition(0.5s);
  }
}

.large-icons {
  font-size:                  $mapfre-icon-large-font-size; 
}

.mapfre.icon-container {
  .active i {
    color:                  $mapfre-icon-color-active;
  }
}

.show-password {
    display:                    none;
    &.show {
        display:                block;
    }
}

.small-icons {
    font-size:                  $mapfre-icon-small-font-size;
    position:                   absolute;
    top:                        $mapfre-icon-small-icon-top;
    left:                       $mapfre-icon-small-icon-left;
}

.title-icon {
  padding-bottom:             $mapfre-icon-padding-full;
}
