<div *ngIf="title" class="title-icon">
    <i class="{{iconClasses}} fa-2x"></i>
    <span class="sr-only sr-only-focusable">{{ 'Title Icon' | translate }}</span>
</div>

<span *ngIf="!title && !password">
    <i class="{{iconClasses}}"></i>
    <span class="sr-only sr-only-focusable"><ng-content></ng-content></span>
</span>

<span *ngIf="password" 
    class="mapfre icon-container show-password" 
    [ngClass]="{ 'password' : password, 'show': onFocusShowIcon  }">
    <a  (click)="showPasswordFunction($event)" 
        [class.active]="passwordShow"
        class="label-icon" 
        *ngIf="showIconsForPassword">
        <i class="fas" 
            [ngClass]="{'fa-eye-slash': !passwordShow, 'fa-eye': passwordShow}">
        </i>
        <span class="label-text sr-only sr-only-focusable" *ngIf="!passwordShow">{{ 'SHOW' | translate}}</span>
        <span class="label-text sr-only sr-only-focusable" *ngIf="passwordShow">{{ 'HIDE' | translate}}</span>
    </a>

    <a (click)="showPasswordFunction($event)"
        class="label-icon" 
        *ngIf="!showIconsForPassword">
        <span class="label-text" *ngIf="!passwordShow">{{ 'SHOW' | translate}}</span>
        <span class="label-text" *ngIf="passwordShow">{{ 'HIDE' | translate}}</span>
    </a>
</span>
