<mapfre-card 
    [singleCard]="false"
    [additionalClasses]="'policy-details'"> 
    <div class="single-card-column policy-card">
    <div class="row text-center">
      <div class="col">
        <div class="header-icon full-icon">
          <svg-policy-svg></svg-policy-svg>
        </div>
        <h1 class="title-copy">{{ 'ADD_NEW_POLICY_TITLE' | translate }}</h1> 
      </div>
    </div>
    <app-add-policy-form [inputs]="linkPolicy" [userData]="user"></app-add-policy-form>
  
    <div class="row text-center margin-top mt24">
      <div class="col">
          <mapfre-button
          [additionalClasses]="'flat link small'"
          [iconClasses]="'align-middle'"
          [routerLink]="['/my-insurance']"
        >  {{ 'CANCEL' | translate }}
        </mapfre-button>
      </div>
    </div>
    <hr class="margin-vertical mv24" />
    <div class="row text-center margin-top mt16">
        <div class="col">
          <mapfre-modal 
            [modalOptions]="whereToFindModalOptions">
            <div class="modal-body no-padding-top">
              <hr class="margin-bottom mb24" />
              <div class="margin-bottom mb8">
                {{ 'POLICY_DOCUMENT' | translate}}
              </div>
              <div class="margin-bottom mb24">
                <img src="./assets/img/images/where-can-i-find-my-policy-number.png">
              </div>
            </div>
          </mapfre-modal>
        </div>
      </div>
    </div>
</mapfre-card>
