<mapfre-button
	[additionalClasses]="modalOptions?.additionalButtonClasses"
	[buttonCopy]="modalOptions?.buttonCopy"
	[howManyIconsUsed]="modalOptions?.howManyIconsUsed"
	[inputType]="'modal'"
	[iconClasses]="modalOptions?.iconClasses"
	[iconFamily]="modalOptions?.iconFamily"
	[modalId]="modalOptions?.modalId"
	[screenReader]="modalOptions?.screenReader"
	[showIcons]="modalOptions?.showIcons"
	(click)="modal.show(); whereIsTheHelpButton($event)">
</mapfre-button>
<div mdbModal
	#modal="mdb-modal"
	aria-labelledby="{{modalOptions?.modalId}}" 
	aria-hidden="true" 
	class="modal fade {{modalOptions?.animatePosition}}" 
	tabindex="-1" 
	role="dialog" 
	[id]="modalOptions?.modalId" 
	[config]="{backdrop: modalOverLay}"
	>
	<div 
		class="modal-dialog modal-dialog-centered modal-small" 
		role="document"	
		[ngClass]="{
			'help': modalOptions?.typeOfModal == 'header' 
		}"   
		[style.left]="helpButtonPositionLeft">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title w-100" id="myModalLabel">
						<mapfre-icon 
							[iconClasses]="modalOptions?.headerIconClass" 
							[iconFamily]="modalOptions?.iconFamily">
						</mapfre-icon>
						{{ modalOptions?.modalTranslateCopy | translate }}
					</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.hide()">
							<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<ng-content ></ng-content>
		</div>
	</div>
</div>