
<ng-container *ngIf="!modalOptions?.onLoad">
  <mapfre-button
    [additionalClasses]="modalOptions?.additionalButtonClasses"
    [buttonCopy]="modalOptions?.buttonCopy"
    [howManyIconsUsed]="modalOptions?.howManyIconsUsed"
    [inputType]="'modal'"
    [iconClasses]="modalOptions?.iconClasses"
    [iconFamily]="modalOptions?.iconFamily"
    [modalId]="modalOptions?.modalId"
    [screenReader]="modalOptions?.screenReader"
    [showIcons]="modalOptions?.showIcons"
    (click)="modal.show(); whereIsTheHelpButton($event)">
  </mapfre-button>
</ng-container>

<div mdbModal
	#modal="mdb-modal"
	aria-labelledby="{{modalOptions?.modalId}}" 
	aria-hidden="true" 
	class="modal fade {{modalOptions?.animatePosition}}" 
	tabindex="-1" 
	role="dialog" 
	[id]="modalOptions?.modalId" 
	[config]="{ backdrop: modalOverLay }"
  >
<!-- Wallet Version -->  
  <div 
    class="modal-dialog wallet-popup modal-medium" 
    role="document"
    *ngIf="modalOptions?.typeOfModal == 'wallet'">
      <div class="modal-content no-margin-bottom">
        <ng-content></ng-content>
      </div>
  </div>

<!-- Regular Version -->  
  <div 
    class="modal-dialog modal-small" 
    role="document"	
    [ngClass]="{
      'help': modalOptions?.typeOfModal == 'header'
    }"   
    [style.left]="helpButtonPositionLeft"
    *ngIf="modalOptions?.typeOfModal != 'wallet'">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title w-100" id="myModalLabel">
            <mapfre-icon 
              [iconClasses]="modalOptions?.headerIconClass" 
              [iconFamily]="modalOptions?.iconFamily">
            </mapfre-icon>
            {{ modalOptions?.modalTranslateCopy | translate }}
          </h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.hide()">
              <span aria-hidden="true">&times;</span>
          </button>
        </div>
        stuff
    </div>
  </div>

</div>