<div class="single-card-column">
  <div class="row text-center">
    <div class="col"> 
      <div class="header-icon full-icon">
        <svg-bank-svg></svg-bank-svg>
      </div>
      <div>
          <h1 class="title-copy">{{ 'EPAY_ENROLL_TITLE' | translate }}</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
        {{ 'EPAY_CONFIRM_ONE' | translate }}
      </p>
      <p>
          {{ 'EPAY_CONFIRM_TWO' | translate }}<strong>{{ 'EPAY_CONFIRM_TWO_STRONG' | translate }}</strong>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <p>{{ 'ACCOUNT_HOLDER' | translate }}: <strong> {{ billingInfo?.billingInfo[0].accountName }} </strong></p>
        <p>{{ 'ROUTING/AB' | translate }}: <strong> {{ billingInfo?.billingInfo[0].bankRoutingNumber }} </strong></p>
        <p>{{ 'ACCOUNT_NUMBER' | translate }}: <strong> {{ billingInfo?.billingInfo[0].accountNumber }} </strong></p>
        <p>{{ 'TYPE_OF_ACCOUNT' | translate }}: <strong> {{ billingInfo?.billingInfo[0].accountType }} </strong></p>
        <p>{{ 'MONTHLY_DEDUCTION_DATE' | translate }}: <strong>  {{ billingInfo?.deductionDate }}</strong></p>
    </div>
  </div>
  <div class="row margin-vertical mv16 text-center">
    <div class="col">
      <mapfre-button
        [additionalClasses]="'basic primary large mx-auto waves-effect'"
        [routerLink]="['/billing/paperless']">  
        {{ 'CONTINUE' | translate }}
      </mapfre-button>
    </div>
  </div>
</div>
