<ng-container *ngFor="let policy of user?.policyDetails">
  
  <!-- Auto -->
  <mapfre-card 
    [singleCard]="false"
    *ngIf="policy?.policyType == 'AUTO' "
    [additionalClasses]="'dashboard-policies auto'">
      
      <div class="row" [ngClass]="{ 'no-pay': policy?.balance == 0, 'pay': policy?.balance != 0 }">
        <div class="policy-background col">
          <div class="car"></div>
        </div>
        <div class="policy-content">
            <h2 class="row">
              <div class="col-6 title">{{ policy?.policyType | translate}} &ndash; <strong> {{ policy?.policynumber.policynumber }} </strong></div>
              <div class="text-right col-6"
              [ngClass]="{'green-color': policy?.policyStatus != 'INACTIVE', 
                'red-color': policy?.policyStatus == 'INACTIVE' }">
                <ng-container *ngIf="policy?.policyStatus == 'INACTIVE' ">
                  <small>{{policy?.policyStatus | translate}}</small>
                </ng-container>
                <ng-container *ngIf="policy?.policyStatus == 'ACTIVE'">
                  <small>{{policy?.effDate | date:'shortDate' }} {{ 'TO' |translate }} {{policy?.expDate | date:'shortDate' }}</small>
                </ng-container>
              </div>
            </h2>
            <div class="row policy-row">
              <div class="col">
                <div class="policy-icon">
                    <svg-car-mono-color-small-svg></svg-car-mono-color-small-svg>
                </div>
                <div class="policy-info">
                  <div class="policy-info-content" [class.show-more-detail]= "hideOrShow">
                    <ng-container *ngFor="let vehicles of policy?.vehicle; let last = last">
                        {{ vehicles.vehicle }}<ng-container *ngIf="!last">, </ng-container>
                    </ng-container>
                  </div>
                  <div class="policy-info-link" *ngIf="policy?.vehicle.length > 1"><a (click)="showMore($event)" class="show-more-button">+{{policy?.vehicle.length-1 }} {{ 'MORE' | translate}}</a></div>
                </div>
              </div>
            </div>
            <div class="row policy-row">
              <div class="col">
                <div class="policy-icon holder-icon">
                  <svg-holder-mono-color-svg></svg-holder-mono-color-svg>
                </div>
                <div class="policy-info">
                  <div class="policy-info-content" [class.show-more-detail]= "hideOrShow"> Holder:
                    <ng-container *ngFor="let insurer of policy?.insurer; let last = last">
                      {{insurer['Insurer Name'] | titlecase }}<ng-container *ngIf="!last">, </ng-container>
                    </ng-container>
                  </div>
                  <div class="policy-info-link" *ngIf="policy?.insurer.length > 1">
                      <a (click)="showMore($event)" class="show-more-button">
                        +{{policy?.insurer.length-1 }} {{ 'MORE' | translate}}
                      </a>
                    </div>
                </div>
              </div>
            </div>
            <div class="row policy-row">
              <div class="col">
                <div class="policy-icon">
                  <svg-money-mono-color-svg></svg-money-mono-color-svg>
                </div>
                <div class="policy-info">
                  <ng-container *ngIf="policy?.balance == 0">
                    {{ 'BALANCE' | translate}} <span class="green-color">{{'NO_PAYMENTS_DUE' | translate}}</span>
                  </ng-container>
                  <ng-container *ngIf="policy?.balance != 0">
                      {{ 'OUTSTANDING_BALANCE' | translate}}: <strong>{{policy?.balance | currency}}</strong>
                  </ng-container>
                </div>
              </div>
            </div>
            <ng-container *ngIf="policy?.balance != 0">
              <div class="row policy-row">
                <div class="col">
                  <div class="policy-icon">
                    <svg-calendar-mono-color-svg></svg-calendar-mono-color-svg>
                  </div>
                  <div class="policy-info pay-now">
                    <div class="date-amount">
                      {{ 'NEXT' | translate}}: {{policy?.nextDueDate | date: 'shortDate'}}
                      <strong>{{policy?.nextDueAmount | currency}}</strong>
                    </div>
                    <div class="pay-now-button">
                        <mapfre-button
                        [additionalClasses]="'ghost primary xsmall'"
                        [routerLink]="['/paynow']">{{ 'PAY_NOW' | translate}}</mapfre-button>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
      </div>
      <div class="clear-fix"></div>
      <a 
      [routerLink]="['/my-insurance', policy?.policynumber.policynumber, 'details']" 
      class="policy-link waves-light"
      mdbWavesEffect 
      > 
        {{ 'Details_Billing_Documents' | translate }} 
        <svg-arror-right-svg></svg-arror-right-svg>
      </a>
    </mapfre-card>
    
  <!-- HOME -->
  <mapfre-card 
    [singleCard]="false"
    [additionalClasses]="'dashboard-policies property'"
    *ngIf="policy?.policyType == 'HOME'">
    <div class="row" [ngClass]="{ 'no-pay': policy?.balance == 0, 'pay': policy?.balance != 0 }">
      <div class="policy-background col">
          <div class="house"></div>
      </div>
      <div class="policy-content">
          <h2 class="row">
            <div class="col-6 title">{{ policy?.policyType | translate }} &ndash; <strong> {{ policy?.policynumber.policynumber }} </strong></div>
            <div class="text-right col-6"
            [ngClass]="{'green-color': policy?.policyStatus != 'INACTIVE', 
              'red-color': policy?.policyStatus == 'INACTIVE' }">
              <ng-container *ngIf="policy?.policyStatus == 'INACTIVE' ">
                <small>{{policy?.policyStatus | translate}}</small>
              </ng-container>
              <ng-container *ngIf="policy?.policyStatus == 'ACTIVE'">
                <small>{{policy?.effDate | date:'shortDate' }} {{ 'TO' |translate }} {{policy?.expDate | date:'shortDate'}}</small>
              </ng-container>
            </div>
          </h2>
          <div class="row policy-row">
            <div class="col">
              <div class="policy-icon home-icon">
                  <svg-house-mono-color-small-svg></svg-house-mono-color-small-svg>
              </div>
              <div class="policy-info">
                <div class="policy-info-content">
                  {{ policy?.property[0].address.streetName }}  {{ policy?.property[0].address.city }}  {{ policy?.property[0].address.state }}  {{ policy?.property[0].address.zipCode.code }}
                </div>
              </div>
            </div>
          </div>
          <div class="row policy-row">
            <div class="col">
                <div class="policy-icon holder-icon">
                    <svg-holder-mono-color-svg></svg-holder-mono-color-svg>
                  </div>
              <div class="policy-info">
                  <div class="policy-info-content" [class.show-more-detail]= "hideOrShow"> Holder:
                    <ng-container *ngFor="let insurer of policy?.insurer; let last = last">
                      {{insurer['Insurer Name'] | titlecase }}<ng-container *ngIf="!last">,</ng-container>
                    </ng-container>
                    
                  </div>
                  <div class="policy-info-link" *ngIf="policy?.insurer.length > 1">
                      <a (click)="showMore($event)" class="show-more-button">
                        +{{policy?.insurer.length-1 }} {{ 'MORE' | translate}}
                      </a>
                    </div>
                </div>
            </div>
          </div>
          <div class="row policy-row">
            <div class="col">
              <div class="policy-icon">
                <svg-money-mono-color-svg></svg-money-mono-color-svg>
              </div>
              <div class="policy-info">
                <ng-container *ngIf="policy?.balance == 0">
                  {{'BALANCE' | translate }} <span class="green-color">{{'NO_PAYMENTS_DUE' | translate}}</span>
                </ng-container>
                <ng-container *ngIf="policy?.balance != 0">
                    {{'OUTSTANDING_BALANCE' | translate}}: <strong>${{policy?.balance}}</strong>
                </ng-container>
              </div>
            </div>
          </div>
          <ng-container *ngIf="policy?.balance != 0">
            <div class="row policy-row">
              <div class="col">
                <div class="policy-icon">
                  <svg-calendar-mono-color-svg></svg-calendar-mono-color-svg>
                </div>
                <div class="policy-info pay-now">
                  <div class="date-amount">
                    {{'NEXT' | translate }}: {{policy?.nextDueDate | date:'shortDate' }}
                    <strong>${{policy?.nextDueAmount}}</strong>
                  </div>
                  <div class="pay-now-button">
                      <mapfre-button
                      [additionalClasses]="'ghost primary xsmall'"
                      [routerLink]="['/paynow']">{{ 'PAY_NOW' | translate}}</mapfre-button>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
    </div>
    <div class="clear-fix"></div>
    <a 
      mdbWavesEffect 
      [routerLink]="['/my-insurance', policy?.policynumber.policynumber, 'details']" 
      class="policy-link"> 
      {{ 'Details_Billing_Documents' | translate }} 
      <svg-arror-right-svg></svg-arror-right-svg>
    </a>
  </mapfre-card>

</ng-container>



 