<app-loggedin-account-header></app-loggedin-account-header>
<div class="mapfre-content container loggedin container-fluid">
  <div class="row">
    <app-loggedin-sidenav></app-loggedin-sidenav>
    <div class="col main-column">
      <mapfre-alert *ngIf='showAlert'></mapfre-alert>
      <router-outlet></router-outlet>
      <ng-container *ngIf="loading">
        <mapfre-loading></mapfre-loading>
      </ng-container>
    </div>
    <div class="col column-misc" *ngIf="reportClaim">
      <app-misc-column></app-misc-column>
    </div>
  </div>
</div>
