<a (click)="downloadCard(userData)" class="pointer-cursor">
  <div class="button-link margin-bottom mb24">
    <img src="assets/img/images/apple-wallet.png" />
  </div>
  <div class="button-link margin-bottom mb16">
    <img src="assets/img/images/android-pass.png" />
  </div>
</a>
<div class="wallet-android-passes margin-bottom mb8">
  {{ 'WALLETBACK_ANDROID' | translate }}
</div>
<mapfre-link
  additionalClasses="blue-link"
  href="https://play.google.com/store/apps/details?id=io.walletpasses.android&hl=en_US">
  {{ 'WALLETBACK_WALLETPASS' | translate }}
</mapfre-link>