<div class="sub-title-copy text-center margin-bottom mb24">
  {{ 'TOO_MANY_ATTEMPTS_PARAGRAPH' | translate }} <strong>{{ 'TIME' | translate }}</strong>
</div>
<div class="row text-center group-login-button">
  <div class="col">
    <mapfre-button
      [additionalClasses]="'flat link small'"
      [customIcon]="'assets/img/icons/back-arrow.png'"
      [iconClasses]="'align-middle'"
      [routerLink]="['/login']"
      [showIconsCustom]="true">  
      {{ 'LOGIN' | translate }}
    </mapfre-button>
  </div>
</div>