<form 
  action=""
  class="nondynamic-form"
  [formGroup]="passwordEmailForm" 
  method="post"
  name="passwordEmailForm" 
  (ngSubmit)="passwordEmailForm.valid">
  
  <div class="row">
    <div class="col">
      <input
          formControlName="send-email" 
          class="form-control" 
          type="email" 
          id="send-email" 
          name="send-email" 
          required
          mdbInputDirective
          email
      />
      <mapfre-label forInput="send-email">Email</mapfre-label>
        
    </div>
  </div>

  <div class="row">
    <div class="col">
        <mapfre-button
        [inputType]="'button'"
        [additionalClasses]="'success full'"
        [disabled]="passwordEmailForm.valid"
      >  
        {{ 'SEND_EMAIL' | translate }}
      </mapfre-button>
    </div>
  </div>

</form>
