    <mapfre-modal 
    *ngIf="toDo==='confirm';else removeAccount"
    [modalOptions]="profileAccountModalOptions"
    [hideModal]="hideModalOnRoute"
    (hideModalOutput)="resetHideModal($event)"
    (click)="resetHideModal($event)">
    <div class="modal-body no-margin-top margin-bottom mb8">
        <hr class="no-margin-bottom no-margin-top" />
      </div>
      <div class="sub-title-copy profile-modal-font">
        {{ 'PROFILE_CHECKING_ACCOUNT_MODAL_ONE' | translate }}
      </div>
      <div class="text-center">
        <mapfre-button
            (click)="onClickBack('stay')"
            additionalClasses="basic primary large margin-vertical mv32" 
          > {{ 'STAY_HERE' | translate }}
        </mapfre-button>
          <mapfre-button
            (click)="onClickBack('back')"
            additionalClasses="ghost cancel medium margin-bottom mb32" 
          >{{ 'DISCARD_CHANGES' | translate }}
        </mapfre-button>
      </div>
    </mapfre-modal>
<ng-template #removeAccount>
    <mapfre-modal 
    [modalOptions]="profileAccountModalOptions"
    [hideModal]="hideModalOnRoute"
    (hideModalOutput)="resetHideModal($event)">
    <div class="modal-body no-margin-top margin-bottom mb8">
        <hr class="no-margin-bottom no-margin-top" />
      </div>
      <div class="sub-title-copy profile-modal-font">
        {{ 'PROFILE_CHECKING_ACCOUNT_MODAL_TWO' | translate }}
      </div>
      <div class="text-center">
        <mapfre-button
          (click)="onRemoveCheckingAccount('remove')"
          additionalClasses="ghost default large w280 margin-vertical mv24 mx-auto" 
        > {{ 'REMOVE_CHECKING_ACCOUNT' | translate }}
        </mapfre-button>
        <mapfre-button
          (click)="onRemoveCheckingAccount('cancel')"
          additionalClasses="ghost secondary small margin-bottom mb40 mx-auto" 
        > {{ 'CANCEL' | translate }}
      </mapfre-button>
      </div>
    </mapfre-modal>
</ng-template>
