<div class="header-icon">
  
  <svg-login-icon-svg></svg-login-icon-svg>
  <svg-check-icon-svg></svg-check-icon-svg>
  <svg-congrats-svg></svg-congrats-svg>
  <svg-create-account-svg></svg-create-account-svg>
  <svg-create-new-password-expired-svg></svg-create-new-password-expired-svg>
  <svg-create-new-password-svg></svg-create-new-password-svg>
  <svg-email-error-svg></svg-email-error-svg>
  <svg-forgot-password-icon-svg></svg-forgot-password-icon-svg>
  <svg-home-icon-svg></svg-home-icon-svg>
  <svg-policy-error-svg></svg-policy-error-svg>
  <svg-too-many-attempts-svg></svg-too-many-attempts-svg>


</div>
