<div class="row header">
  <div class="col">
      <div class="header-container">
        <img src="./assets/img/images/headers/about.png">
      </div>
  </div>
</div>

<div class="row margin-vertical mv24">
  <div class="col">
      <mapfre-button
      [additionalClasses]="'flat link small top-information'"
      [customIcon]="'assets/img/icons/back-arrow.png'"
      [iconClasses]="'align-middle'"
      [routerLink]="['/information']"
      [showIconsCustom]="true"
    >  {{ 'BACK' | translate }}
    </mapfre-button>
  </div>
</div>

<div class="row margin-bottom mb24">
  <div class="col">
    <h1 class="information-title">{{ 'INFORMATION_ABOUT_1' | translate }}</h1>
    <div class="row information-content">
      <div class="col">
        <p>
            {{ 'INFORMATION_ABOUT_2' | translate }}
        </p>
        <p>
          <strong>{{ 'INFORMATION_ABOUT_3' | translate }}</strong><br />
          <strong>{{ 'INFORMATION_ABOUT_4' | translate }}</strong><br />
          {{ 'INFORMATION_ABOUT_5' | translate }}
        </p>
        <p class="no-margin-bottom">
          <strong>{{ 'INFORMATION_ABOUT_6' | translate }}</strong><br />
          <strong>{{ 'INFORMATION_ABOUT_7' | translate }}</strong>
        </p>
        <ul class="information-list">
            <li>{{ 'INFORMATION_ABOUT_8' | translate }}</li>
            <li>{{ 'INFORMATION_ABOUT_9' | translate }}</li>
            <li>{{ 'INFORMATION_ABOUT_10' | translate }}</li>
            <li>{{ 'INFORMATION_ABOUT_11' | translate }}</li>
            <li>{{ 'INFORMATION_ABOUT_12' | translate }}</li>
            <li>{{ 'INFORMATION_ABOUT_13' | translate }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row text-center">
  <div class="col">
      <mapfre-button
      [additionalClasses]="'flat link small'"
      [customIcon]="'assets/img/icons/back-arrow.png'"
      [iconClasses]="'align-middle'"
      [routerLink]="['/information']"
      [showIconsCustom]="true"
    >  {{ 'BACK' | translate }}
    </mapfre-button>
  </div>
</div>