<form 

  name="newPaymentForm"  
>
  <section class="row radio-amount margin-top mt24">
    <div class="col">
      <h2 class="title margin-bottom mb16">Select amount</h2>
      <div class="row">
        <div class="col">
          <div class="radio-label">
            <input class="" type="radio" id="paymentAmount-minimum" name="paymentAmount" checked>
            <label class="" for="paymentAmount-minimum">Minimum amount due</label>
          </div>
        </div>
        <div class="col payment-amount">
          <strong>$100.00</strong>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="radio-label">
            <input class="" type="radio" id="paymentAmount-max" name="paymentAmount">
            <label class="" for="paymentAmount-max">Outstanding policy balance</label>
          </div>
        </div>
        <div class="col payment-amount">
          <strong>$400.00</strong>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="radio-label">
            <input class="" type="radio" id="paymentAmount-other" name="paymentAmount">
            <label class="" for="paymentAmount-other">Other amount</label>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="row bank-inputs margin-top mt24">
    <div class="col">
      <h2 class="title">Checking account</h2>
      <div *ngFor="let input of inputs" class="input">
        <div class="row">
          <div class="col">
            
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="col">
          <mapfre-button
            [additionalClasses]="'basic primary large'"
            
            [routerLink]="['check']"
          >{{ 'CONTINUE' | translate}}
          </mapfre-button>

        </div>
      </div>
      <div class="row text-center margin-bottom mb24">
        <div class="col">
          <mapfre-button
            [additionalClasses]="'ghost secondary large'"
           
            [routerLink]="['check']">
            {{ 'CANCEL' | translate}}
          </mapfre-button>
        </div>
      </div>
    </div>
  </section>
</form>
