<form 
  [formGroup]="newPaymentForm" 
  name="newPaymentForm"  
  (ngSubmit)="newPaymentRadioForm.valid && newPaymentFormSubmit()">
  
  <section class="row radio-amount"  [formGroup]="newPaymentRadioForm">
    <div class="col">
      <h2 class="title margin-bottom mb16">{{ 'SELECT_AMOUNT' | translate }}</h2>
      <div class="row">
        <div class="col">
          <div class="radio-label padding-left pl4">
            <input class="" type="radio" id="paymentAmount-minimum" name="paymentAmount" checked formControlName="paymentAmount" [value]="policyDetails[0].billingDetails[0].minAmountDue " required="true" (change)="OnChangeShowCustomAmountField('min')">
            <label class="" for="paymentAmount-minimum">{{ 'MINIMUM_AMOUNT_DUE' | translate }}</label>
          </div>
        </div>
        <div class="col payment-amount text-right">
          <strong>${{ policyDetails[0].billingDetails[0].minAmountDue }}</strong>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="radio-label padding-left pl4">
            <input class="" type="radio" id="paymentAmount-max" name="paymentAmount" formControlName="paymentAmount" [value]="policyDetails[0].billingDetails.outstandingbalance || 0" required="true" (change)="OnChangeShowCustomAmountField('max')">
            <label class="" for="paymentAmount-max">{{ 'OUTSTANDING_POLICY_BALANCE' | translate }}</label>
          </div>
        </div>
        <div class="col payment-amount text-right">
          <strong>${{ policyDetails[0].billingDetails.outstandingbalance }}</strong>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="radio-label padding-left pl4">
            <input 
              class=""
              type="radio"
              id="paymentAmount-other" 
              name="paymentAmount" 
              formControlName="paymentAmount" 
              value="other" 
              required="true"
              (change)="OnChangeShowCustomAmountField('other')">
            <label class="" for="paymentAmount-other">{{ 'OTHER_AMOUNT' | translate }}</label>
          </div>
        </div>
      </div>
      <div class="row margin-top mt16" *ngIf="showCustomAmount">
        <div class="col input-content" style="margin-left: 20px">
          <div class= "input-field mapfre">
            <input 
              class="w-50"
              formControlName="otherAmount"
              id="otherAmount"
              name="otherAmount"
              type="tel"
              [mdbValidate]="false"
              mdbInputDirective
              />
            <mapfre-label forInput= "otherAmount">{{ 'ENTER_AMOUNT' | translate }}</mapfre-label>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="row bank-inputs margin-top mt24">
    <div class="col">
      <h2 class="title">
          {{ 'CHECKING_ACCOUNT' | translate }}
        <mapfre-button additionalClasses="link-button blue-link float-right no-border no-padding no-margin" (click)="OnClickEditButton($event)">
          {{ 'EDIT' | translate }} <svg-edit-icon-svg></svg-edit-icon-svg>  
        </mapfre-button>
      </h2>

      <ng-container *ngIf="editAccount">
        <div class="checking-form margin-top mt16">
          <div *ngFor="let input of inputs" class="input" [ngClass]="{ 'first-input': input?.inputType == 'address' }">
            <ng-container *ngIf="input.inputType == 'checkbox'">
              <div class="margin-vertical mv8">
                <input class="single-checkbox" id="store-checkbox"  type="checkbox" [formControlName]="input?.key">
                <label class="margin-left ml16" for="store-checkbox">{{input.label | translate }}</label>
              </div>
            </ng-container>
            <ng-container *ngIf="input.inputType != 'checkbox'">
              <mapfre-validation [input]="input" [form]="newPaymentForm"></mapfre-validation>
            </ng-container>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="!editAccount ">
        <div class="checking-info margin-top mt24">
          <div class="row  margin-bottom mb8">
            <div class="col">
              {{ 'ACCOUNT_HOLDER' | translate}}: <strong>{{checkingInfo.bankAccountDetails.accountHolderName}}</strong>
            </div>
          </div>
          <div class="row margin-bottom mb24">
            <div class="col">
                {{ 'ACCOUNT_NUMBER' | translate}}: <strong>{{checkingInfo.bankAccountDetails.accountNumber.digits}}</strong>
            </div>
          </div>
        </div>
        <div class="row" [formGroup]="newPaymentForm">
          <div class="col input-content">
            <div class= "input-field mapfre">
              <input 
                class="w-50"
                formControlName="newPayment_checkNumber"
                id="newPayment_checkNumber"
                name="newPayment_checkNumber"
                type="tel"
                [mdbValidate]="false"
                mdbInputDirective
                />
              <mapfre-label forInput= "newPayment_checkNumber">{{ 'CHECK_NUMBER' | translate }}</mapfre-label>
            </div>
          </div>
        </div>
      </ng-container>

      <div class="row text-center margin-top mt32">
        <div class="col">
          <mapfre-button
            [additionalClasses]="'basic primary large w-75 center-button  waves-effect waves-light'"
            [disabledValue]="newPaymentRadioForm.valid" 
            [inputType]="'submit'"
            [translateValue]="'CONTINUE' | translate">
          </mapfre-button>
        </div>
      </div>
      <div class="row text-center margin-bottom mb24 margin-top mt16">
        <div class="col">
          <mapfre-button
            [additionalClasses]="'ghost secondary small  waves-effect'"
            [routerLink]="['/my-insurance']">
            {{ 'CANCEL' | translate}}
          </mapfre-button>
        </div>
      </div>
    </div>
  </section>
</form>
