<div class= "row {{input.inputType}}-input" 
  [ngClass]= "{'mapfre-validation-rules': input.key == 'repeatPassword' }"
>
  <div class="col">
    <div [formGroup]= "form" class= "input-field mapfre">
      <div [ngSwitch]= "input.icon" class= "prefix">
        <i [class]= "input.iconClasses" *ngSwitchCase= "true"></i>
      </div>
      <div *ngIf="input.inputType == 'email'">
        <input
          (blur)= "OnBlur(this)"
          (focus)= "OnFocus(this)"
          (keyup)="OnKeyUp(this)"
          [class]= "input.additionalClasses"
          [data-error]= "input.validationMessage" 
          [formControlName]= "input.key" 
          [id]= "input.key" 
          [mdbValidate]="false"
          [name]= "input.key"
          [ngClass]="{'error': !validInput}"
          [type]= "input.inputType"
          #email 
          mdbInputDirective
          email
         />
        <mapfre-label [forInput]= "input.key" [validationCSSClass]="validInput">{{ input.label | translate }}</mapfre-label>
      </div>
      <div *ngIf="input.inputType == 'password'">
        <input
          (blur)= "OnBlur(this)"
          (focus)= "OnFocus(this)"
          (keyup)="OnKeyUp(this)"
          [class]= "input.additionalClasses"
          [data-error]= "input.validationMessage" 
          [formControlName]= "input.key"  
          [id]= "input.key" 
          [mdbValidate]="false"
          [name]= "input.key"
          [ngClass]="{'error': !validInput}"
          [type]= "showPassword ? 'text' : 'password'"
          #password
          mdbInputDirective
         />
        <mapfre-icon 
          password= "true"
          [onFocusShowIcon]= "showPasswordIcon"
          [showIconsForPassword]= "input.showPasswordIcon"
          (onClickShowPassword)= "showPasswordFunction($event)">
        </mapfre-icon>
        <mapfre-label [forInput]= "input.key" [validationCSSClass]="validInput">{{ input.label | translate }}</mapfre-label>
      </div>
      <div *ngIf= "input.inputType != 'email' && input.inputType != 'password' ">
        <input
          (blur)= "OnBlur(this)"
          (focus)="OnFocus(this)"
          (keyup)="OnKeyUp(this)"
          [class]= "input.additionalClasses"
          [data-error]= "input.validationMessage" 
          [formControlName]= "input.key"  
          [id]= "input.key" 
          [mdbValidate]="false"
          [name]= "input.key"
          [ngClass]="{'error': !validInput && allowValidaitonToRun }"
          [type]= "input.inputType"
          #textbox
          mdbInputDirective
        />
        <mapfre-label [forInput]= "input.key" [validationCSSClass]="validInput">{{ input.label | translate }}</mapfre-label>
      </div>
      <div class="help-block" >
        <span class= "error-block" *ngIf= "!isValid && notOnPageLoad && input.inputType != 'email' && !message">
          {{ input.validationMessageError | translate }}
        </span>
        <span class="error-block" 
          *ngIf= "!isValid && input.inputType == 'email' && validMessageShow && !message">
          {{ input.validationMessageError | translate }}
        </span>
        <span *ngIf="message && input.key == 'createPassword' " class="error-block">
          {{ message?.text | translate }}
        </span>
        <span class= "info-block" *ngIf= "input.inputType == 'password' && capsLock">
          <mapfre-icon iconClasses="fas fa-exclamation-triangle"></mapfre-icon> {{ 'CAPS_LOCK' | translate }}
        </span>
      </div>
      <div *ngIf= "input.key != 'createPassword'; else createPassword"></div>
    </div>
  </div>
</div>

<ng-template #createPassword>
  <div class="password-validation">
    <div class="row">
      <div class="col title">
        {{ 'YOUR_PASSWORD_SHOULD_BE' | translate }}
      </div>
    </div>
    <div class="row" [ngClass]="{'valid': passwordRules('ruleOne'), 'not-fullfilled': !passwordRules('ruleOne')}">
      <div class="col">
        <div class="icon">
            <i class="fas fa-check-circle"></i>
          <span class="sr-only sr-only-focusable" *ngIf="!passwordRules('ruleOne')">{{ 'DOES_NOT_PASS' | translate }}</span>
          <span class="sr-only sr-only-focusable" *ngIf="passwordRules('ruleOne')">{{ 'PASSES_THE_RULE' | translate }}</span>
        </div>
        <div class="rule">
          {{ 'PASSWORD_RULE_ONE' | translate }}
        </div>
      </div>
    </div>
    <div class="row" [ngClass]="{'valid': passwordRules('ruleTwo'), 'not-fullfilled': !passwordRules('ruleTwo')}">
      <div class="col">  
        <div class="icon">
          <i class="fas fa-check-circle"></i>
          <span class="sr-only sr-only-focusable" *ngIf="!passwordRules('ruleTwo')">{{ 'DOES_NOT_PASS' | translate }}</span>
          <span class="sr-only sr-only-focusable" *ngIf="passwordRules('ruleTwo')">{{ 'PASSES_THE_RULE' | translate }}</span>
        </div>
        <div class="rule">
            {{ 'PASSWORD_RULE_TWO' | translate }}
        </div>
      </div>
    </div>
    <div class="row" [ngClass]="{'valid': passwordRules('ruleThree'), 'not-fullfilled': !passwordRules('ruleThree')}">
      <div class="col">
        <div class="icon">
            <i class="fas fa-check-circle"></i>
          <span class="sr-only sr-only-focusable" *ngIf="!passwordRules('ruleThree')">{{ 'DOES_NOT_PASS' | translate }}</span>
          <span class="sr-only sr-only-focusable" *ngIf="passwordRules('ruleThree')">{{ 'PASSES_THE_RULE' | translate }}</span>
        </div>
        <div class="rule">
            {{ 'PASSWORD_RULE_THREE' | translate }}
        </div>
      </div>
    </div>
    <div class="row" [ngClass]="{'valid': passwordRules('ruleFour'), 'not-fullfilled': !passwordRules('ruleFour')}">
      <div class="col">  
        <div class="icon">
            <i class="fas fa-check-circle"></i>
          <span class="sr-only sr-only-focusable" *ngIf="!passwordRules('ruleFour')">{{ 'DOES_NOT_PASS' | translate }}</span>
          <span class="sr-only sr-only-focusable" *ngIf="passwordRules('ruleFour')">{{ 'PASSES_THE_RULE' | translate }}</span>
        </div>
        <div class="rule">
            {{ 'PASSWORD_RULE_FOUR' | translate }}
        </div>
      </div>
    </div>
    <div class="row" [ngClass]="{'valid': passwordRules('ruleFive'), 'not-fullfilled': !passwordRules('ruleFive')}">
      <div class="col">  
        <div class="icon">
            <i class="fas fa-check-circle"></i>
          <span class="sr-only sr-only-focusable" *ngIf="!passwordRules('ruleFive')">{{ 'DOES_NOT_PASS' | translate }}</span>
          <span class="sr-only sr-only-focusable" *ngIf="passwordRules('ruleFive')">{{ 'PASSES_THE_RULE' | translate }}</span>
        </div>
        <div class="rule">
            {{ 'PASSWORD_RULE_FIVE' | translate }}
        </div>
      </div>
    </div>
  </div>
</ng-template>