@import "../../../../styles.scss";
$mapfre-validation-error-color:             $error-color;
$mapfre-validation-info-color:              $mapfre-blue;
$mapfre-validation-valid-color:             $mapfre-green;
$mapfre-validation-info-padding-left:       $global-one-rem * 0.5;
$mapfre-validation-info-font-size:          $global-one-rem * 0.7;
$mapfre-validation-info-height:             $global-one-rem;
$mapfre-input-error-color:                  $error-color;
$mapfre-input-error-label-font-size:        $font-size-base / 1.25;
$mapfre-input-validation-help-top:          $padding-vertical / 2.5;

/* 
    ----- Information -----
    The Input styles are in the global-component folder in 
    assets/scss/_global-components/_inputs.scss. 
    This is due to the use of multiple components being used for this particular section. 

*/
input:focus, .form-control:focus { /* this is temporary */
  outline:                                  0;
  outline:                                  none;
  box-shadow:                               none;
  border:                                   none;
}

.error {
  border-color:                             $input-error-color;
  color:                                    $input-error-color;
}

.error-block {
  color:                                    $mapfre-validation-error-color;
}

.help-block {
  font-size:                                $mapfre-validation-info-font-size;
  height:                                   $mapfre-validation-info-height;
  padding-left:                             $mapfre-validation-info-padding-left;
  position:                                 relative;
  
  span {
    position:                               absolute;
  }

  .error {
    color:                                  $mapfre-input-error-color;
    font-size:                              $mapfre-input-error-label-font-size;
    padding-top:                            $mapfre-input-validation-help-top;
  }
}

.hide-validation {
  display:                                  none;
  @include transition(5s);
}

.info-block {
  color:                                    $mapfre-validation-info-color;
}

.mapfre-input {
  height:                                   66px;
  line-height:                              normal;
  position:                                 relative;

  .input-content {
    bottom:                                 0px;
    position:                               absolute;
  }
  
  .help-block {
    height:                                 16px;
  }
}

.password-validation {

  .icon {
    float:                                  left;
    width:                                  30px;
    padding-left:                           8px;
    padding-right:                          8px;
  }

  .not-fullfilled {
    color:                                  $dark-grey;
  }

  .rule {
    float:                                  left;
    line-height:                            24px;
    font-size:                              12px;
    margin-top:                             -2px;
  }

  .title {
    color:                                  $grey;
    font-size:                              12px;
    height:                                 24px;
  }

  i {
    color:                                  $soft-grey;
  }
}

.show-validation {
  display:                                  block;
  @include transition(5s);
}

.valid,
.valid.not-fullfilled {
  color:                                    $mapfre-validation-valid-color;
  @include transition(1s);

  i {
    color:                                  $mapfre-validation-valid-color;
  }
}
