<div class= "row {{input.inputType}}-input" 
  [ngClass]= "{'mapfre-validation-rules': input.key == 'repeatPassword' }"
>
  <div class="col">
    <div [formGroup]= "form" class= "input-field mapfre">
      <div [ngSwitch]= "input.icon" class= "prefix">
        <i [class]= "input.iconClasses" *ngSwitchCase= "true"></i>
      </div>
      <div *ngIf="input.inputType == 'email'">
        <input
          (blur)= "OnBlur(this)"
          (focus)= "OnFocus(this)"
          [class]= "input.additionalClasses"
          [data-error]= "input.validationMessage" 
          [formControlName]= "input.key" 
          [id]= "input.key" 
          [mdbValidate]="false"
          [name]= "input.key"
          [type]= "input.inputType" 
          mdbInputDirective
          email
         />
        <mapfre-label [forInput]= "input.key">{{input.label}}</mapfre-label>
      </div>
      <div *ngIf="input.inputType == 'password'">
        <input
          (blur)= "OnBlur(this)"
          (focus)= "OnFocus(this)"
          [class]= "input.additionalClasses"
          [data-error]= "input.validationMessage" 
          [formControlName]= "input.key"  
          [id]= "input.key" 
          [mdbValidate]="false"
          [name]= "input.key"
          [type]= "showPassword ? 'text' : 'password'"
          mdbInputDirective
         />
        <mapfre-icon 
          password= "true"
          [onFocusShowIcon]= "notOnFocus"
          [showIconsForPassword]= "input.showPasswordIcon"
          (onClickShowPassword)= "showPasswordFunction($event)">
        </mapfre-icon>
        <mapfre-label [forInput]= "input.key">{{input.label}}</mapfre-label>
        <div *ngIf= "input.key != 'repeatPassword'; else repeatPassword"></div>
      </div>
      <div *ngIf= "input.inputType != 'email' && input.inputType != 'password' ">
        <input
          (blur)= "OnBlur(this)"
          [class]= "input.additionalClasses"
          [data-error]= "input.validationMessage" 
          [formControlName]= "input.key"  
          [id]= "input.key" 
          [mdbValidate]="false"
          [name]= "input.key"
          [type]= "input.inputType"
          mdbInputDirective
        />
        <mapfre-label [forInput]= "input.key">{{input.label}}</mapfre-label>
      </div>
      <div class="help-block" >
        <span class= "error-block" *ngIf= "!isValid && notOnPageLoad && input.inputType != 'email'">
          {{input.validationMessageError}}
        </span>
        <span class= "error-block" 
          *ngIf= "!isValid && input.inputType == 'email' && emailNoSpace ">
          {{input.validationMessageError}}
        </span>
        <span class= "info-block" *ngIf= "input.inputType == 'password' && capsLock">
          <mapfre-icon iconClasses="fas fa-exclamation-triangle"></mapfre-icon> Caps Lock is On
        </span>
      </div>
    </div>
  </div>
</div>

<ng-template #repeatPassword>
  <!-- Possiblly try to turn some of this into an object then just loop through it -->
  <section [ngClass]="{'show-validation': !passwordRules('all'), 'hide-validation': passwordRules('all') }">
    <div class="row">
      <div class="col">
        {{ 'YOUR_PASSWORD_SHOULD_BE' | translate }}
      </div>
    </div>
    <div class="row" [ngClass]="{'valid': passwordRules('ruleOne'), 'error': !passwordRules('ruleOne')}">
      <div class="col">
        <i class="fas fa-times-circle"></i>
        <span class="sr-only sr-only-focusable" *ngIf="!passwordRules('ruleOne')">{{ 'DOES_NOT_PASS' | translate }}</span>
        <span class="sr-only sr-only-focusable" *ngIf="passwordRules('ruleOne')">{{ 'PASSES_THE_RULE' | translate }}</span>
      </div>
      <div class="col">
        {{ 'PASSWORD_RULE_ONE' | translate }}
      </div>
    </div>
    <div class="row" [ngClass]="{'valid': passwordRules('ruleTwo'), 'error': !passwordRules('ruleTwo')}">
      <div class="col">
        <i class="fas fa-times-circle"></i>
        <span class="sr-only sr-only-focusable" *ngIf="!passwordRules('ruleTwo')">{{ 'DOES_NOT_PASS' | translate }}</span>
        <span class="sr-only sr-only-focusable" *ngIf="passwordRules('ruleTwo')">{{ 'PASSES_THE_RULE' | translate }}</span>
      </div>
      <div class="col">
          {{ 'PASSWORD_RULE_TWO' | translate }}
      </div>
    </div>
    <div class="row" [ngClass]="{'valid': passwordRules('ruleThree'), 'error': !passwordRules('ruleThree')}">
      <div class="col">
        <i class="fas fa-times-circle"></i>
        <span class="sr-only sr-only-focusable" *ngIf="!passwordRules('ruleThree')">{{ 'DOES_NOT_PASS' | translate }}</span>
        <span class="sr-only sr-only-focusable" *ngIf="passwordRules('ruleThree')">{{ 'PASSES_THE_RULE' | translate }}</span>
      </div>
      <div class="col">
          {{ 'PASSWORD_RULE_THREE' | translate }}
      </div>
    </div>
    <div class="row" [ngClass]="{'valid': passwordRules('ruleFour'), 'error': !passwordRules('ruleFour')}">
      <div class="col">
        <i class="fas fa-times-circle"></i>
        <span class="sr-only sr-only-focusable" *ngIf="!passwordRules('ruleFour')">{{ 'DOES_NOT_PASS' | translate }}</span>
        <span class="sr-only sr-only-focusable" *ngIf="passwordRules('ruleFour')">{{ 'PASSES_THE_RULE' | translate }}</span>
      </div>
      <div class="col">
          {{ 'PASSWORD_RULE_FOUR' | translate }}
      </div>
    </div>
    <div class="row" [ngClass]="{'valid': passwordRules('ruleFive'), 'error': !passwordRules('ruleFive')}">
        <div class="col">
          <i class="fas fa-times-circle"></i>
          <span class="sr-only sr-only-focusable" *ngIf="!passwordRules('ruleFive')">{{ 'DOES_NOT_PASS' | translate }}</span>
          <span class="sr-only sr-only-focusable" *ngIf="passwordRules('ruleFive')">{{ 'PASSES_THE_RULE' | translate }}</span>
        </div>
      <div class="col">
          {{ 'PASSWORD_RULE_FIVE' | translate }}
      </div>
    </div>
  </section>
</ng-template>

