@import "../../../../styles.scss";
$mapfre-validation-error-color:            $mapfre-red;
$mapfre-validation-valid-color:            $mapfre-green;
/* 
    ----- Information -----
    The Input styles are in the global-component folder in assets/scss/_global-components/_inputs.scss. 
    This is due to the use of multiple components being used for this particular section. 

*/
.mapfre-validation-rules {
    height:                         auto;
}

.hide-validation {
    display:                        none;
    @include                        transition(5s);
}

.show-validation {
    display:                        block;
    @include                        transition(5s);
}

.error {
    color:                          $mapfre-validation-error-color;
}

.valid {
    color:                          $mapfre-validation-valid-color;
    @include transition(1s);
    i {
        &:before {
            content:                '\f058';
            font-family:            FontAwesome;
        }
    }
}

.password-input {
    padding-top:                    14px;
}
