@import "../../../../styles.scss";
// --- Color
$mapfre-input-error-color:                  $error-color;
$mapfre-input-password-icon-color:          $soft-grey;
$mapfre-input-password-notfull-color:       $dark-grey;
$mapfre-input-password-title-color:         $grey;
$mapfre-validation-error-color:             $error-color;
$mapfre-validation-info-color:              $mapfre-blue;
$mapfre-validation-valid-color:             $mapfre-green;
// --- .mafpre-input class
$mapfre-input-class-height:                 $global-one-rem * 4.125;//66px
$mapfre-input-class-help-height:            $global-one-rem;
$mapfre-input-class-content-bottom:         $global-zero;
// --- Password Icon
$mapfre-input-password-icon-width:          $global-one-rem * 1.875;
$mapfre-input-password-icon-padding-vert:   $default-margin-padding;
$mapfre-input-password-rule-line-height:    $global-one-rem * 1.5 ;
$mapfre-input-password-rule-font-size:      $font-size-base * 0.8571428571;
$mapfre-input-password-rule-margin-top:     -($default-margin-padding * 0.1428571429);
$mapfre-input-password-title-font-size:     $mapfre-input-password-rule-font-size;
$mapfre-input-password-title-height:        $global-one-rem * 1.5;
// --- ETC
$mapfre-input-error-label-font-size:        $font-size-base / 1.25;
$mapfre-input-focus-outline:                $global-zero;
$mapfre-input-validation-help-top:          $padding-vertical / 2.5;
$mapfre-validation-info-padding-left:       $global-one-rem * 0.5;
$mapfre-validation-info-font-size:          $global-one-rem * 0.7;
$mapfre-validation-info-height:             $global-one-rem;
$mapfre-input-password-rule-width:          89%;

/* 
    ----- Information -----
    The Input styles are in the global-component folder in 
    assets/scss/_global-components/_inputs.scss. 
    This is due to the use of multiple components being used for this particular section. 

*/
input:focus, .form-control:focus { /* this is temporary */
  box-shadow:                               none;
  border:                                   none;
  outline:                                  $mapfre-input-focus-outline;
  outline:                                  none;
}

.error {
  border-color:                             $input-error-color;
  color:                                    $input-error-color;
}

.error-block {
  color:                                    $mapfre-validation-error-color;
}

.help-block {
  font-size:                                $mapfre-validation-info-font-size;
  height:                                   $mapfre-validation-info-height;
  padding-left:                             $mapfre-validation-info-padding-left;
  position:                                 relative;
  
  span {
    position:                               absolute;
  }

  .error {
    color:                                  $mapfre-input-error-color;
    font-size:                              $mapfre-input-error-label-font-size;
    padding-top:                            $mapfre-input-validation-help-top;
  }
}

.hide-validation {
  display:                                  none;
  @include transition(5s);
}

.info-block {
  color:                                    $mapfre-validation-info-color;
}

.mapfre-input {
  height:                                   $mapfre-input-class-height;
  line-height:                              normal;
  position:                                 relative;

  .input-content {
    bottom:                                 $mapfre-input-class-content-bottom;
    position:                               absolute;
  }
  
  .help-block {
    height:                                 $mapfre-input-class-help-height;
  }
}

.password-validation {

  .icon {
    float:                                  left;
    width:                                  $mapfre-input-password-icon-width;
    padding-left:                           $mapfre-input-password-icon-padding-vert;
    padding-right:                          $mapfre-input-password-icon-padding-vert;
  }

  .not-fullfilled {
    color:                                  $mapfre-input-password-notfull-color;
  }

  .rule {
    float:                                  left;
    line-height:                            $mapfre-input-password-rule-line-height;
    font-size:                              $mapfre-input-password-rule-font-size;
    margin-top:                             $mapfre-input-password-rule-margin-top;
    width:                                  $mapfre-input-password-rule-width;
  }

  .title {
    color:                                  $mapfre-input-password-title-color;
    font-size:                              $mapfre-input-password-title-font-size;
    height:                                 $mapfre-input-password-title-height;
  }

  i {
    color:                                  $mapfre-input-password-icon-color;
  }
}

.show-validation {
  display:                                  block;
  @include transition(5s);
}

.valid,
.valid.not-fullfilled {
  color:                                    $mapfre-validation-valid-color;
  @include transition(1s);

  i {
    color:                                  $mapfre-validation-valid-color;
  }
}
