<div class="wrapper">
  <div class="sidebar">
    <ul *ngFor="let component of components">
      <li><a href="{{component.url}}">{{component.name}}</a></li>
    </ul>
  </div>

  <div class="content">
    <section class="mapfre-card">
      <mapfre-card>Basic Mapfre-card</mapfre-card>
      <mapfre-code> 
        &lt;mapfre-card&gt; Basic Mapfre-card &lt;/mapfre-card&gt; 
      </mapfre-code>
    </section>
    
    <section class="mapfre-link">
      <mapfre-link> Basic mapfre-link</mapfre-link>
      <mapfre-code> 
        &lt;mapfre-link&gt;Basic mapfre-link &lt;/mapfre-link&gt;
      </mapfre-code>
    </section>

    <section class="mapfre-icon">
      <mapfre-icon iconClasses="fab fa-bandcamp">Basic Mapfre Icon</mapfre-icon>
      <mapfre-code> 
        &lt;mapfre-icon iconClasses="fab fa-bandcamp"&gt;Basic Mapfre Icon &lt;/mapfre-icon&gt;
      </mapfre-code>
    </section>

    <section class="mapfre-code">
      <mapfre-code>
        &lt;mapfre-code&gt; A Basic Code block&lt;/mapfre-code&gt;
      </mapfre-code>
    </section>

    <section class="mapfre-alert">
      <mapfre-alert alertType="error" nonDynamic="true"> A Basic Alert </mapfre-alert>
      <mapfre-code> &lt;mapfre-alert  [alertType]="error" A Basic Alert &lt;/mapfre-alert&gt; </mapfre-code>
    </section>
    
    <section class="mapfre-button">
      <mapfre-button>Basic Button</mapfre-button>
      <mapfre-code> &lt;mapfre-button&gt;Basic Button&lt;/mapfre-button&gt; </mapfre-code>
    </section>  
    
    <section class="mapfre-switch">
      <mapfre-switch> Basic Switch</mapfre-switch>
      <mapfre-code> &lt;mapfre-switch&gt;Basic Switch&lt;/mapfre-switch&gt; </mapfre-code>
    </section>

    <section class="mapfre-input-validation">
      <p>
        The Input with Validation works with the Dynamic Forms. Please checkout 
        <a href="https://angular.io/guide/dynamic-form" target="_blank">https://angular.io/guide/dynamic-form</a> to get
        a better understanding on how to use it.
      </p>
     <!-- <mapfre-validation [input]="exampleObject" [form]="example"></mapfre-validation> -->
      <mapfre-code>  
          &lt;mapfre-validation [input]="exampleObject" [form]="example"&gt;&lt;/mapfre-validation&gt;
      </mapfre-code>
    </section>

  </div>
</div>
