@import "../../../../styles.scss";

$mapfre-link-color:                         $active-color;
$mapfre-link-border-bottom-color:           $active-color;
$mapfre-link-color-red:                     $mapfre-red;
$mapfre-link-font-size-small:               0.75rem;
$mapfre-link-font-size-base:                0.875rem;
$mapfre-link-font-size-large:               1rem;
$mapfre-link-icon-top:                      -5px;
$mapfre-link-icon-right:                    $padding-horizontal/1.5;
$mapfre-link-padding:                       0 $padding-vertical;

i {
    font-size:                              1rem;
    font-weight:                            900;
}

.mapfre {  
    span {
        color:                              $mapfre-link-color;
    }
    
    &.large-link {
        font-size:                          $mapfre-link-font-size-large;
    }

    .link-icon {
        position:                           relative;
        top:                                2px;
        font-size:                          16px;
        padding-right:                      8px;
    }

    &.normal-link {
        font-size:                          $mapfre-link-font-size-base;
        border-bottom:                      thin solid transparent;
        &:hover {
            border-bottom-color:            $mapfre-link-border-bottom-color;
        }
    }

    &.red-link {
        color:                              $mapfre-link-color-red;
    }

    &.small-link {
        font-size:                          $mapfre-link-font-size-small;
    }

    &.switch-line-up {
        position:                           relative;
        top:                                5px; //change to rem and variable
    }

    &.underline {
        .link-content {
            border-bottom:                      thin solid $mapfre-link-border-bottom-color;
        }
       @include transition(1s);
    }
}