<nav class="row claim-details-nav margin-bottom mb40 no-margins-hug hug-content">
  <div class="w-100 tab-navigation">
    <ul class="w-100 pl-0 d-table">
      <li routerLinkActive="active" class="w-50">
        <a 
          [routerLink]="['/claims/active']" 
          title="Active Claims"
          class=" waves-effect waves-red" mdbWavesEffect>
          {{'ACTIVE' | translate}}
        </a>
      </li>
      <li routerLinkActive="active" class="w-50">
          <a
            [routerLink]="['/claims/closed']"
            title="Closed Claims"
            class=" waves-effect waves-red" mdbWavesEffect>
            {{'CLOSED' | translate}}
          </a>
      </li>
    </ul>
  </div>
</nav>
