<div class="text-center">
{{ 'LINK_HAS_EXPIRED_PARAGRAPH' | translate }}
</div>

<div class="row text-center group-button">
  <div class="col">
    <mapfre-button
      [additionalClasses]="'basic primary large'"
      [inputType]="'button'"
      [routerLink]="['/forgotpassword']"
      [queryParams]="{ emailPrefill: emailPrefillParamater }">
      {{ 'REQUEST_NEW_LINK' | translate }}
    </mapfre-button>
  </div>
</div>

<hr class="hr-login" />

<div class="row text-center group-login-button">
  <div class="col">
    <mapfre-button
      [additionalClasses]="'flat link small'"
      [customIcon]="'assets/img/icons/back-arrow.png'"
      [iconClasses]="'align-middle'"
      [routerLink]="['/login']"
      [showIconsCustom]="true"
    >  {{ 'LOGIN' | translate }}
    </mapfre-button>
  </div>
</div>