@import "../../../../styles.scss";

$help-modal-link-color:                 $mapfre-blue;
$help-modal-link-font-size:             $font-size-base;
$help-modal-info-color:                 $lite-gray;
$help-modal-info-font-size:             $font-size-base * 0.5;

hr {
    &.header {
        margin-top: 0;
        margin-bottom: 20px;
    }
     &.body {
        margin-top: 32px;
        margin-bottom: 32px;
     }
}

.close {
    font-size: 56px;
    font-weight: 100;
    margin-top: -33px !important;
    text-shadow: none !important;
}

.modal-body {
    font-size: 1rem;  
}

.modal-content {
    @include border-radius(0)
}

.modal-footer {
    justify-content: flex-start;
}

.modal-header {
    border-bottom: none;
    padding-bottom: 0
}

.modal-small {
    color: $lite-gray;
    font-size: 0.75rem;
    padding-top: 16px;
    padding-bottom: 8px;
    font-weight: 100;
}

.modal-strong {
    font-weight: 700;
}

.modal-title {
    color: #737373;
    text-transform: uppercase;
}

a.grid-modal-footer {
    color: $mapfre-blue;
    font-size: 1rem;
    font-weight: 700;

    .fas {
        font-size: 24px;
    }

    .fa-chevron-right {
        font-size: 1rem;
    }

    .info {
        color: $lite-gray;
        font-size: 12px;
        font-weight: 400;
    }

    &:hover {
        text-decoration: none;
        background: rgba(0, 0, 0, 0.1);
    }
}
