<ng-container *ngFor="let policy of policyResponse">

  <mapfre-card 
    [singleCard]="false"
    [additionalClasses]="'dashboard-policies'">
      
      <div class="row" [ngClass]="{ 'no-pay': !policy.billingDetails[0] || (policy.billingDetails[0] && policy.billingDetails[0].outstandingbalance == 0) , 'pay': policy.billingDetails[0] && policy.billingDetails[0].outstandingbalance != 0 }">
        <div class="policy-background col">
          <div class="car" *ngIf="policy.policyType === 'AUTO'"></div>
          <div class="house" *ngIf="policy.policyType === 'HOME'"></div>
        </div>
        <div class="policy-content col">
            <h2 class="row">
              <div class="col-6 title">{{ policy.policyType | translate}} &ndash; <strong> {{ policy.policynumber.policynumber }} </strong></div>
              <div class="text-right col-6"
              [ngClass]="{'green-color': policy.policyStatus === 'ACTIVE', 
                'red-color': policy.policyStatus !== 'ACTIVE' }">
                <ng-container *ngIf="policy.policyStatus !== 'ACTIVE' ">
                  <small>{{policy.policyStatus | translate}}</small>
                </ng-container>
                <ng-container *ngIf="policy.policyStatus == 'ACTIVE'">
                  <small>{{policy.effDate | customDateFormat }} {{ 'TO' |translate }} {{policy.expDate | customDateFormat }}</small>
                </ng-container>
              </div>
            </h2>
            <div [ngSwitch]="policy.policyType">
            <div class="row policy-row" *ngSwitchCase="'AUTO'">
              <div class="col">
                <div class="policy-icon">
                    <svg-car-mono-color-small-svg></svg-car-mono-color-small-svg>
                </div>
                <div class="policy-info">
                  <div class="policy-info-content" [class.show-more-detail]= "hideOrShow">
                    <ng-container *ngFor="let vehicles of policy.vehicle; let last = last">
                        {{ vehicles.vehicle }}<ng-container *ngIf="!last">, </ng-container>
                    </ng-container>
                  </div>
                  <div class="policy-info-link" *ngIf="policy.vehicle.length > 1"><a (click)="showMore($event)" class="show-more-button">+{{policy.vehicle.length-1 }} {{ 'MORE' | translate}}</a></div>
                </div>
              </div>
            </div>
            <div class="row policy-row" *ngSwitchCase="'HOME'">
              <div class="col">
                <div class="policy-icon home-icon">
                    <svg-house-mono-color-small-svg></svg-house-mono-color-small-svg>
                </div>
                <div class="policy-info">
                  <div class="policy-info-content">
                    {{ policy.property[0].address.streetName }}, {{ policy.property[0].address.city }}, {{ policy.property[0].address.state }}, {{ policy.property[0].address.zipCode.code }}
                  </div>
                </div>
              </div>
            </div>
          </div>

            <div class="row policy-row">
              <div class="col">
                <div class="policy-icon holder-icon">
                  <svg-holder-mono-color-svg></svg-holder-mono-color-svg>
                </div>
                <div class="policy-info">
                  <div class="policy-info-content" [class.show-more-detail]= "hideOrShow">
                    <ng-container *ngFor="let insured of policy.insured; let last = last">
                      {{insured['Insured Name'] | titlecase }}<ng-container *ngIf="!last">, </ng-container>
                    </ng-container>
                  </div>
                  <div class="policy-info-link" *ngIf="policy.insured.length > 1">
                      <a (click)="showMore($event)" class="show-more-button">
                        +{{policy.insured.length-1 }} {{ 'MORE' | translate}}
                      </a>
                    </div>
                </div>
              </div>
            </div>
            <div class="row policy-row">
              <div class="col">
                <div class="policy-icon">
                  <svg-money-mono-color-svg></svg-money-mono-color-svg>
                </div>
                <div class="policy-info">
                  <ng-container *ngIf="!policy.billingDetails[0] || (policy.billingDetails[0] && policy.billingDetails[0].outstandingbalance == 0)">
                    {{ 'BALANCE' | translate}} <span class="green-color">{{'NO_PAYMENTS_DUE' | translate}}</span>
                  </ng-container>
                  <ng-container *ngIf="policy.billingDetails[0] && policy.billingDetails[0].outstandingbalance != 0">
                      {{ 'OUTSTANDING_BALANCE' | translate}}: <strong>{{ policy.billingDetails[0].outstandingbalance | currency }}</strong>
                  </ng-container>
                </div>
              </div>
            </div>
            <ng-container *ngIf="policy.billingDetails[0] && policy.billingDetails[0].outstandingbalance != 0">
              <div class="row policy-row">
                <div class="col">
                  <div class="policy-icon">
                    <svg-calendar-mono-color-svg></svg-calendar-mono-color-svg>
                  </div>
                  <div class="policy-info pay-now">
                    <div class="date-amount">
                      {{ 'NEXT' | translate}} : {{policy.billingDetails[0].paymentDueDate |  customDateFormat }} :
                      <strong>{{policy.billingDetails[0].minAmountDue | currency}}</strong>
                    </div>
                    <div class="pay-now-button">
                      <mapfre-modal 
                        [modalOptions]="payNowModal">
                        <div class="modal-body">
                          <hr class="margin-bottom mb24 no-margin-top" />
                          <div class="modal-body-content">
                            <div class="row text-center margin-top mt16">
                              <div class="col-md-6 col-sm-12">
                                  <mapfre-link
                                    [additionalClasses]="'ghost primary large btn'"
                                    [routerLink]="['/billing/' +  policy.policynumber.policynumber + '/new-payment/']">
                                    {{ 'PAY_BY_CHECK' | translate}}
                                  </mapfre-link>
                              </div>
                              <div class="col-md-6 col-sm-12">
                                 <a class="mapfre link ghost primary large btn" target="_blank" 
                                  [href]="'https://www.mapfreinsurance.com/b2cwebapp/view/billing?policyNumber=' + policy.policynumber.policynumber + '&source=makePayment&selectedTabIdx=1&fragments=main&mode=embedded'">
                                  <span class="link-content"> 
                                      {{ 'PAY_BY_CREDIT_CARD' | translate}}
                                  </span>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </mapfre-modal>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
      </div>
      <div class="clear-fix"></div>
      <a 
        mdbWavesEffect 
        [routerLink]="['/my-insurance', policy.policynumber.policynumber, 'details']" 
        class="policy-link  waves-light d-block"> 
        {{ 'Details_Billing_Documents' | translate }} 
        <svg-arror-right-svg></svg-arror-right-svg>
      </a>
    </mapfre-card>

</ng-container>
<div class="row margin-top mt16">
  <div class="col">
      {{ 'HAVE_OTHER_MAPFRE_POLICIES_NOT_LISTED_HERE' | translate }}  <a class="underline" [routerLink]="['/my-insurance/link-policy']">{{ 'ADD_YOUR_POLICY' | translate }}</a>
  </div>
</div>