<div class="profile-details">
  <div class="change-address single-card-column">
    <div class="row text-center">
      <div class="col">
        <div class="header-icon">
          <svg-caution-color-svg></svg-caution-color-svg>
        </div>  
        <h1 class="title-copy">{{ 'PROFILE_EMAIL_CONF_ONE' | translate }}</h1> 
        <div class="sub-title-copy">
          {{ 'PROFILE_EMAIL_CONF_TWO' | translate }} 
        </div>
        <div class="sub-title-copy">
        </div>
      </div>
    </div>
    <div class="row text-center margin-vertical mv32">
      <div class="col">
        <div>
          {{ 'PROFILE_EMAIL_CONF_THREE' | translate }}
        </div>
        <div class="font-size medium-font">
          <strong>{{ newEmail }}</strong> 
          <a 
          [routerLink]="['/profile','edit-email']"
          class="inline-svg margin-left ml16" > 
            <svg-edit-icon-svg></svg-edit-icon-svg>
          </a>
        </div>
      </div>
    </div>
    <div class="row margin-bottom mb24">
      <div class="col">
        <mapfre-button
          additionalClasses="primary basic large text-center mx-auto"
          (click)="confirmNewEmail()"
          >{{ 'PROFILE_EMAIL_CONF_FOUR' | translate }}
        </mapfre-button>
      </div>
    </div>
    <div class="row text-center margin-bottom mb8">
      <div class="col">
        <mapfre-button 
          additionalClasses="link-button small blue-link" 
          (click)="cancel()"
        >  {{ 'CANCEL' | translate }}
        </mapfre-button>
      </div>
    </div>
  </div>
</div>

