<mapfre-card [singleCard]="true" [additionalSectionClasses]="'profile-components'" [additionalClasses]="'profile-section-card'">    
    <div class="row text-center">
      <div class="col">
        <div class="header-icon">
          <svg-create-new-password-svg></svg-create-new-password-svg>
        </div>
        <h1 class="title-copy">{{ 'PROFILE_PASSWORD_TITLE' | translate }}</h1> 
        <div class="sub-title-copy">
         {{ whereInTheProcessTitle() | translate }} 
        </div>
      </div>
    </div>
    
    <div *ngIf="whereInTheProcess === 'enter-password';else editPassword">
      <app-change-password-form [inputs]="changePassword" [userData]="user"></app-change-password-form>
    </div>
    <ng-template #editPassword>
      <app-create-password-form [inputs]="changePassword" [userData]="user"></app-create-password-form>
    </ng-template>
    </mapfre-card>