<div class="container full-page">

  <!-- Login form -->
  <form [formGroup]="loginForm" name="loginForm" (ngSubmit)="loginForm.valid && login()" novalidate class="centered-form" method="post" action="/b2cwebapp/j_spring_security_check">

    <!-- Logo -->
    <div class="h5 text-center mb-5">
      <img src="../../assets/img/MAPFRE INS Stacked-Centered Red Process.png" alt="Mapfre Insurance" />
    </div>

    <!-- Alert with message if Login fails -->
    <div class="col-sm-8 col-sm-offset-2">
      <app-alert></app-alert>
      <router-outlet></router-outlet>
    </div>

    <!-- Email -->
    <div class="md-form">
      <i class="fa fa-envelope prefix grey-text"></i>
      <input type="email" class="form-control" name="j_username" formControlName="email"  required mdbInputDirective />
      <label for="email" [innerHtml]="'YOUR_EMAIL' | translate"></label>
      <div *ngIf="loginForm.controls['email'].errors && !loginForm.controls['email'].pristine" class="help-block">
        <div class="alert alert-danger" *ngIf="loginForm.controls['email'].errors.required && loginForm.controls['email'].errors.email" [innerHtml]="'EMAIL_REQUIRED' | translate"></div>
        <div class="alert alert-danger" *ngIf="loginForm.controls['email'].errors.email && !loginForm.controls['email'].errors.required" [innerHtml]="'EMAIL_INVALID' | translate"></div>
      </div>
    </div>

    <!-- Password -->
    <div class="md-form">
      <i class="fa fa-lock prefix grey-text"></i>
      <input type="password" class="form-control" name="j_password" formControlName="password" required mdbInputDirective />
      <label for="password" [innerHtml]="'YOUR_PASSWORD' | translate"></label>
      <div *ngIf="loginForm.controls['password'].errors && !loginForm.controls['password'].pristine" class="help-block">
        <div class="alert alert-danger" [innerHtml]="'PASSWORD_REQUIRED' | translate"></div>
      </div>
    </div>

    <!-- Remember me Switch/Toggle -->
    <div class="text-center switch mt-4">
      <mapfre-switch textLabel="{{'REMEMBER_ME' | translate}}"></mapfre-switch>
    </div>

    
    <div class="text-center mt-4">
      <!--Submit / Login Button-->
      <input type="submit" [disabled]="!loginForm.valid" class="btn btn-mapfre-red waves-light" mdbWavesEffect value="{{'LOGIN' | translate }}">
      <!--Register Button-->
      <input type="button" (click)="register()" [routerLink]="['/signup']" class="btn btn-mapfre-red waves-light" mdbWavesEffect
        value="{{'REGISTER' | translate }}">
    </div>

    <!--Forgot Password-->
    <p class="text-center">
      <a [routerLink]="['/forgotpassword']" class="red-text" [innerHtml]="'FORGOT_PASS' | translate"></a>
    </p>

    <!-- Spring security route -->
    <input name="j_url" id="j_url" type="hidden" value="account/loginView" />
  </form>
  <!-- Login form -->

</div>
