<div class="row margin-bottom mb16">
  <div class="col">
    <div class="policy-info-card">
      <div class="policy-info-title text-center">
        {{ 'POLICYBELONGS_INFO_TITLE' | translate }}
      </div>
      <hr>
      <div class="policy-info-content">
        <div class="row" *ngFor="let policyDetail of userData.policyDetails">
          <div class="col">
            <div class="icon icon-container">
              <div class="svg-container" *ngIf="policyDetail.policyType == 'auto'">
                <div class="svg"><svg-car-icon-svg></svg-car-icon-svg></div>
              </div>
              <div class="svg-container" *ngIf="policyDetail.policyType == 'home'">
                  <div class="svg"><svg-home-icon-svg></svg-home-icon-svg></div>
              </div>
            </div>
            <div class="info-container">
              <ul>
                <li>{{ typeOfAccount | translate }} {{ typeOfPolicy | translate }}:&nbsp;<strong>{{ policyNumber }}</strong></li>
                <li>{{ 'EFFECTIVE_DATE' | translate }}:&nbsp;<strong>{{ policyDate }}</strong></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <p class="legal">
      {{ 'POLICYBELONGS_LEGAL' | translate }}
    </p>
  </div>
</div>
<div class="row margin-bottom mb24">
  <div class="col">
    <mapfre-button
      [additionalClasses]="'basic primary large'"
      (click)="confirmPolicy()"
    >{{ 'POLICYBELONGS_AUTHORIZED' | translate }}</mapfre-button> 
  </div>
</div>
<div class="row text-center">
  <div class="col">
    <mapfre-button
      [additionalClasses]="'secondary ghost small'"
      [routerLink]="['/signup', 'addpolicy']"
    >{{ 'CANCEL' | translate }}</mapfre-button>
  </div>
</div>
