
<form 
  [formGroup]="signUpForm" 
  name="signUpForm"
  (ngSubmit)="signUpForm.valid && register()">

  <div class="group-inputs">
    <div *ngFor="let input of inputs" class="input">
      <mapfre-validation [input]="input" [form]="signUpForm"></mapfre-validation>
    </div>
  </div>
  
    <div class="row group-button">
      <div class="col">
        <mapfre-button
          [additionalClasses]="'basic primary large'"
          [disabledValue]="signUpForm.valid" 
          [inputType]="'submit'"
          [translateValue]="'CONTINUE' | translate"
        ></mapfre-button>
      </div>
    </div>
</form>