<nav class="navbar fixed-top navbar-expand-lg navbar-dark red scrolling-navbar ie-nav">
  <div class="container">
    <div class="brand">
        <a route="['/']">
          <img src="../../assets/img/logos/mapfre_ins_white.png" alt="Mapfre Insurance" class="logo" />
        </a>
    </div>
    <div class="navbar-nav nav-flex-icons">
        <mapfre-modal-help></mapfre-modal-help>
      </div>
  </div>
</nav>

<!-- old code saving for the moment
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark red scrolling-navbar ie-nav" [containerInside]="true">
  
  <logo>
    <a route="['/']">
      <img src="../../assets/img/logos/mapfre_ins_white.png" alt="Mapfre Insurance" class="logo" />
    </a>
  </logo>

  <links>
    <div class="navbar-nav nav-flex-icons">
      <mapfre-modal-help></mapfre-modal-help>
    </div>
  </links>
</mdb-navbar>
-->