@import "../../../../styles.scss";

.navbar {
    @include media-breakpoint-down(xxs) {
        .logo {
            max-width: 100px;
        }
    }

    @include media-breakpoint-up(xxs) {
        .logo {
            max-width: 225px;
        }
    }
    @include media-breakpoint-up(xs) {
        .logo {
            max-width: 225px;
        }
    }
}
