<nav class="navbar fixed-top navbar-expand-lg navbar-dark red scrolling-navbar ie-nav">
  <div class="container">
    <div class="brand">
        <a [routerLink]="['/']">
          <img src="../../assets/img/logos/mapfre_ins_white.png" alt="Mapfre Insurance" class="logo" />
        </a>
    </div>
    <div class="navbar-nav nav-flex-icons">
      <mapfre-modal [modalOptions]="headerHelpModalOptions">
        <div class="modal-body">
          <hr class="header" />
          <div class="modal-body-content">
            {{ 'MODAL_HELP_CUSTOMER_PORTAL' | translate }}
          </div>
          <hr class="body" />
          <div class="modal-body-title">
            {{ 'MODAL_HELP_TROUBLE_ACCESSING' | translate }}
          </div>
          <div class="modal-body-content">
            {{ 'MODAL_HELP_DONT_HESITATE' | translate }}
          </div>
        </div>
        <a href="tel:8844993403" class="grid-modal-footer modal-footer">
          <div>
              <i class="material-icons">phone</i>
          </div>
          <div>
            <div>
            {{ 'CALL_US' | translate }}
            </div>
            <div class="info">
            884.499.3403
            </div>
          </div>
          <div>
            <i class="fas fa-chevron-right"></i>
          </div>
        </a> 
        <a href="mailto:consumerportal@mapfreusa.com" class="grid-modal-footer modal-footer">
          <div>
            <i class="material-icons">mail</i>
          </div>
          <div>
            <div>
            {{ 'EMAIL_US' | translate }}
            </div>
            <div class="info">
            consumerportal@mapfreusa.com
            </div>
          </div>
          <div>
            <i class="fas fa-chevron-right"></i>
          </div>
        </a> 
      </mapfre-modal>
    </div>
  </div>
</nav>
