<mapfre-card additionalClasses="signup">
  <ng-container [ngSwitch]="whereInTheProcess">

      <div *ngSwitchCase="'activateyouraccount'">
        <div class="row text-center">
          <div class="col">
            <div class="header-icon">
                <svg-check-icon-svg></svg-check-icon-svg>
            </div>
            <h1 class="title-copy">{{ 'ACTIVATE_YOUR_ACCOUNT' | translate }}</h1> 
          </div>
        </div>
        <div class="text-center">
          <p>{{ 'WE_SENT_AN_EMAIL_TO' | translate }}</p>
          <strong>{{ userData?.email }}</strong>
        </div>
        <hr class="hr-login" />
        <div class="text-center">
            <strong>{{ 'FORGOT_EMAIL_CONFIMATION_SUBTITLE' | translate }}</strong>
            <p>{{ 'FORGOT_EMAIL_CONFIMATION_COPY' | translate }}</p>
            <strong>{{ 'ACTIVATE_EMAIL_SUBJECT_LINE' | translate }}</strong>
            <div class="info">
              <p>{{ 'DONT_HAVE_ACCESS' | translate }}</p>
              <a href="#">{{ 'VERIFY_POLICY_DETAILS' | translate }}</a>
            </div>
        </div>
      </div>

    <div *ngSwitchCase="'addpolicy'">
      <div class="row text-center">
        <div class="col">
          <div class="header-icon full-icon">
            <svg-policy-svg></svg-policy-svg>
          </div>
          <h1 class="title-copy">{{ 'ADD_POLICY_TITLE' | translate }}</h1> 
        </div>
      </div>
      <app-add-policy-form [inputs]="addPolicy" [userData]="user"></app-add-policy-form>
      <hr class="hr-login" />
      <div class="row text-center">
        <div class="col">
          <mapfre-modal 
            [modalOptions]="whereToFindModalOptions">
              <div class="modal-body no-margin-bottom">
                <hr class="header" />
                <div>
                  {{ 'POLICY_DOCUMENT' | translate}}
                </div>
                <div>
                  <img src="./assets/img/images/policy-example.png">
                </div>
                <div style="margin-top: 16px">
                  {{ 'BILLING_DOCUMENT' | translate }}
                </div>
                <div>
                  <img src="./assets/img/images/billing-example.png">
                </div>
              </div>
          </mapfre-modal>
        </div>
      </div>
    </div>

    <div  *ngSwitchCase="'bop'">
      <div class="row text-center">
        <div class="col">
          <div class="header-icon full-icon">
            <svg-policy-error-svg></svg-policy-error-svg>
          </div>
          <h1 class="title-copy">{{ 'BOP' | translate }}</h1> 
        </div>
      </div>
      <app-bop-screen></app-bop-screen>
    </div>

    <div *ngSwitchCase="'createpassword'">
      <div class="row text-center">
        <div class="col">
          <div class="header-icon">
            <svg-create-new-password-svg></svg-create-new-password-svg>
          </div>
          <h1 class="title-copy">{{ 'CREATE_NEW_PASSWORD' | translate }}</h1> 
        </div>
      </div>
      <app-create-password-form [inputs]="createNewPassword" [userData]="user"></app-create-password-form> 
    </div>

    <div *ngSwitchCase="'emailinuse'">
      <div class="row text-center">
        <div class="col">
          <div class="header-icon">
            <svg-email-error-svg></svg-email-error-svg>
          </div>
        </div>
      </div>
      <app-email-use-screen [userData]="user"></app-email-use-screen>
    </div>

    <div *ngSwitchCase="'final'">
      <div class="row text-center">
        <div class="col">
          <div class="header-icon">
            <svg-congrats-svg></svg-congrats-svg>
          </div>
          <h1 class="title-copy">{{ 'CONGRATS' | translate }}</h1> 
        </div>
      </div>
      <app-final-screen></app-final-screen>
    </div>

   

    <div *ngSwitchCase="'notfoud'">
        <div class="row text-center">
          <div class="col">
            <div class="header-icon">
              <svg-policy-svg></svg-policy-svg>
            </div>
            <h1 class="title-copy">{{ 'NOT_FOUND' | translate }}</h1> 
          </div>
        </div>
        <app-final-screen></app-final-screen>
      </div>
    
    <div *ngSwitchCase="'reviewpolicy'">
      <div class="row text-center">
        <div class="col">
          <div class="header-icon">
              <svg-policy-svg></svg-policy-svg>
          </div>
          <h1 class="title-copy">{{ 'REVIEW_POLICY' | translate }}</h1> 
        </div>
      </div>
      <app-review-policy-screen></app-review-policy-screen>
    </div>

    <div *ngSwitchCase="'verifyaccount'">
        <div class="row text-center">
          <div class="col">
            <div class="header-icon full-icon">
                <svg-check-icon-svg></svg-check-icon-svg>
            </div>
            <h1 class="title-copy">{{ 'VERIFY_ACCOUNT' | translate }}</h1> 
          </div>
        </div>
        <app-verify-account-screen></app-verify-account-screen>
      </div>
  </ng-container>
</mapfre-card>
