<mapfre-card additionalClasses="signup">
  <ng-container [ngSwitch]="whereInTheProcess">

    <div *ngSwitchCase="'addpolicy'">
      <div class="row text-center">
        <div class="col">
          <div class="header-icon full-icon">
            <svg-policy-svg></svg-policy-svg>
          </div>
          <h1 class="title-copy">{{ 'ADD_POLICY_TITLE' | translate }}</h1> 
        </div>
      </div>
      <app-add-policy-form [inputs]="addPolicy" [userData]="user"></app-add-policy-form>
      <div class="row text-center margin-top mt24">
        <div class="col">
          <mapfre-modal 
            [modalOptions]="whereToFindModalOptions">
              <div class="modal-body no-margin-bottom">
                  <hr class="margin-bottom mb24" />
                <div>
                  {{ 'POLICY_DOCUMENT' | translate}}
                </div>
                <div>
                  <img src="./assets/img/images/policy-example.png">
                </div>
                <div style="margin-top: 16px">
                  {{ 'BILLING_DOCUMENT' | translate }}
                </div>
                <div>
                  <img src="./assets/img/images/billing-example.png">
                </div>
              </div>
          </mapfre-modal>
        </div>
      </div>
    </div>

    <div  *ngSwitchCase="'bop'">
      <div class="row text-center">
        <div class="col">
          <div class="header-icon full-icon">
            <svg-policy-error-svg></svg-policy-error-svg>
          </div>
          <h1 class="title-copy">{{ 'BOP' | translate }}</h1> 
        </div>
      </div>
      <app-bop-screen></app-bop-screen>
    </div>

    <div *ngSwitchCase="'createpassword'">
      <div class="row text-center">
        <div class="col">
          <div class="header-icon">
            <svg-create-new-password-svg></svg-create-new-password-svg>
          </div>
          <h1 class="title-copy">{{ 'CREATE_NEW_PASSWORD' | translate }}</h1> 
        </div>
      </div>
      <app-create-password-form [inputs]="createNewPassword" [userData]="user"></app-create-password-form> 
    </div>

    <div *ngSwitchCase="'editpolicy'">
        <div class="row text-center">
          <div class="col">
            <div class="header-icon full-icon">
              <svg-policy-error-svg></svg-policy-error-svg>
            </div>
            <h1 class="title-copy">{{ 'EDIT_POLICY' | translate }}</h1> 
          </div>
        </div>
        <div class="row text-center margin-bottom-edit-policy">
          <div class="col">
            {{ 'EDITPOLICY_REVIEW_POLICY' | translate }}
          </div>
        </div>
        <app-edit-policy-form [inputs]="editPolicyInfo" [userData]="user"></app-edit-policy-form>
        <hr class="margin-vertical mv24" />
        <div class="row text-center">
          <div class="col">
            <mapfre-modal 
              [modalOptions]="whereToFindModalOptions">
                <div class="modal-body no-margin-bottom">
                    <hr class="margin-bottom mb24" />
                  <div>
                    {{ 'POLICY_DOCUMENT' | translate}}
                  </div>
                  <div>
                    <img src="./assets/img/images/policy-example.png">
                  </div>
                  <div style="margin-top: 16px">
                    {{ 'BILLING_DOCUMENT' | translate }}
                  </div>
                  <div>
                    <img src="./assets/img/images/billing-example.png">
                  </div>
                </div>
            </mapfre-modal>
          </div>
        </div>
      </div>

    <div *ngSwitchCase="'emailinuse'">
      <div class="row text-center">
        <div class="col">
          <div class="header-icon full-icon">
            <svg-email-error-svg></svg-email-error-svg>
          </div>
        </div>
      </div>
      <app-email-use-screen [userData]="user"></app-email-use-screen>
    </div>

    <div *ngSwitchCase="'notfound'">
      <div class="row text-center">
        <div class="col">
          <div class="header-icon full-icon">
            <svg-policy-error-svg></svg-policy-error-svg>
          </div>
          <h1 class="title-copy">{{ 'NOT_FOUND' | translate }}</h1> 
        </div>
      </div>
      <app-policy-not-found-screen [userData]="user"></app-policy-not-found-screen>
    </div>

    <div *ngSwitchCase="'policybelongstoanother'">
      <div class="row text-center">
        <div class="col">
          <div class="header-icon full-icon">
            <svg-policy-error-svg></svg-policy-error-svg>
          </div>
          <h1 class="title-copy">{{ 'POLICYBELONGS_TO_ANOTHER' | translate }}</h1> 
        </div>
      </div>
      <div>
        <app-policy-belong-to-another-screen [userData]="user"></app-policy-belong-to-another-screen>
      </div>
    </div>
  </ng-container>
</mapfre-card>
