<header class="row margin-bottom mb16">
  <div class="col">
    <h1 class="title">
      {{ 'CLAIMS' | translate }}
    </h1>
  </div>
</header>
<section class="details-content row">
  <div class="col1 col">
    <ng-container *ngIf="claims?.length != 0">
      <ng-container *ngFor="let claim of claims">
        <ng-container *ngIf="claim.propertyOrAutoIndicator == 'Auto' ">
          <app-claims-home-car [claim]="claim"></app-claims-home-car>
        </ng-container>
        <ng-container *ngIf="claim.propertyOrAutoIndicator == 'Property' ">
          <app-claims-home-property [claim]="claim"></app-claims-home-property>
        </ng-container>
      </ng-container>
      <div class="row report-claim margin-top mt40">
        <div class="col">
          <app-claims-report></app-claims-report>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="claims?.length == 0">  
        <app-no-claims></app-no-claims>
    </ng-container>
  </div>
  <div class="col col2">
    <div class="row claims-faq">
      <div class="col">
        <app-claims-accordian-faq></app-claims-accordian-faq>
      </div>
    </div>
  </div>
</section>