<header class="row margin-bottom mb16">
  <div class="col">
    <h1 class="title">
      {{ 'CLAIMS' | translate }}
    </h1>
  </div>
</header>
<section class="details-content row no-margin">
  <div class="col1 col">
    <ng-container *ngIf="claimsObject === true; else noclaims ">
      <ng-container *ngFor="let claim of claims">
        <ng-container *ngFor="let exposure of claim.exposures">

          <ng-container *ngIf="exposure?.propertyOrAutoIndicator == 'AUTO' ">
            <app-claims-home-car [claim]="claim" [exposure]="exposure"></app-claims-home-car>
          </ng-container>

          <ng-container *ngIf="exposure?.propertyOrAutoIndicator == 'HOME' ">
            <app-claims-home-property [claim]="claim" [exposure]="exposure"></app-claims-home-property>
          </ng-container>

          <ng-container *ngIf="exposure?.propertyOrAutoIndicator != 'HOME' && exposure?.propertyOrAutoIndicator != 'AUTO' ">
            <app-no-policy-type [claim]="claim" [exposure]="exposure"></app-no-policy-type>
          </ng-container>

        </ng-container>
      </ng-container>
      <div class="row report-claim margin-top mt40">
        <div class="col"> 
          <app-claims-report></app-claims-report>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="col col2">
    <div class="row claims-faq">
      <div class="col">
        <app-claims-accordian-faq></app-claims-accordian-faq>
      </div>
    </div>
  </div>
</section>

<ng-template #noclaims>
  <app-no-claims></app-no-claims>
</ng-template>