<header class="row margin-bottom mb16">
  <div class="col">
    <h1 class="title">
      {{ 'CLAIMS' | translate }}
    </h1>
  </div>
</header>
<section class="details-content row">
  <div class="col1 col">
    <ng-container *ngIf="claimsObject === true; else noclaims ">
      <ng-container *ngFor="let claim of claims">

        <ng-container *ngIf="claim?.propertyOrAutoIndicator == 'AUTO' ">
          <app-claims-home-car [claim]="claim"></app-claims-home-car>
        </ng-container>

        <ng-container *ngIf="claim?.propertyOrAutoIndicator == 'PROPERTY' ">
          <app-claims-home-property [claim]="claim"></app-claims-home-property>
        </ng-container>

        <ng-container *ngIf="claim?.propertyOrAutoIndicator == null || !claim?.propertyOrAutoIndicator ">
          <app-no-policy-type [claim]="claim"></app-no-policy-type>
        </ng-container>

      </ng-container>
      <div class="row report-claim margin-top mt40">
        <div class="col">
          <app-claims-report></app-claims-report>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="col col2">
    <div class="row claims-faq">
      <div class="col">
        <app-claims-accordian-faq></app-claims-accordian-faq>
      </div>
    </div>
  </div>
</section>

<ng-template #noclaims>
  <app-no-claims></app-no-claims>
</ng-template>