<mapfre-loading *ngIf="loading"></mapfre-loading>
  <ng-container *ngFor="let policy of policyDetails  && !loading ">
  <ng-container *ngIf="policy.policynumber.policynumber === policyId">
  <ng-container *ngIf="policy?.policyType.toUpperCase() == 'AUTO'">
    <mapfre-card 
      [singleCard]="false"
      [additionalClasses]="'policy-details auto details'">
      <app-car-header     [policy]="policy"></app-car-header>
      <app-dashboard-nav  [policyId]="policyId"></app-dashboard-nav>
      <app-details-car    [policy]="policy" [policyIdInput]="policyId"></app-details-car>
    </mapfre-card>
  </ng-container>
   
  <ng-container *ngIf="policy?.policyType.toUpperCase() == 'HOME'">

    <mapfre-card 
      [singleCard]="false"
      [additionalClasses]="'policy-details property details'">
      <app-home-header    [policy]="policy"></app-home-header>
      <app-dashboard-nav  [policyId]="policyId"></app-dashboard-nav>
      <app-details-home   [policy]="policy" [policyIdInput]="policyId"></app-details-home>
    </mapfre-card>
  </ng-container>
  </ng-container>
  </ng-container>
