.column-misc {
  @media (min-width: 770px) {
    text-align: center;
  }

  .misc-content {
    @media (min-width: 377px) and (max-width:577px) {
      &.card.mapfre {
        padding: 8px 16px;
      }
    }

    @media (max-width: 376px) {
      &.card.mapfre{
        padding: 8px;
      }
    }

    a {
      line-height: 24px;

      span {
        margin-right: 4px;
      }
    }

    i {
      font-size: 12px;
      vertical-align: middle;
    }

    .accident-copy,
    .callus-copy {
      margin-top: 8px;
    }

    .icon-title > * {
      vertical-align: middle;
    }

    .small-font {
      font-size: 12px;
    }

    @media (max-width:376px) {
      .accident-copy.small-font {
        font-size: 12px;
        margin-top: 5px;
      }

      .claims-mobile {
        .button-link {
          width: 72px;
          float: left;
        }
      }
    }

    @media (max-width: 767px) {
      .accident-copy {
        float: left;
        max-width: 100%;
      }

      .claim-desktop {
        float: right;
        text-align: right;
        width: 169px;
      }

      .callus-copy {
        margin-top: 0px;
        float: left;
      }

      .alarm.svg-container {
        float: left;
        margin-right: 24px;

        img {
          height: 56px;
        }
      }
    }

    @media (min-width: 576px) and (max-width: 767px) {
      .accident-copy.small-font {
        font-size: 16px;
        margin-top: 16px;
      }
    }
    @media (min-width: 377px) and (max-width: 575px)  {
      .accident-copy.small-font {
        margin-top: 0;
      }
    }
    @media (max-width: 575px) {
      .accident-copy {
        max-width: 81px;
        text-align: left;

        &.small-font {
          font-size: 12px;
          line-height: 16px;
        }
      }
      
      .alarm.svg-container {
        margin-right: 16px;

        img {
          height: auto;
          width: 40px;
        }
      }

      .claim-icon.svg-container svg {
        height: 24px;
        width: 24px;
      }
    }
  }

  .misc-desktop {
    margin: auto;

    @media (max-width: 575px) {
      display: none;
    }
  }

  .misc-mobile {
    @media (min-width: 576px) {
      display: none;
    }

    .button-link {
      display:            block;
      float:              right;
      cursor:             pointer;
      width:              76px;

      i {
        font-size:        24px;
      }

      .small-font {
        line-height:      16px;
        font-size:        10px;
        margin-top:       2px;
      }
    }

    &.paperless-mobile {
      margin-top: 8px;
    }
  }

  @media (min-width: 576px) {
    .paperless-copy {
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }

  @media (min-width: 576px) and (max-width: 769px){
    .paperless-desktop {
      margin-top: 24px;
      margin-right: -16px
    }
  }

  @media (max-width: 575px) {
    .paperless-copy {
      width: 180px;

      .small-font {
        font-size: 10px;
        line-height: normal;
      }
    }
  }
} 