.column-misc {
  max-width:              216px;
  width:                  100%;
  padding:                0;
  margin-left: 16px;

  @media (max-width: 575px) {
   // padding-right:        16px;
  }

  @media (min-width: 576px) and (max-width: 767px) {
    //padding-right:        16px;
  }

  @media (max-width: 767px) {
    max-width:            initial;
    margin-left:          0;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    max-width:            164px;
  }

  @media (min-width: 768px) {
    //margin-right:         16px;
  }

  i {
    font-size:            24px;
    vertical-align:       middle;
    
    &.material-icons {
      margin-right:       -8px;
    }
  }

  img {
    max-width:            144px;
  }

  .misc-mobile {
    display:              none;

    @media (max-width: 575px ) {
      display:            block;
    }
  }
  .misc-desktop {
    display:              block;

    @media (max-width: 575px ) {
      display:            none;
    }
  }

  .enroll-headline {
    font-size:            12px;
    line-height:          24px;
  }

  .icon-text {
    font-size:            10px;
    line-height:          16px;
  }

  .savings-amount {
    font-size:            16px;
    line-height:          24px;
  }

  @media (max-width: 767px) {
    img {
      max-width:          88px;
    }
    
    .misc-content {
      width:              100%;
      display:            block;
      padding:            12px 16px;
    }

    .w-100 {
      width:              auto;
    }

    .icon-title .enroll-headline.mt16 {
      margin-top:         0 !important;
    }
  }

  @media (min-width: 768px) {
    .contact-url.mt8 {
      margin-top:         0 !important;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .card.mapfre {
      padding:            16px 4px;
    }

    .contact-url.mt8 {
      margin-top:         0 !important;
    }
  }

  @media  (max-width: 375px) {
    .misc-content.card.mapfre {
      padding:            8px;
    }
  }
  @media  (max-width: 575px) {
    .icon-title .enroll-headline {
      line-height:        16px;
    }
  }

  @media (min-width: 376px) and (max-width: 575px) {
    .misc-content.card.mapfre {
      padding:            8px 16px;
    }
  }
  @media (min-width: 576px) and (max-width: 767px) {
    .icon-title .enroll-headline {
      font-size:          16px;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {

  }
  @media (min-width: 992px) and (max-width: 1199px) {

  }
  @media (min-width: 1200px) and (max-width: 1439px) {

  }
  @media (min-width: 1440px) {

  }




} 