.claims,
.claim-detail {
  hr.bottom-border {
    margin-left: -17px;
    margin-right: -10px;
  }
  
  i {
    font-size: 16px;
  }
  
  .accordian-navigation ul {
    margin: 0;
  }

  .col.accordian-navigation {
    padding: 0;
  }

  .col2 {
    @media (min-width: 1200px) {
      padding-left: 40px;
    }

    @media (min-width:768px) and (max-width: 1199px) {
      padding-left: 16px;
      padding-right: 8px;
    }
  
    @media (min-width: 768px) {   
      max-width: 310px;
      border-left: 2px solid #EAE9E9;
    }

    @media (max-width: 767px) {
      flex-basis: auto;
    }
  }

  header > .col {
    padding: 0;
    padding-left: 8px;
  }

  .policy-background {
    display: table-cell;
    max-width: 44px;
    position: relative;

    @media (max-width: 575px) {
      max-width: 32px;
    }

    &.col {
      padding: 0;
    }

    .car,
    .house {
      height: 80px;
      width: 90px;
      background-size: auto 80px;
      background-repeat: no-repeat;

      @media (max-width: 575px) {
        background-size: auto 70px;
      }
    }
  }

  h1.title {
    color: #ADAAAA;
    font-size: 24px;
    font-family: NotoSans;
    text-align: left;
    line-height: normal;
    padding-left: 8px;
    margin-bottom: 0;
    margin-top: -8px;

    @media (max-width: 575px) {
      font-size: 18px;
      margin-top: 8px;
    } 
  }

  h2.claim-id {
    color: #4C4C4C;
    font-size: 18px;
    font-family: NotoSans;
    text-align: left;
    line-height: 32px;
    margin-bottom: 0;

    @media (max-width: 575px) {
      font-size: 14px;
      line-height: 24px;
    } 
  }

  h2.title {
    font-size: 18px;
    line-height: 32px;
    border-bottom: 2px solid #EAE9E9;;
    color: #adaaaa;
    text-align: left;

    .small-subtitle { 
      color: #7E7E7E;
      font-size: 11px;
      font-family: NotoSans;
      text-align: left;
      line-height: 16px;
    }

    .svg-container {
      float: left;
      padding-right: 16px;

      svg {
        width: 24px;
      }
    }
  }
  
  .policy-id {
    color: #737373;
    font-size: 14px;
    font-family: NotoSans;
    line-height: 24px;
  }

  .date-loss {
    color: #4C4C4C;
    font-size: 14px;
    font-family: NotoSans;
    text-align: left;
    line-height: 24px;
  }
}

.claims .col1 {
  @media (min-width: 580px) and (max-width:767px){
    margin-left: 0;
    padding-right: 5px;
    padding-left: 5px;
  }

  @media (min-width: 768px) {
    margin-left: -9px;
  }
}

.claim-detail {
  .col1 {
    padding-right: 32px;
  }

  .policy-background {
    margin-left: -2px;
  }
}


.collapse-link {
  &.active {
    color: #006580 !important;
    font-size: 14px;
    font-family: NotoSans-Bold;
    font-weight: bold;
  }
}

.claim-link {
  padding: 4px 0;
}

.claim {
  text-align: left;
}

.claims-faq {
  text-align: left;
}

.collapse-carot {
  max-width: 21px;
  padding: 0;
}

.collapse-content {
  font-size: 12px;
  line-height: normal; 
}

.info-type  {
  max-width:  151px;
  color: #737373;
}

.info-data {
  font-weight: bold;
  font-size: 12px;
  color: #4c4c4c;
}

.claims-table {
  tr {
    border: thin solid #EAE9E9;
    padding: 16px;
  }

  thead {
    color: #ADAAAA;
  }

  tbody {
    color: #4C4C4C;
  }
}

