.claims,
.claim-detail {
  hr.bottom-border {
    margin-left: -17px;
    margin-right: -10px;
  }
  
  i {
    font-size: 16px;
  }
  
  .accordian-navigation ul {
    margin: 0;
  }

  .col.accordian-navigation {
    padding: 0;
  }

  .col2 {
    @media (min-width: 1200px) {
      padding-left: 40px;
    }

    @media (min-width:768px) and (max-width: 1199px) {
      padding-left: 16px;
      padding-right: 8px;
    }
  
    @media (min-width: 768px) {   
      max-width: 310px;
      border-left: 2px solid $soft-grey;
    }

    @media (max-width: 767px) {
      flex-basis: auto;
    }
  }

  header > .col {
    padding: 0;
    padding-left: 8px;
  }

  .policy-background {
    display: table-cell;
    max-width: 44px;
    position: relative;

    @media (max-width: 575px) {
      max-width: 32px;
    }

    &.col {
      padding: 0;
    }

    .car,
    .house {
      height: 80px;
      width: 90px;
      background-size: auto 80px;
      background-repeat: no-repeat;

      @media (max-width: 575px) {
        background-size: auto 70px;
      }
    }
  }
  
  .policy-id {
    color: $dark-grey;
    font-size: 14px;
    line-height: 24px;
  }

  .date-loss {
    color: $med-gray;
    font-size: 14px;
    line-height: 24px;
  }
}

.claims .col1 {
  @media (min-width: 580px) and (max-width:767px){
    margin-left: 0;
    padding-right: 5px;
    padding-left: 5px;
  }

  @media (min-width: 768px) {
    margin-left: -9px;
  }
}

.claim.row {
  @media (min-width: 1200px) {
    margin-right: -40px;
  }
  @media  (min-width:768px) and (max-width: 1199px) {
    margin-right: -16px;
    margin-left: -10px;
  }
  @media (max-width: 767px) {
    margin-right: -10px;
    margin-left: -10px;
  }

}

.claim-detail {
  .col1 {
    padding-right: 32px;

    @media (max-width: 767px) {
      padding-right: 15px;
    }
  }

  .policy-background {
    margin-left: -2px;
  }
}

.claim-details-nav {
  @media (min-width: 1200px) {
    margin-right: -40px;
  }
  @media  (min-width:768px) and (max-width: 1199px) {
    margin-right: -16px;
    margin-left: -10px;
  }
  @media (max-width: 767px) {
    margin-right: -10px;
    margin-left: -10px;
  }
}

.claim-link {
  padding: 4px 0;
}

.info-type  {
  max-width:  151px;
  color: $dark-grey;
}

.info-data {
  font-weight: bold;
  font-size: 12px;
  color: $med-gray;
}

.hug-border-on-mobile {
  @media (max-width: 579px) {
    margin-left: -9px;
    margin-right: -9px;
  }
}