@import "../../../../../styles.scss";
//colors 
// ---      Success
$mapfre-button-color-bg-success:                $mapfre-green;
$mapfre-button-color-font-success:              $white;
$mapfre-button-color-bg-success-hover:          darken($mapfre-button-color-bg-success, 15%);
// ---      Default
$mapfre-button-color-bg-default:                $mapfre-red;
$mapfre-button-color-font-default:              $white;
$mapfre-button-color-bg-default-hover:          darken($mapfre-button-color-bg-default, 15%);
// ---      Clear
$mapfre-button-color-bg-clear-hover:            $white;
$mapfre-button-color-font-clear:                $lite-gray;
// ---      Blue
$mapfre-button-color-bg-color-blue:             $mapfre-blue;
$mapfre-button-color-font-color-blue:           $white;
$mapfre-button-color-bg-color-blue-hover:       darken($mapfre-button-color-bg-color-blue, 15%);
$mapfre-button-color-font-color-blue-hover:     $white;
//Sizing
$mapfre-button-font-small-size:                 $font-size-sm;
$mapfre-button-font-full-size:                  $font-size-base + 0.125; //1rem which equals to 16px
$mapfre-button-padding-full:                    $padding-vertical/1.25;
$mapfre-button-small-height:                    32px;
$mapfre-button-small-padding:                   6px;
//Defaults
$mapfre-buton-border:                           2px solid;
$mapfre-button-font-family:                     $button-font-family;
$mapfre-button-font-weight:                     900;


.btn.mapfre {
    border:                                     $mapfre-buton-border;
    box-shadow:                                 none;
    font-family:                                $mapfre-button-font-family;
    font-weight:                                $mapfre-button-font-weight;
    @include border-radius(50px);
    
    // ---- Colors -----
    &.blue {
        background-color:                       $mapfre-button-color-bg-color-blue;
        border-color:                           $mapfre-button-color-bg-color-blue;
        color:                                  $mapfre-button-color-font-color-blue;
        &:focus {
            outline:                            $mapfre-button-color-bg-color-blue;
        }
        &:hover {
            color:                              $mapfre-button-color-font-color-blue-hover; 
            background-color:                   $mapfre-button-color-bg-color-blue-hover;
            border-color:                       $mapfre-button-color-bg-color-blue-hover;
        }
    }

    &.default {
        background-color:                       $mapfre-button-color-bg-default;
        border-color:                           $mapfre-button-color-bg-default;
        color:                                  $mapfre-button-color-font-default;
        &:focus {
            outline:                            $mapfre-button-color-bg-default;
        }
        &:hover {
            background-color:                   $mapfre-button-color-bg-default-hover;
            border-color:                       $mapfre-button-color-bg-default-hover;
        }
    }

    &.clear {
        background-color:                       transparent;
        border-color:                           $mapfre-button-color-font-clear;
        color:                                  $mapfre-button-color-font-clear;
        &:focus {
            outline:                            $mapfre-button-color-font-clear;
        }
        &:hover {
            color:                              $mapfre-button-color-bg-clear-hover; 
            background-color:                   $mapfre-button-color-font-clear;
        }
    }

    &.success {
        background-color:                       $mapfre-button-color-bg-success; 
        border-color:                           $mapfre-button-color-bg-success;
        color:                                  $mapfre-button-color-font-success;
        &:focus {
            outline:                            $mapfre-button-color-bg-success;
        }
        &:hover {
            background-color:                   $mapfre-button-color-bg-success-hover;
            border-color:                       $mapfre-button-color-bg-success-hover;
            color:                              $mapfre-button-color-font-success; 
        }
    }

    // ----- Sizing -------
    &.full {
        display:                                block;
        margin-left:                            0;
        width:                                  100%;
    }

    &.full-padding {
        font-size:                              $mapfre-button-font-full-size;
        padding:                                $mapfre-button-padding-full;
    }

    &.seventy-five {
        width:                                  75%;
    }
    
    &.small-padding {
        font-size:                              $mapfre-button-font-small-size;
        height:                                 $mapfre-button-small-height;
        padding:                                $mapfre-button-small-padding;
    }
}
