@import "../../../../../styles.scss";

//colors 
// ---      Primary
$mapfre-button-color-primary:                   $mapfre-green;
// ---      Secondary
$mapfre-button-color-secondary:                 $lite-gray-2;
// ---      Default
$mapfre-button-color-default:                   $mapfre-red;
// ---      Blue
$mapfre-button-color-blue:                      $mapfre-blue;

//styles 
// ---      Basic
$mapfre-button-font-color-basic:                $white;
// ---      Ghost
$mapfre-button-bg-color-ghost:                  transparent;
// ---      Flat
$mapfre-button-bg-color-flat:                   transparent;
$mapfre-button-color-flat-hover:                $mapfre-button-color-secondary;

//Sizing
$mapfre-button-font-small-size:                 $font-size-sm;
$mapfre-button-font-full-size:                  $font-size-base + 0.125; //1rem which equals to 16px
$mapfre-button-padding-full:                    $padding-vertical/1.25;
$mapfre-button-small-height:                    32px;
$mapfre-button-small-padding:                   6px;
//Defaults
$mapfre-buton-border:                           2px solid;
$mapfre-button-font-family:                     $button-font-family;
$mapfre-button-font-weight:                     900;


.btn.mapfre {
    box-shadow:                                 none;
    font-family:                                $mapfre-button-font-family;
    font-weight:                                $mapfre-button-font-weight;
    text-transform:                             uppercase;

    &.basic {
        border:                                 $mapfre-buton-border;
        color:                                  $mapfre-button-font-color-basic;
        @include border-radius(50px);

        &.primary {
            background:                         $mapfre-button-color-primary;
            border-color:                       $mapfre-button-color-primary;
        }
        &.secondary {
            background:                         $mapfre-button-color-secondary;
            border-color:                       $mapfre-button-color-secondary;
        }
        &.default {
            background:                         $mapfre-button-color-default;
            border-color:                       $mapfre-button-color-default;
        }

        &:hover {
            box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }
    }

    &.ghost {
        background:                             $mapfre-button-bg-color-flat;
        border:                                 $mapfre-buton-border;
        @include border-radius(50px);

        &.primary {
            color:                              $mapfre-button-color-primary;
            border-color:                       $mapfre-button-color-primary;
        }
        &.secondary {
            color:                              $mapfre-button-color-secondary;
            border-color:                       $mapfre-button-color-secondary;
        }
        &.default {
            color:                              $mapfre-button-color-default;
            border-color:                       $mapfre-button-color-default;
        }
    }

    &.flat {
        background:                             $mapfre-button-bg-color-flat;
        border:                                 none;
        box-shadow:                             none;
        @include border-radius(0);

        &:hover {
            background:                         $mapfre-button-color-flat-hover;
        }

        &.primary {
            color:                              $mapfre-button-color-primary;
        }
        &.secondary {
            color:                              $mapfre-button-color-secondary;
        }
        &.default {
            color:                              $mapfre-button-color-default;
        }
        &.link {
            color:                              $mapfre-button-color-blue;
        }
    }

    &.header-flat {
        @extend .flat;
        padding: 8px 16px;
        margin-top:-3px;
        margin-bottom: -3px;

        &:hover {
            background: darken($mapfre-red, 10%);
        }
    }

     // ---- Colors -----
    &.blue-color {
        color:                                  $mapfre-button-color-blue;
    }
    &.blue-background {
        background-color:                       $mapfre-button-color-blue;
    }
    
    // ----- Sizing -------
    &.full {
        display:                                block;
        margin-left:                            0;
        width:                                  100%;
    }

    &.full-padding {
        font-size:                              $mapfre-button-font-full-size;
        padding:                                $mapfre-button-padding-full;
    }

    &.seventy-five {
        width:                                  75%;
    }
    
    &.small-padding {
        font-size:                              $mapfre-button-font-small-size;
        height:                                 $mapfre-button-small-height;
        padding:                                $mapfre-button-small-padding;
    }
}
