<ng-container [ngSwitch]="inputType">
	<button 
		class="btn mapfre {{additionalClasses}}"
		[disabled]="!isFormValid()" 
		*ngSwitchCase="'button-form'"
		mdbWavesEffecte>
		<span *ngIf="showIcons">
			<mapfre-icon [iconClasses]="iconClasses" [iconFamily]="iconFamily"></mapfre-icon> 
		</span>
		<ng-content></ng-content>
	</button>
	
	<input 
		type="submit" 
		class="btn mapfre waves-light {{additionalClasses}}" 
		value="submit" 
		[disabled]="!isFormValid()"
		[ngStyle]="{'cursor: not-allowed;': !isFormValid() }"
		*ngSwitchCase="'submit'"
		mdbWavesEffect 
	/>
	
	<button
		class="btn mapfre waves-light {{additionalClasses}}"
		data-toggle="modal" 
		type="button"
		*ngSwitchCase="'modal'"
		[data-target]="modalId"
		[ngClass]="{'btn-icon': screenReader, 'default': !moreCSSClasses(additionalClasses) }"
		mdbWavesEffect>

		<span *ngIf="showIcons" class="first-icon">
			<mapfre-icon [iconClasses]="iconClassesArray[0]" [iconFamily]="iconFamily"></mapfre-icon> 
		</span>
    <span class="button-content"
			[ngClass]="{'sr-only sr-only-focusable': screenReader }">
			{{ buttonCopy | translate }}
		</span>
    <span *ngIf="iconClassesArray.length >= 2" class="second-icon">
			<mapfre-icon [iconClasses]="iconClassesArray[1]" [iconFamily]="iconFamily"></mapfre-icon> 
		</span>
	</button>

	<button 
		class="btn mapfre waves-light {{additionalClasses}}"  
		*ngSwitchDefault
		mdbWavesEffect>
		<span *ngIf="showIcons">
			<mapfre-icon [iconClasses]="iconClasses" [iconFamily]="iconFamily"></mapfre-icon> 
		</span>
		<span *ngIf="showIconsCustom">
			<img [src]="customIcon" class="custom-button-icon {{iconClasses}}" alt="back space arrow icon" />
		</span>
		<ng-content></ng-content>
	</button>
</ng-container>
