<div class="row claim margin-bottom mb32">
  <div class="col">
    <div class="row property margin-bottom mb16">
      <div class="policy-background col">
          <div class="house"></div>
      </div>
      <div class="col">
          <div class="row">
            <div class="col"> 
                <h2 class="claim-id">{{ claim.LOSS_DESC }} - <strong>#{{ claim.LOSS_NUMBER }}</strong></h2>
            </div>
          </div>
          <div class="row policy-id">
            <div class="col">
                {{ claim.policytype }} - {{ claim.policyid }}
            </div>
          </div>
          <div class="row date-loss">
            <div class="col">
                {{ 'DATE_OF_LOSS' | translate }}: {{ claim.LOSS_DATE }}
            </div>
          </div>
        </div>
      </div>
      <a [routerLink]="['/claims', claim.LOSS_NUMBER, 'details']" class="row claim-link waves-light"
      mdbWavesEffect >
        <div class="col">
          {{ 'CLAIM_DETAILS' | translate }}&nbsp;<svg-arror-right-svg></svg-arror-right-svg>
        </div>
      </a>
  </div>
</div>