<div class="sub-title-copy text-center margin-bottom mb16">
  {{ 'NOTFOUND_POLICY_NOT_FOUND' | translate }}
</div>
<div class="row margin-bottom mb24">
  <div class="col">
    <div class="policy-info-card">
      <div class="policy-info-title text-center">
        {{ 'POLICY_INFO_TITLE' | translate }}
      </div>
      <hr>
      <div class="policy-info-content">
        <ul>
          <li>{{ 'POLICY_INFO_HOLDER_NAME' | translate }}:&nbsp;<strong>{{ policyHolderName }}</strong></li>
          <li>{{ 'POLICY_INFO_NUMBER' | translate }}:&nbsp;<strong>#{{ policyNumber }}</strong></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div>
  <div>
    <mapfre-info-divs>
      <em>{{ 'NOTFOUND_IF_YOU_PURCHASE' | translate }}</em> 
    </mapfre-info-divs>
  </div>
  <div class="text-center margin-bottom mb24">
    <mapfre-link
      [additionalClasses]="'small-link horizontal-space'"
      [routerLink]="['/signup','editpolicy']"
    >
      {{ 'EDIT_POLICY_INFO' | translate }}
    </mapfre-link>
  </div>
</div>
<div *ngIf="userData.addPolicyAttempts >= 3">
  <div>
    <mapfre-info-divs>
        <em>{{ 'NOTFOUND_IF_YOU_PURCHASE' | translate }}</em> 
    </mapfre-info-divs>
  </div>
  <div class="text-center margin-top mt24 ">
    <mapfre-button 
      [additionalClasses]="'basic primary large'"
      [routerLink]="['/signup','addpolicy']"
    >
      {{ 'TRY_AGAIN_WITH_A_DIFFERENT' | translate }}
    </mapfre-button>
  </div>
</div>
<hr class="margin-bottom mb24 margin-top mt24">
<div class="row">
  <div class="col text-center">
    {{ 'NOTFOUND_NEED_ASSISTANCE' | translate }}
  </div>
</div>