@import "../../../../../styles.scss";

$login-register-copy-color:                             $med-gray;
$login-register-copy-size:                              $font-size-sm;

$login-remember-me-group:                               $margin-vertical/2;
$login-login-group-padding-up:                          $padding-vertical;
$login-login-group-padding-down:                        $padding-vertical;
$login-login-group-button-margin:                       $padding-vertical *2;

.group-login {
  padding-top:                                          $login-login-group-padding-up;
}

.group-login-button {
  margin-top:                                           $login-login-group-button-margin;
}

.group-remember {
  margin-top:                                           $login-login-group-padding-up;

  .forgot-password {
    text-align:                                         right;
  }
}

.register-copy {
  color:                                                $login-register-copy-color;
   font-size:                                           $login-register-copy-size;
}
