<form 
  [formGroup]="loginForm" 
  name="loginForm"  
  (ngSubmit)="loginForm.valid && login()" 
  >
  
  <div *ngFor="let input of inputs">
    <mapfre-validation [input]="input" [form]="loginForm"></mapfre-validation>
  </div>
   
  <div class="row group-remember">
    <div class="col-xxs">
      <mapfre-switch [copyRight]="true" (switchOn)="onRememberMe($event)">
          {{'REMEMBER_ME' | translate}}
      </mapfre-switch>
    </div>
    <div class="col-xxs forgot-password">
      <mapfre-link
        [additionalClasses]="'small-link underline switch-line-up'"
        [routerLink]="['/forgotdpassword']"
        >{{ 'FORGOT_PASS' | translate }}
      </mapfre-link>
     
    </div>
  </div>
  <div class="row group-login">
    <div class="col">
      <mapfre-button
        [additionalClasses]="'basic primary full full-padding'"
        [disabledValue]="loginForm.valid"
        [inputType]="'submit'"
        [translateValue]="'LOGIN' | translate"
      ></mapfre-button>
    </div>
  </div>
  <hr class="hr-login" />
  <div class="row text-center group-register">
    <div class="col">
      <mapfre-button
        [additionalClasses]="'flat link full-padding full'"
        [routerLink]="['/signup']"
      >  {{ 'CREATE_ACCOUNT' | translate }}
      </mapfre-button>
    </div>
  </div>
  <input name="j_url" id="j_url" type="hidden" value="account/loginView" />
</form>
      