<form 
  [formGroup]="loginForm" 
  name="loginForm"  
  (ngSubmit)="loginForm.valid && login()">
  
  <div class="">
    <div *ngFor="let input of inputs" class="input">
      <mapfre-validation [input]="input" [form]="loginForm"></mapfre-validation>
    </div>
  </div>

  <div class="row margin-top mt16 margin-bottom mb32">
    <div class="col">
      <mapfre-switch [copyRight]="true" (switchOn)="onRememberMe($event)">
          {{'REMEMBER_ME' | translate}}
      </mapfre-switch>
    </div>
    <div class="col forgot-password">
      <mapfre-link
        (click)="prefillEmailParamater()"
        [additionalClasses]="'switch-line-up blue-link'"
        >{{ 'FORGOT_PASS' | translate }}
      </mapfre-link>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mapfre-button
        [additionalClasses]="'basic primary large'"
        [disabledValue]="loginForm.valid" 
        [inputType]="'submit'"
        [translateValue]="'LOGIN' | translate"
      ></mapfre-button>
    </div>
  </div>
</form>
