@import "../../../../../styles.scss";

$login-register-copy-color:                             $med-gray;
$login-register-copy-size:                              $font-size-sm;

$login-remember-me-group:                               $margin-vertical/2;
$login-login-group-padding-up:                          $padding-vertical;
$login-login-group-padding-down:                        $padding-vertical;
$login-login-group-button-margin:                       $padding-vertical *2;

.group-remember-password {
  height: 24px;
  .forgot-password {
    text-align:                                         right;
  }
}

