<nav class="navbar fixed-top navbar-expand-lg navbar-dark red scrolling-navbar ie-nav">
  <div class="container loggedin">
    <div class="brand">
      <a routerLink="/my-insurance">
        <img src="./assets/img/logos/mapfre_ins_white.png" alt="Mapfre Insurance" class="logo" />
      </a>
    </div>
    <div class="navbar-nav nav-flex-icons">
      <mapfre-modal 
        [modalOptions]="headerAccountModalOptions"
        [hideModal]="hideModalOnRoute"
        (hideModalOutput)="resetHideModal($event)">
        <div class="modal-body no-margin-top margin-bottom mb24">
          <hr class="no-margin-bottom no-margin-top" />
        </div>
        <a 
          routerLink="/profile"
          routerLinkActive="active"
          class="modal-footer grey-color"
          (click)="hideModalAction($event, '/profile')">
          <div class="mapfre-information-container">
            <div class="mapfre-icon-information row">
              <div class="padding-horizontal ph16 w-100">
                <div class="icon-container align-middle">
                    <svg-account-circle-svg></svg-account-circle-svg>
                </div>
                <div class="information-container">
                  {{ 'PROFILE_AND_SETTINGS' | translate }}
                </div>
              </div>
            </div>
          </div>
        </a> 
        <a
        routerLink="/my-insurance/link-policy"
        routerLinkActive="active"
        class="modal-footer green-color"
        (click)="hideModalAction($event, '/policy/addpolicy')">
          <div class="mapfre-information-container">
            <div class="mapfre-icon-information row">
              <div class="padding-horizontal ph16 w-100">
                <div class="icon-container align-middle">
                    
                  <svg-plus-circle-svg></svg-plus-circle-svg>
                </div>
                <div class="information-container">
                  {{ 'ADD_POLICY' | translate }}
                </div>
              </div>
            </div>
          </div>
        </a> 
        <a class="modal-footer red-color" (click)="logout()">
          <div class="mapfre-information-container">
            <div class="mapfre-icon-information row">
              <div class="padding-horizontal ph16 w-100">
                <div class="icon-container align-middle">
                    <svg-logout-svg></svg-logout-svg>
                </div>
                <div class="information-container">
                  {{ 'LOGOUT' | translate }}
                </div>
              </div>
            </div>
          </div>
        </a>
      </mapfre-modal>
    </div>
  </div>
</nav>
