<div class="row text-center">
    <div class="col"> 
        <div class="header-icon full-icon">
            <svg-phone-svg></svg-phone-svg>
        </div>
        <div *ngIf="true;else addPhone">
            <h1 class="title-copy">{{ 'Change phone number' | translate }}</h1>
        </div>
        <ng-template #addPhone>
            <h1 class="title-copy">{{ 'Add phone number' | translate }}</h1>
        </ng-template>
        
    </div>
</div>

<app-change-phone [inputs]='accountPhoneForm'></app-change-phone>