// --- Base Colors Monochromatic --- //
$white:                         #fff;
$overlay-white:                 rgba(255, 255, 255, 0.9);
$softer-grey:                   #f7f7f7;
$soft-grey:                     #EAE9E9;
$lite-gray:                     #ccc;
$grey:                          #adaaaa;
$med-gray:                      #4C4C4C; 
$dark-grey:                     #737373;
$fake-black:                    #4C4C4C;
$overlay-black:                 rgba(76,76,76,0.9);
$flat-black:                    #333;
$black:                         #000;

// --- Base Colors Red --- //
$soft-red:                      #f3bbb4;
$corprate-red:                  #d81e05;
$red-darker:                    #be0f0f;
$red-darkest:                   #ac0404;
$red-error:                     #bf4b49;

// --- Base Colors Yellow --- //
$soft-yellow:                   #ffe6a0;
$yellow:                        #ffbf00;
$dark-yellow:                   #c89600;

// --- Base Colors Green --- //
$soft-green:                    #c6db81;
$green:                         #8db602;
$dark-green:                    #749806; 

// --- Base Colors Blue --- //
$soft-blue:                     #a0d2ff;
$blue:                          #0099ff;
$dark-blue:                     #006580;

// --- Brand Colors --- //
$mapfre-red:                      $corprate-red;     
$mapfre-blue:                   #006580;    
$mapfre-lite-gray:              #C4C4C4;
$mapfre-green:                  #8DB602;
$mapfre-gray:                   #67686B;
$mapfre-teal:                   #006580;

// --- Specific Colors --- //
$success-color:                   $soft-green; //dark-green
$error-color:                     $red-error;
$information-color:              #0074CC; //information alerts
$active-color:                    $dark-blue;
$caution-color:                  #fff000;

// --- Background Colors --- //
$caution-background-color:        #FFE6A0;
$caution-background-color-alert:  lighten( saturate( adjust-hue( $caution-color, 3deg ), 23 ), 44 ); 
$error-background-color:          #FFEFEF;
$information-background-color:    lighten( desaturate( adjust-hue( $information-color, 4deg ), 17 ), 58 );
$success-background-color:        lighten( saturate( $success-color, 44 ), 21 );
