@import 
    url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700'),
    url('https://use.fontawesome.com/releases/v5.1.0/css/all.css'),
    url('https://fonts.googleapis.com/icon?family=Material+Icons')
;

h1 {
  font-size: 7rem;
  line-height: 9rem;
}

h2 {
  font-size: 3.5rem;
  line-height: 4.5rem;
}

h3 {
   font-size: 3rem;
   line-height: 4rem;
}

h4 {
  font-size: 2rem;
  line-height: 3rem;
}