$global-zero:                               0;
$global-one-rem:                            1rem;
$global-margin-padding-helper-8:            $defualt-margin-padding/2;
$global-margin-padding-helper-16:           $defualt-margin-padding;
$global-margin-padding-helper-24:           $defualt-margin-padding * 3;

.margin-bottom { 
  &.mb8 {
    margin-bottom:                          $global-margin-padding-helper-8 !important;
  }
  &.mb16 {
    margin-bottom:                          $global-margin-padding-helper-16 !important;
  }
  &.mb24 {
    margin-bottom:                          $global-margin-padding-helper-24 !important;
  }
}

.margin-top {
  &.mt8 {
    margin-top:                             $global-margin-padding-helper-8 !important;
  }
  &.mt16 {
    margin-top:                             $global-margin-padding-helper-16 !important;
  }
  &.mt24 {
    margin-top:                             $global-margin-padding-helper-24 !important;
  }
}

.margin-vertical {
  &.mv8 {
    margin-bottom:                          $global-margin-padding-helper-8 !important;
    margin-top:                             $global-margin-padding-helper-8 !important;
  }
  &.mv16 {
    margin-bottom:                          $global-margin-padding-helper-16 !important;
    margin-top:                             $global-margin-padding-helper-16 !important;
  }
  &.mv24 {
    margin-bottom:                          $global-margin-padding-helper-24 !important;
    margin-top:                             $global-margin-padding-helper-24 !important;
  }
}

.no-margin-bottom {
  margin-bottom:                            $global-zero !important;
}

.no-margin-top {
  margin-top:                               $global-zero !important;
}

.no-padding-top {
  padding-top:                              $global-zero !important;
}

.no-padding-bottom {
  padding-bottom:                           $global-zero !important;
}