// --- Base Colors --- //
$black:                     #000;
$dark-gray:                 #333;
$med-gray:                  #4C4C4C; 
$gray:                      #737373;
$lite-gray:                 #ccc;
$lite-gray-two:             #F7F7F7;
$lite-gray-three:           #EAE9E9;
$white:                     #fff;

// --- Brand Colors --- //
$mapfre-red:                #D81E05;     
$mapfre-blue:               #006580;    
$mapfre-lite-gray:          #C4C4C4;
$mapfre-green:              #8DB602;    // Brand Folder #C6DB81; 
$mapfre-gray:               #67686B;
$mapfre-teal:               #006580;

// --- Specific Colors --- //
$success-color:             #749806; //dark-green
$error-color:               #BF4B49;
$active-color:              #006580;

// ---- Defaults ----- //
//Fonts
$font-family-base:          'Noto Sans';
$defualt-margin-padding:    8px;
$default-margin-padding:    $defualt-margin-padding;


//Sizing
$font-size-base:            0.875rem;  //14px
$font-size-sm:              $font-size-base/1.5;
$link-icon-font-size:       $font-size-base/2;
$link-font-size:            $font-size-base; 
$margin-vertical:           $defualt-margin-padding * 2;
$margin-horizontal:         $defualt-margin-padding * 2;
$padding-horizontal:        $defualt-margin-padding * 2;
$padding-vertical:          $defualt-margin-padding * 2;

// --- The Custom Grid --- //
$xxxs:                      0;
$xxs:                       320px;
$xs:                        375px;
$sm:                        576px;
$md:                        768px;
$lg:                        992px;
$xl:                        1200px;
$xxl:                       1440px;


// ----- OverRides ----- //
$grid-breakpoints: (
    xxxs:   $xxxs,
    xxs:    $xxs,
    xs:     $xs, 
    s:      $sm, 
    m:      $md, 
    l:      $lg, 
    xl:     $xl,
    xxl:    $xxl 
);

$spacer:                    $defualt-margin-padding;
$default-color:             $mapfre-red;
$link-color:                $mapfre-red;
$button-font-family:        $font-family-base;
$grid-gutter-width:         $default-margin-padding *2;
