// --- Brand Colors --- //
$mapfre-red:                $corprate-red;     
$mapfre-blue:               #006580;    
$mapfre-lite-gray:          #C4C4C4;
$mapfre-green:              #8DB602;
$mapfre-gray:               #67686B;
$mapfre-teal:               #006580;

// --- Specific Colors --- //
$success-color:             $soft-green; //dark-green
$error-color:               $red-error;
$information-color:         #0074CC; //information alerts
$active-color:              $dark-blue;
$caution-color:             #fff000;

// ---- Defaults ----- //
//Fonts
$font-family-base:          'Noto Sans';
$defualt-margin-padding:    0.5rem;
$default-margin-padding:    $defualt-margin-padding;


//Sizing
$font-size-base:            0.875rem;  //14px
$font-size-sm:              $font-size-base/1.5;
$link-icon-font-size:       $font-size-base/2;
$link-font-size:            $font-size-base; 
$margin-vertical:           $defualt-margin-padding * 2;
$margin-horizontal:         $defualt-margin-padding * 2;
$padding-horizontal:        $defualt-margin-padding * 2;
$padding-vertical:          $defualt-margin-padding * 2;

// --- The Custom Grid --- //
$xxxs:                      0;
$xxs:                       320px;
$xs:                        375px;
$sm:                        576px;
$md:                        768px;
$lg:                        992px;
$xl:                        1200px;
$xxl:                       1440px;

// --- Overrides (old variables Do not use these for new work) --- //
$dark-gray:                 $flat-black;
$gray:                      $dark-grey;
$lite-gray-two:             $softer-grey;
$lite-gray-three:           $soft-grey;

// --- Bootstrap Overrides --- //
$grid-breakpoints: (
    xxxs:   $xxxs,
    xxs:    $xxs,
    xs:     $xs, 
    s:      $sm, 
    m:      $md, 
    l:      $lg, 
    xl:     $xl,
    xxl:    $xxl 
);

$spacer:                    $defualt-margin-padding;

$link-color:                $mapfre-red;
$button-font-family:        $font-family-base;
$grid-gutter-width:         $default-margin-padding *2;
$zindex-dropdown-backdrop:  1028;
