// ---- Defaults ----- //
$global-one-rem:            1rem;
$global-zero:               0;

// --- Fonts
$font-family-base:          'Noto Sans';
$defualt-margin-padding:    0.5rem; //8px
$default-margin-padding:    $defualt-margin-padding;

// --- Sizing
$font-size-base:            0.875rem;  //14px
$font-size-sm:              $font-size-base * 0.8571428571; //12px
$font-size-med:             $font-size-base * 1.1428571429; //16px
$link-icon-font-size:       $font-size-base/2;
$link-font-size:            $font-size-base; 
$margin-vertical:           $defualt-margin-padding * 2; //16px
$margin-horizontal:         $defualt-margin-padding * 2;
$padding-horizontal:        $defualt-margin-padding * 2; 
$padding-vertical:          $defualt-margin-padding * 2;

// --- The Custom Grid --- //
// -- Information -- Keeping the grid in px
$xxxs:                      0;
$xxs:                       320px;
$xs:                        375px;
$sm:                        576px;
$md:                        768px;
$lg:                        992px;
$xl:                        1200px;
$xxl:                       1440px;

// --- Overrides (old variables Do not use these for new work) --- //
$dark-gray:                 $flat-black;
$gray:                      $dark-grey;
$lite-gray-two:             $softer-grey;
$lite-gray-three:           $soft-grey;

// --- Bootstrap Overrides --- //
$grid-breakpoints: (
    xxxs:                   $xxxs,
    xxs:                    $xxs,
    xs:                     $xs, 
    s:                      $sm, 
    m:                      $md, 
    l:                      $lg, 
    xl:                     $xl,
    xxl:                    $xxl 
);

$spacer:                    $defualt-margin-padding;
$link-color:                $mapfre-red;
$button-font-family:        $font-family-base;
$grid-gutter-width:         $default-margin-padding * 2;
$zindex-dropdown-backdrop:  1028;
