<mapfre-modal 
  [modalOptions]="walletDownloadModalOptions"
  [hideModal]="hideModal"
  [ngClass]="{'hide': !userData }">
    <div 
      class="modal-body no-margin-bottom wallet-card"
      [ngClass]="{ 'flipped': onClickEventWalletPass }"
    >  
      <div class="wallet wallet-front">
        <div class="wallet-content">
          <app-onboarding-wallet-front></app-onboarding-wallet-front>
          <div class="wallet-footer margin-top mt24">
              <div class="margin-bottom mb24">
                  <mapfre-button 
                    additionalClasses="ghost white large waves-effect"
                    (click)="goToWalletPassModal($event)">
                    {{ 'WALLET_GET_MY_CARD' | translate }}
                  </mapfre-button>
                </div>
            </div>
          </div>
          <div class="wallet-skip-button">
            <mapfre-button
              additionalClasses="white-link link-button waves-effect"
              (click)="hideModalAction($event)">
              {{ 'WALLET_SKIP' | translate }}
            </mapfre-button>
          </div>
      </div>
      <div class="wallet wallet-back">
        <div class="wallet-back-button">
          <a (click)="goToWalletPassModal($event)">
            <img src="assets/img/icons/back-arrow.png" />
          </a>
        </div>
        <div class="wallet-content back">
          <div class="first-slide-title">
            <div class="margin-bottom mb8">{{ 'WALLETBACK_TITLE' | translate }}</div>
            <div class="margin-bottom mb24">
              <img src="assets/img/images/mapfre-card-logo-color.png" style="margin-left:-30px" />
            </div>
          </div>
          <app-onboarding-wallet-back [userData]="userData"></app-onboarding-wallet-back>
        </div>
        <div class="wallet-skip-button">
          <mapfre-button
            additionalClasses="blue-link  link-button waves-effect"
            (click)="hideModalAction($event)">
            {{ 'WALLET_SKIP' | translate }}
          </mapfre-button>
        </div>
      </div>
    </div>
</mapfre-modal>



