@import "../../../../styles.scss";

$header-height:               3.5rem;
$header-logo-max-width:       11.9375rem;

.navbar {
  height:                     $header-height;
  .logo {
    max-width:                $header-logo-max-width;
  }
}
