@import "../../../../styles.scss";

$header-height:               $global-one-rem * 3.5;
$header-logo-max-width:       $global-one-rem * 11.9375;

.navbar {
  height:                     $header-height;
  .logo {
    max-width:                $header-logo-max-width;
  }
}
