<nav class="navbar fixed-top navbar-expand-lg navbar-dark red scrolling-navbar ie-nav">
  <div class="container">
    <div class="brand">
      <img src="assets/img/logos/mapfre_ins_white.png" alt="Mapfre Insurance" class="logo" />
    </div>
    <div class="navbar-nav nav-flex-icons">
      <mapfre-modal [modalOptions]="headerHelpModalOptions">
        <div class="modal-body">
            <hr class="margin-bottom mb24" />
          <div class="modal-body-content">
            {{ 'MODAL_HELP_CUSTOMER_PORTAL' | translate }}
          </div>
          <hr class="body" />
          <div class="modal-body-title">
            {{ 'MODAL_HELP_TROUBLE_ACCESSING' | translate }}
          </div>
          <div class="modal-body-content">
            {{ 'MODAL_HELP_DONT_HESITATE' | translate }}
          </div>
        </div>
        <a href="tel:8844993403" class="grid-modal-footer two-column modal-footer">
          <div class="mapfre-information-container">
            <mapfre-icon-information
              data="884-499-3403"
              iconClasses="phone"
              titleType="CALL_US"
            ></mapfre-icon-information>
          </div>
          <div>
            <i class="fas fa-chevron-right"></i>
          </div>
        </a> 
        <a href="mailto:consumerportal@mapfreusa.com" class="grid-modal-footer two-column modal-footer">
          <div class="mapfre-information-container">
            <mapfre-icon-information
              data="consumerportal@mapfreusa.com"
              iconClasses="mail"
              titleType="EMAIL_US"
            ></mapfre-icon-information>
          </div>
          <div>
            <i class="fas fa-chevron-right"></i>
          </div>
        </a> 
      </mapfre-modal>
    </div>
  </div>
</nav>
