@import "../../../../styles.scss";

.navbar {

    @include media-breakpoint-down(s) {
        height: 56px;

        .logo {
            max-width: 191px;
        }
    }

    @include media-breakpoint-up(m) {
        height: 64px;

        .logo {
            max-width: 306px;
        }
    }
}
