<label class="mapfre switch">
  <div class="copy" [ngClass]="{ 'copy-right': copyRight, 'copy-left': copyLeft, 'copy-left': (copyLeft == undefined && copyRight == undefined)}">
    <span class="slider-text"><ng-content></ng-content></span>
  </div>
  <div class="switch-mapfre" [ngClass]="{ 'copy-right-label': copyRight, 'copy-left-label': copyLeft, 'copy-left-label': (copyLeft == undefined && copyRight == undefined)}">
    <input type="checkbox" (change)="switchValueOnOff($event)">
    <span class="slider round"></span>
  </div>
</label>