<mapfre-card 
  additionalClasses="create-password"
  *ngIf="successChangePassword && expired">
  <div class="row text-center">
    <div class="col">
      <div class="header-icon">
        <svg-create-new-password-svg></svg-create-new-password-svg>
      </div>
      <h1 class="title-copy">{{ 'CREATE_NEW_PASSWORD' | translate }}</h1> 
    </div>
  </div>
  <app-create-password-form 
    [inputs]="createNewPassword" 
    (confirmationOfPasswordCreation)="checkForConfirmation($event)">
  </app-create-password-form> 
  <!--<app-forgot-password-form-nondynamic (userConfirmation)="userConfirmation($event)"></app-forgot-password-form-nondynamic>  -->
</mapfre-card>

<mapfre-card 
  additionalClasses="create-password-confirmation"
  *ngIf="successChangePassword">
  <div class="row text-center">
    <div class="col">
      <div class="header-icon"> 
        <svg-create-new-password-svg></svg-create-new-password-svg>
      </div>
      <h1 class="title-copy">{{ 'CONFIRMATION' | translate }}</h1> 
    </div>
  </div>
  <app-create-new-password-set></app-create-new-password-set>
</mapfre-card>

<mapfre-card 
  additionalClasses="create-password-expired"
  *ngIf="!expired">
  <div class="row text-center">
    <div class="col">
      <div class="header-icon"> 
        <svg-create-new-password-expired-svg></svg-create-new-password-expired-svg>
      </div>
      <h1 class="title-copy">{{ 'LINK_HAS_EXPIRED' | translate }}</h1> 
    </div>
  </div>
  <app-create-new-password-expired></app-create-new-password-expired>
</mapfre-card>
