<ng-container *ngFor="let policy of user?.policyDetails">
    <ng-container *ngIf="policy?.policynumber.policynumber == policyId">
      <mapfre-card 
        [singleCard]="false"
        [additionalClasses]="'policy-details billing details ' + policy?.policyType">
        <header class="margin-bottom mb16">
          <div class="policy-background">
            <div class="car" *ngIf="policy?.policyType == 'AUTO'"></div>
            <div class="house" *ngIf="policy?.policyType == 'HOME'"></div>
          </div>
          <div class="type-title">
              <h1 class="title">
                  {{ policy?.policyType | translate}} &mdash; {{ policy?.policynumber.policynumber }} 
                <small><span class="green-color">{{policy?.effDate | date:'shortDate' }} {{ 'TO' |translate }} {{policy?.expDate | date:'shortDate' }}
                </span></small>
              </h1>
            </div>
          </header>

          <app-dashboard-nav [policyId]="policyId"></app-dashboard-nav>
        

      <section class="row documents-content no-documents"> 
        <div class="col">
          billing 
        </div>
      </section>
    </mapfre-card>
  </ng-container>
</ng-container>