<form 
  [formGroup]="editEmailForm" 
  name="editEmailForm"  
  (ngSubmit)="editEmailForm.valid">
  
  <div class="row">
      <div class="col">
        <div *ngFor="let input of inputs" class="inputs">
          <mapfre-validation [input]="input" [form]="editEmailForm" [additionalClasses]="'margin-top mt24 margin-bottom mb16'"></mapfre-validation>
        </div>
      </div>
    </div>
    <section class="row">
        <div class="col">
          <mapfre-button
            [additionalClasses]="'basic primary large'"
            [disabledValue]="editEmailForm.valid" 
            [inputType]="'submit'"
            [translateValue]="'CONFIRM' | translate"
          ></mapfre-button>
        </div>
      </section>

  </form>