    <div class="row text-center">
      <div class="col">
        <div class="header-icon">
          <svg-create-new-password-svg></svg-create-new-password-svg>
        </div>
        <h1 class="title-copy">{{ 'Change your password' | translate }}</h1> 
        <div class="sub-title-copy">
         {{ whereInTheProcess==='enter-password'
            ?'Before you continue, verify your password'
            :'Let’s create your new password'}} 
        </div>
      </div>
    </div>
    <ng-template *ngIf="whereInTheProcess==='enter-password';else editPassword">
        <app-change-password-form></app-change-password-form>
    </ng-template>
    <ng-template #editPassword>
      <app-create-password-form [inputs]="changePassword" [userData]="user"></app-create-password-form>
    </ng-template>
    <div class="row margin-top mt24 text-center">
      <div class="col">
        <mapfre-button
          [additionalClasses]="'flat link small'"
          [customIcon]="'assets/img/icons/back-arrow.png'"
          [iconClasses]="'align-middle'"
          [routerLink]="['/profile']"
          [showIconsCustom]="true"
        >  {{ 'BACK' | translate }}
        </mapfre-button>
      </div>
    </div>