.account-settings{
    color: #4C4C4C;
    font-family: "Noto Sans";
    font-size: 14px;
    font-weight: bold;
}


.edit-icon-position{
    position: absolute;
    right: 0;
    padding: 0 1.5rem;
    border: none;
    margin:0;
}