.account-settings{
  color:          $fake-black;
  font-size:      0.875rem;
  font-weight:    bold;
}

.checking-account-address-apt{
  padding-right:  -0.9375rempx;
}

.checking-account-bottom{
  font-size:      0.7rem;
}

.profile-components{
  min-height:     0;
}

.profile-details {
  width:          18.75rem;
  margin:         auto;
}

.profile-input-border{
  border-bottom:  0.05rem solid $grey !important;
}

.profile-modal-font{
  padding:        0 2rem;
  font-size:      1rem;
}

.profile-modal-button{
  text-align:     center;
  padding:        0 3.2rem;
}

@media (max-width: 992px){
  .hr-stretch{
    margin-right: -1.5rem;
    margin-left:  -1.5rem;
  }
}

@media (min-width:768px){
  .checking-account-card{
    width:        100% !important;
  }
}

@media (max-width:767px){
  .checking-account-bottom{
      padding:    0;
  }
}

@media (min-width:768px){
  .checking-account-bottom{
      padding:    0 5rem;
  }
}

