<div class="row">
  <div class="col">
      <img src="./assets/img/images/no-claims.png" class="image-max-width">
  </div>
</div>
<div class="row">
  <div class="col">
    <h1 class="title-cta">{{ 'NO_CLAIMS_CTA' | translate }}</h1>
  </div>
</div>


<div class="row margin-bottom mb24 margin-top mt16">
  <div class="col">
      {{ 'REPORT_CTA' | translate}}
  </div>
</div>
<div class="row margin-bottom mb16 text-center">
  <div class="col">
      <a class="mapfre btn basic primary medium large center-button"
      href="https://mcr.mapfreinsurance.com/claims/#/ReportClaim">
        {{ 'REPORT_A_CLAIM' | translate }}
    </a>
  </div>
</div>
<div class="row">
  <div class="col">
    {{ 'OR_CALL_US_AT' | translate }}  <a href="tel:18002211605">1-800-221-1605</a>
  </div>
</div>
<div class="row margin-bottom mb32 small section-description text-center">
  <div class="col">
      {{ 'REPORT_CLAIM_HERE' | translate }}
  </div>
</div>
