<div class="container col-4 mt-5 full-page">

  <form *ngIf="signUpForm" [formGroup]="signUpForm" (ngSubmit)="signUpForm.form.valid && register()" novalidate class="centered-form">
    <h2>We are making awesome insurance. Could we take care of you too?</h2>


    <!-- Email -->
    <div class="md-form">
      <i class="fa fa-envelope prefix grey-text"></i>
      <label for="emailId">E-mail</label>
      <input id="emailId" type="email" class="form-control" name="email" formControlName="email" mdbInputDirective/>
      <div *ngIf="signUpForm.submitted && !email.valid" class="help-block">
        <div class="alert alert-danger">Email is required</div>
      </div>
    </div>

    <!-- Password -->
    <div class="md-form">
      <i class="fa fa-exclamation-triangle prefix grey-text"></i>
      <label for="passwordId">Password</label>
      <input id="passwordId" type="password" class="form-control" name="password" formControlName="password" mdbInputDirective/>
      <div *ngIf="signUpForm.submitted && !password.valid" class="help-block">
        <div class="alert alert-danger">Password is required</div>
      </div>
    </div>

    <!-- Confirm Password -->
    <div class="md-form">
        <i class="fa fa-exclamation-triangle prefix grey-text"></i>
        <label for="confirmPasswordId">Confirm Password</label>
        <input id="confirmPasswordId" type="password" class="form-control" name="confirmPassword" formControlName="confirmPassword" mdbInputDirective/>
        <div *ngIf="signUpForm.submitted && !password.valid" class="help-block">
          <div class="alert alert-danger">Confirm Password is required</div>
        </div>
      </div>


    <!--Register Button-->
    <div class="md-form">
      <button [disabled]="loading" class="btn btn-mapfre-red">Register</button>
      <!--Cancel-->
      <a [routerLink]="['/login']" (click)="cancel()" class="btn btn-link">Cancel</a>
    </div>
  </form>
</div>
