.documents-table {
  tbody {
    tr {
      color: $dark-blue;

      &:hover {
        cursor: pointer;
        background: $softer-grey;
      }

      &.row {
        margin: 0;
      }
    }

    td{
      padding: 0.75rem;
    }

  }
  
  &.table thead th {
    border: thin solid $lite-gray;
  }

  

  .row-content {
    border-bottom: thin solid $lite-gray;
    border-left: thin solid $lite-gray;
    border-right: thin solid $lite-gray;
  }

  .col-type {
    max-width: 61px;
  }

  .col-name {
    width: auto;
  }

  .col-date {
    color: $grey;
    font-size: 12px;
  }

  .col-view {
    max-width: 100px;
    font-size: 10px;

    i {
      font-size: 16px;
      top: 2px;
      position: relative;
    }
  }

  .pagination {
    p {
      display: none;
    }
  }

  .footer-page {
    nav {
      float: right;
      margin-right: -11px;
    }
  }
}

.circle-with-type {
  border-radius:        50%;
  background:           $dark-blue;
  color:                $lite-gray;
  width:                24px;
  text-align:           center;
  height:               24px;
}