.documents-table {
  
  i.material-icons {
    margin-right: -0.5rem
  }

  tbody {
    tr {
      color:                  $dark-blue;

      &:hover {
        cursor:               pointer;
        background:           $softer-grey;
      }

      &.row {
        margin:               0;
      }
    }
    
    td {
      padding:                1rem;

      &:first-child {
        padding-left:         1rem;
      }

      &:last-child {
        padding-right:        24px;
      }

      &.view-padding {
        padding-left:             40px;
        padding-right:            24px;
        
        @media (min-width: 576px) and  (max-width: 767px) {
          padding-left:           24px;
        }
        @media (max-width: 575px) {
          padding-left:           0px !important;
        }
      }
    }
  }
  
  &.table thead th {
    border:                   thin solid $lite-gray;
    padding-top:              1rem;
    padding-bottom:           1rem;
    padding-right:            1rem;
    padding-left:             1rem;
    
    &.row {
      margin:                 0;
    }
    .col-right {
      padding-right:          0;
    }
  }
  
  .row-content {
    border-bottom:            thin solid $lite-gray;
    border-left:              thin solid $lite-gray;
    border-right:             thin solid $lite-gray;
  }

  .col-date {
    color:                    $grey;
    font-size:                12px;
  }

  .col-name {
    overflow:                 hidden;
    white-space:              nowrap;
    -o-text-overflow:         ellipsis;
    text-overflow:            ellipsis;
  }

  .col-view {
   font-size:                 10px;

    i {
      font-size:              24px;
      position:               relative;
    }
  }

  .pagination p {
    display:                 none;
  }

  .footer-page {
    nav {
      float:                right;
      margin-right:         -11px;
    }
  }
}

.circle-with-type {
  border-radius:            50%;
  background:               $dark-blue;
  color:                    $white;
  width:                    24px;
  text-align:               center;
  height:                   24px;
}

.no-documents .no-documents-container {
  max-width:                456px;
  margin:                   auto;
  text-align:               center;
  padding-bottom:           80px;
  padding-top:              64px;

  img {
    text-align:             center;
    max-width:              344px;
  }
}

@media (max-width: 575px) {
  .documents-content {
    
    margin-left:          -17px;
    margin-right:         -17px;
  }
  .view-copy {
    display:              none;
  }
}

