<div class="text-center sub-title-copy margin-bottom mb24">
{{ 'LINK_HAS_EXPIRED_PARAGRAPH' | translate }}
</div>
<div class="row text-center">
  <div class="col">
    <mapfre-button
      [additionalClasses]="'basic primary large waves-effect waves-light'"
      [inputType]="'button'"
      [routerLink]="['/forgotpassword']"
      [queryParams]="{ emailPrefill: emailPrefillParamater }">
      {{ 'REQUEST_NEW_LINK' | translate }}
    </mapfre-button>
  </div>
</div>
<div class="row text-center margin-top mt24">
  <div class="col">
    <mapfre-button
      additionalClasses="link-button small blue-link"
      [customIcon]="'assets/img/icons/back-arrow.png'"
      [iconClasses]="'align-middle'"
      [routerLink]="['/login']"
      [showIconsCustom]="true"
    >  {{ 'LOGIN' | translate }}
    </mapfre-button>
  </div>
</div>