<ng-container *ngIf="loading">
  <mapfre-loading></mapfre-loading>
</ng-container>
<ng-container *ngIf="!loading">
  <header class="margin-bottom mb16">
    <div class="type-title">
      <h1 class="title">
          {{ 'MAKE_A_CHECK_PAYMENT' | translate }}
      </h1>
      <div class="margin-left ml8">{{ policy?.policyType | translate}} &mdash; <strong>{{ policy?.policynumber.policynumber }}</strong></div>
    </div>
  </header>

  <section class="row policy-details-content">
    <div class="col col1">
      <ng-container *ngIf="(billingData | json) != ({} | json)">
        <app-new-payment-form [inputs]="inputs" [checkingInfo]="checkingInfo" [billingDetails]="billingData"></app-new-payment-form>  
      </ng-container>
      <div class="margin-top mt16 d-table w-100" *ngIf="(billingData | json) == ({} | json)">
        <div class="no-payment-svg d-table-cell padding pr16">
          <svg-check-icon-svg></svg-check-icon-svg> 
        </div>
        <div class="green-color font-medium d-table-cell align-middle">
          {{ 'NO_PAYMENTS' | translate }}
        </div>
      </div>
    </div>
    <div class="col col2">
      <app-billing-sidebar [policy]="policy"></app-billing-sidebar>
    </div>
  </section>
</ng-container>
