We are not using this at the moment. However we felt that some of this componenet maybe leveraged or used in the future.
<div class="row">
  <div class="col">
    <div class="policy-info-card">
      <div class="policy-info-title text-center">
        {{ 'REVIEWPOLICY_INFO_TITLE' | translate }}
      </div>
      <hr>
      <div class="policy-info-content">
        <div class="row" *ngFor="let policyDetail of userData.policyDetails">
          <div class="icon col-3">
            <div class="svg-container" *ngIf="policyDetail.policyType == 'auto'">
              <div class="svg"><svg-car-icon-svg></svg-car-icon-svg></div>
            </div>
            <div class="svg-container" *ngIf="policyDetail.policyType == 'home'">
                <div class="svg"><svg-home-icon-svg></svg-home-icon-svg></div>
            </div>
          </div>
          <div class="col-9">
            <ul>
              <li>{{ policyDetail.typeOfAccount | translate }} {{ policyDetail.policyType | translate }}:&nbsp;<strong>{{ policyDetail.policyNumber }}</strong></li>
              <li>{{ 'EFFECTIVE_DATE' | translate }}:&nbsp;<strong>{{ policyDetail.effectiveDate }}</strong></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <mapfre-button
      [additionalClasses]="'basic primary large'"
    >{{ 'CONTINUE' | translate }}</mapfre-button> 
  </div>
</div>
<hr class="hr-login" />
<div class="row text-center">
  <div class="col">
    <p>
      {{ 'REVIEWPOLICY_WALLETCARD' | translate }}
    </p>
    <p>
      <a (click)="downLoadWalletCard()">
        <img src="https://support.apple.com/library/content/dam/edam/applecare/images/en_US/iOS/add-to-apple-wallet-logo.png" width="167" />
      </a>
    </p>
  </div>
</div>
