<footer class="footer-position margin-top mt24">
	<div class="footer-copyright text-center">
    <mapfre-modal 
      [modalOptions]="footerHelpModalOptions"
      [hideModal]="hideModal"
      (hideModalOutput)="resetHideModal($event)">
      <label class="grid-modal-footer modal-footer margin-top mt16" for="English" [ngClass]="{'active': defaultLanguage === 'EN' }">
        <div class="modal-content-footer">
          <div class="modal-radio">
              <input type="radio" class=""  
              value="EN" id="English" name="languageCheckbox" 
              [checked]="defaultLanguage=='EN'" (click)="defaultLanguage='EN'">
          </div> 
          <div class="modal-footer-copy">
            ENGLISH
          </div>
        </div>
      </label>
      <label class="grid-modal-footer modal-footer" for="Spanish" [ngClass]="{'active': defaultLanguage === 'ES' }">
        <div class="modal-content-footer">
          <div class="modal-radio">
            <input type="radio" class=""  
            value="ES" id="Spanish" name="languageCheckbox" 
            [checked]="defaultLanguage=='ES'" (click)="defaultLanguage='ES'">
          </div> 
          <div class="modal-footer-copy">
              ESPAÑOL
          </div>
        </div>
      </label>
      <div class="modal-footer">
        <div class="col">
          <mapfre-button
            [additionalClasses]="'basic primary large'"
            (click)="switchUserLanguage($event); hideModalAction($event)">
            Confirm Language
          </mapfre-button>
        </div>
      </div>
      <div class="modal-body no-margin-bottom no-padding-bottom no-padding-top">
        <div class="margin-bottom mb16"><strong>English version:</strong> Translations of any website and customer portal content into languages other than English are intended solely as a convenience to the non-English-reading public and are not legally binding. The English version of all content, including our Terms & Conditions and Privacy Policy, is the definitive, legal version and will control in the event of any dispute, complaint or litigation.</div>
        <div class="margin-bottom mb24"><strong>En la versión en español: </strong> Del portal de MAPFRE,  hemos traducido la informacion mas importante para ayudarte en la navegacion y uso de servicios, no obstante algunos servicios o documentos apareceran en ingles. La version ingles de MAPFRE Portal asi como los Terminos y Condiciones de uso, es la versión legal y definitiva.</div>
      </div>
    </mapfre-modal>
    <div class="container-fluid">
      &copy; {{ year }} {{ 'FOOTER_COPY_RIGHT' | translate }}
    </div>
  </div>
</footer>