@import "../../../../styles.scss";

$footer-font-color:                      $med-gray;
$footer-height:                          5rem;

footer {
    color:                              $footer-font-color;
}

.footer-copyright {
  height:                               $footer-height;
}
