<footer class="footer-position margin-top mt24">
	<div class="footer-copyright text-center">
    <mapfre-modal 
      [modalOptions]="footerHelpModalOptions"
      [hideModal]="hideModal"
      (hideModalOutput)="resetHideModal($event)">
      <div class="modal-body no-margin-bottom">
          <hr class="margin-bottom mb24" />
        <p><strong>English version</strong> of MAPFRE portal including, our terms and conditions of Use, is the definitive and legal version.</p>
        <p><strong>En la versión en español</strong> del portal MAPFRE, incluidos nuestros términos y condiciones de uso, es la versión definitiva y legal.</p>
      </div>
      <label class="grid-modal-footer modal-footer" for="English" [ngClass]="{'active': defaultLanguage === 'EN' }">
        <div class="modal-content-footer">
          <div class="modal-radio">
              <input type="radio" class=""  
              value="EN" id="English" name="languageCheckbox" 
              [checked]="defaultLanguage=='EN'" (click)="defaultLanguage='EN'">
          </div> 
          <div class="modal-footer-copy">
            English
          </div>
        </div>
      </label>
      <label class="grid-modal-footer modal-footer" for="Spanish" [ngClass]="{'active': defaultLanguage === 'ES' }">
        <div class="modal-content-footer">
          <div class="modal-radio">
            <input type="radio" class=""  
            value="ES" id="Spanish" name="languageCheckbox" 
            [checked]="defaultLanguage=='ES'" (click)="defaultLanguage='ES'">
          </div> 
          <div class="modal-footer-copy">
            EspaÑol
          </div>
        </div>
      </label>
      <div class="modal-footer">
        <div class="col">
          <mapfre-button
            [additionalClasses]="'basic primary large'"
            (click)="switchUserLanguage($event); hideModalAction($event)">
            Confirm Language
          </mapfre-button>
        </div>
      </div>
    </mapfre-modal>
    <div class="container-fluid">
      &copy; {{ year }} {{ 'FOOTER_COPY_RIGHT' | translate }}
    </div>
  </div>
</footer>