<div class="container col-4 mt-5 full-page">
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPasswordForm.valid && register()" novalidate class="centered-form">

    <h2>You forgot your password? No worries, we'll get you a new one</h2>
    <!-- Email -->
    <div class="md-form">
      <i class="fa fa-user prefix grey-text"></i>
      <label for="email">Your Email</label>
      <input type="text" id="email" class="form-control" name="email" formControlName="email" mdbInputDirective/>
      <div *ngIf="forgotPasswordForm.submitted && !forgotPasswordForm.valid" class="help-block">
        <div class="alert alert-danger">Email is required</div>
      </div>
    </div>

    <!-- Send Password Button-->  
    <div class="md-form">
        <button [disabled]="loading" class="btn btn-mapfre-red">Send me my password</button>
        <img *ngIf="loading" src=""/>
        <!--Cancel-->
        <a [routerLink]="['/login']" (click)="cancel()" class="btn btn-link">Cancel</a>
    </div>
    
  </form>
</div>
