
<mapfre-card 
[singleCard]="false"
[additionalClasses]="'policy-details documents auto'">
<header class="margin-bottom mb16">
    <div class="policy-background">
      <div class="house"></div>
    </div>
    <div class="type-title">
      <h1 class="title">
         policy type &mdash; policy number
        <small><span class="green-color">10/10/1984 {{ 'TO' |translate }} 10/10/2190
        </span></small>
      </h1>
    </div>
  </header>

  <nav class="policy-details-nav margin-bottom mb40">
      <div class="accordian-navigation">
        <ul>
          <li routerLinkActive="active">
            <a 
              routerLink="/my-insurance/{{policyId}}/details" 
              title="Policy Details"
            >{{'DETAILS' | translate}}</a>
          </li>
          <li routerLinkActive="active">
              <a
                routerLink="/my-insurance/{{policyId}}/billing"
                title="Policy Billing"
              >{{'BILLING' | translate}}</a>
          </li>
          <li routerLinkActive="active">
              <a
                routerLink="/my-insurance/{{policyId}}/documents"
                title="Policy Documents"
              >{{'DOCUMENTS' | translate}}</a>
          </li>
        </ul>
      </div>
    </nav>
  

<section class="row documents-content no-documents"> 
  <div class="col">
    <img src="./assets/img/images/no-documents.png">
    <h1 class="title"> No Documents available yet </h1>
    <p> Your documents tab will list the available Coverage Selection Pages and allowyou to view, print, and save them. </p>
  </div>
</section> </mapfre-card>