<ng-container *ngFor="let policy of user?.policyDetails">
  <ng-container *ngIf="policy?.policynumber.policynumber == policyId">

    <mapfre-card 
      [singleCard]="false"
      [additionalClasses]="'policy-details documents ' + policy?.policyType">
      <header class="margin-bottom mb16">
        <div class="policy-background">
          <div class="car" *ngIf="policy?.policyType == 'AUTO'"></div>
          <div class="house" *ngIf="policy?.policyType == 'HOME'"></div>
        </div>
        <div class="type-title">
            <h1 class="title">
                {{ policy?.policyType | translate}} &mdash; {{ policy?.policynumber.policynumber }} 
              <small><span class="green-color">{{policy?.effDate | date:'shortDate' }} {{ 'TO' |translate }} {{policy?.expDate | date:'shortDate' }}
              </span></small>
            </h1>
          </div>
        </header>

      <nav class="policy-details-nav margin-bottom mb40">
        <div class="accordian-navigation">
          <ul>
            <li routerLinkActive="active">
              <a 
                routerLink="/my-insurance/{{policyId}}/details" 
                title="Policy Details"
              >{{'DETAILS' | translate}}</a>
            </li>
            <li routerLinkActive="active">
                <a
                  routerLink="/my-insurance/{{policyId}}/billing"
                  title="Policy Billing"
                >{{'BILLING' | translate}}</a>
            </li>
            <li routerLinkActive="active">
                <a
                  routerLink="/my-insurance/{{policyId}}/documents"
                  title="Policy Documents"
                >{{'DOCUMENTS' | translate}}</a>
            </li>
          </ul>
        </div>
      </nav>

      <section class="row documents-content"> 
        <div class="col">
          <div>
            <div class="row margin-bottom mb16">
              <div class="filters col">
                <h1 class="title">{{filterName}}</h1>
              </div>
              <div class="col">
                <select (change)="onSelectFilter($event.target.value)" class="browser-default custom-select">
                  <option [value]="'all-doc'">All Documents</option>
                  <option [value]="'renew'">Renewals</option>
                  <option [value]="'end'">Endorsments</option>
                  <option [value]="'misc'">Miscellaneous</option>
                </select>
              </div>
            </div>
            <table mdbTable class="z-depth-1 documents-table">
              <thead>
                <tr>
                  <th colspan="4"  scope="col">
                    <div class="row mapfre-card-download-button ">
                      <div class="col col-left">
                        <img src="/assets/img/images/mapfre-card-logo-color.png" width="177">
                      </div>
                      <div class="col col-right">
                        <mapfre-button
                          [additionalClasses]="'ghost primary xsmall full'">
                            {{'DOWNLOAD' | translate}}
                        </mapfre-button>
                      </div>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="row row-content" 
                  *ngFor="let doc of user?.documents; let i = index" 
                  (click)="asALink(doc.documentLocation)" 
                  [class.hide]="filterType != doc.documentType && filterType != 'all-docs'">
                  <td class="col  col-type" *ngIf="i+1 >= firstItemIndex && i < lastItemIndex" scope="row">
                    <div *ngIf="doc.documentType == 'renewal' " class="circle-with-type">R</div>
                    <div *ngIf="doc.documentType == 'misc' " class="circle-with-type">M</div>
                    <div *ngIf="doc.documentType == 'endorsments' " class="circle-with-type">E</div>
                  </td>
                  <td class="col col-name"  *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">{{doc.documentName}}</td>
                  <td class="col col-date"  *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">{{doc.documentDate | date}}</td>
                  <td class="col col-view"  *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">view <i class="fas fa-angle-right"></i> </td>
                </tr>
              </tbody>
              <tfoot class="grey lighten-5 w-100">
            
                <tr>
                  <td colspan="4">
                    <mdb-table-pagination (nextPageClick)="onNextPageClick($event)" (previousPageClick)="onPreviousPageClick($event)">
                    </mdb-table-pagination>
                  </td>
                </tr>
            
              </tfoot>
            </table>
          </div>
        </div>
      </section>

      <section class="row documents-content no-documents"> 
        <div class="col">
          <div>
            <img src="./assets/img/images/no-documents.png">
            <h1 class="title"> No Documents available yet </h1>
            <p> Your documents tab will list the available Coverage Selection Pages and allowyou to view, print, and save them. </p>
          </div>
        </div>
      </section>

    </mapfre-card>

  </ng-container>
</ng-container>