<div class="row claim" [ngClass]="{'margin-bottom mb32': type != 'details'}">
  <div class="col">
    <div class="row property" [ngClass]="{'margin-bottom mb16': type != 'details'}">
      <div class="policy-background col">
          <div class="house"></div>
      </div>
      <div class="col">
          <div class="row">
            <div class="col"> 
                <h2 class="claim-id">{{ claim.LOSS_DESC }} - <strong>#{{ claim.LOSS_NUMBER }}</strong></h2>
            </div>
          </div>
          <div class="row policy-id">
            <div class="col">
                {{ claim.policytype }} - 
                <ng-container *ngIf="type != 'details'">
                    {{ claim.policyid }}
                </ng-container>
                <ng-container *ngIf="type == 'details'">
                    <a [routerLink]="['/my-insurance', claim.policyid, 'details']"><strong>{{ claim.policyid }}</strong></a>
                </ng-container>
            </div>
          </div>
          <div class="row date-loss">
            <div class="col">
                {{ 'DATE_OF_LOSS' | translate }}: {{ claim.LOSS_DATE }}
            </div>
          </div>
        </div>
      </div>
      <ng-container *ngIf="type != 'details'">
        <a [routerLink]="['/claims', claim.LOSS_NUMBER, 'details']" class="row claim-link waves-light"
        mdbWavesEffect >
          <div class="col">
            {{ 'CLAIM_DETAILS' | translate }}&nbsp;<svg-arror-right-svg></svg-arror-right-svg>
          </div>
        </a>
      </ng-container>
      <ng-container *ngIf="type == 'details'">
          <hr class="bottom-border" />
      </ng-container>
  </div>
</div>