<div *ngIf="message" class="alert-container">
  <ng-container *ngFor="let alertTypeObject of alertTypeObjects">
    <div 
      class="mapfre alert {{alertTypeObject?.className}} margin-bottom mb16" 
      *ngIf="message?.type == alertTypeObject?.alertType"
    >
      <div class="content row">
        <div class="content">
          <div class="icon">
            <mapfre-icon [iconClasses]="alertTypeObject?.iconClass"></mapfre-icon>
          </div>
          <div class="message">
            <div class="copy">
                {{ message?.text | translate }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<div *ngIf="nonDynamic" class="alert-container">
  <ng-container *ngFor="let alertTypeObject of alertTypeObjects">
    <ng-container *ngIf="alertType == alertTypeObject?.alertType">
    <div class="mapfre alert {{alertTypeObject?.className}} margin-bottom mb16">
      <div class="row">
        <div class="content">
          <div class="icon">
            <mapfre-icon iconClasses="{{alertTypeObject?.iconClass}}"></mapfre-icon>
          </div>
          <div class="message">
            <div class="copy">
              <ng-content></ng-content>
            </div>
          </div>
        </div>
      </div>
    </div>
    </ng-container>
  </ng-container> 
</div>
