<div *ngIf="message">
  <div *ngFor="let alertTypeObject of alertTypeObjects">
      <div 
        class="mapfre alert toast {{alertTypeObject.className}}" 
        *ngIf="message.type == alertTypeObject.alertType"
      >
        <div class="content">
          <mapfre-icon iconClasses="{{alertTypeObject.iconClass}}"></mapfre-icon>
          <span>{{message.text}}</span>
        </div>
        <a class="close" (click)="closeAlert()">
          <i class="fa fa-times"></i>
        </a>
      </div>
    </div>
</div>

<div *ngIf="nonDynamic">
  <div *ngFor="let alertTypeObject of alertTypeObjects">
    <div 
      class="mapfre alert {{alertTypeObject.className}}" 
      *ngIf="alertType == alertTypeObject.alertType"
    >
      <div class="content">
        <mapfre-icon iconClasses="{{alertTypeObject.iconClass}}"></mapfre-icon>
        <span><ng-content></ng-content></span>
      </div>
      <a class="close" (click)="closeAlert()">
        <i class="fa fa-times"></i>
      </a>
    </div>
  </div> 
</div>
