<ng-container *ngIf="loading">
  <mapfre-loading></mapfre-loading>
</ng-container>
<ng-container *ngIf="!loading">
  <ng-container *ngFor="let claim of claims">
    <ng-container *ngFor="let exposure of claim.exposures">
      <ng-container *ngIf="exposure.exposureNumber.exposureNumber == claimid[1]">

        <header class="margin-bottom mb16 w-100">
          <ng-container *ngIf="exposure?.propertyOrAutoIndicator == 'AUTO' ">
            <app-claims-home-car [claim]="claim" type="details" [claimid]="claimid" [exposure]="exposure"></app-claims-home-car>
          </ng-container>
          <ng-container *ngIf="exposure?.propertyOrAutoIndicator == 'HOME' ">
            <app-claims-home-property [claim]="claim" type="details" [claimid]="claimid" [exposure]="exposure"></app-claims-home-property>
          </ng-container>
          <ng-container *ngIf="exposure?.propertyOrAutoIndicator != 'HOME' && exposure?.propertyOrAutoIndicator != 'AUTO'">
            <app-no-policy-type [claim]="claim" type="details" [claimid]="claimid" [exposure]="exposure"></app-no-policy-type>
          </ng-container>
        </header>

        <section class="row details-content">
          <div class="col col1">
            <div class="row">
              <div class="col">
                <h2 class="title">
                  {{ 'INFORMATION' | translate }}
                  <mapfre-tooltip additionalClasses="right float"
                    [tooltipCopy]="'For `collision` losses, a surcharge may apply depending on who is responsible for the accident.'"
                    [placementLocation]="'right'">
                    {{ 'SURCHARGES_MAY_APPLY' | translate }} <svg-information-svg></svg-information-svg>
                  </mapfre-tooltip>
                </h2>
              </div>
            </div>
            <div class="claim-info">
              <div class="row margin-bottom mb16 margin-top mt16">
                <div class="col info-type">
                  {{ 'CLAIMANT' | translate }}:<div class="margin-left ml16 d-inline">
                    <strong>{{exposure?.claimant?.name}}</strong></div>
                </div>
              </div>
              <div class="row margin-bottom mb16">
                <div class="col info-type">
                  {{ 'PAYMENTS_TO_DATE' | translate }}:
                  <div class="margin-left ml16 d-inline">
                    <strong>{{ totalAmountToDate | currency }}</strong>
                  </div>
                </div>
                <div class="row margin-bottom mb16">
                  <div class="col info-type">
                    {{ 'PAYMENTS_TO_DATE' | translate }}:
                    <div class="margin-left ml16 d-inline">
                      <strong>{{ totalAmountToDate | currency }}</strong>
                    </div>
                  </div>
                </div>
                <div class="row margin-bottom mb16">
                  <div class="col info-type">
                    {{ 'LOCATION' | translate }}:<div class="margin-left ml16 d-inline">
                      <strong> <span *ngIf="exposure?.address?.streetName != ''">{{exposure?.address?.streetName}}</span> {{exposure?.address?.city}} {{exposure?.address?.state}}</strong></div>
                  </div>
                </div>
                <div class="row margin-bottom mb16">
                  <div class="col">
                    <div id="map-container" class="z-depth-1-half" style="height: 150px">
                      <iframe [src]="getAddress(exposure?.address)" frameborder="0" scrolling="no" marginheight="0"
                        marginwidth="0" class="w-100"></iframe>
                    </div>
                  </div>
                </div>
                <div class="row margin-bottom mb16">
                  <div class="col info-type info-description">
                    {{ 'DESCRIPTION' | translate }}:
                  </div>
                  <div class="col info-data no-padding-left claim-description">
                    <strong>{{exposure?.description}}</strong>
                  </div>
                </div>
  
                <div class="row margin-bottom mb16">
                  <div class="padding-left pl16 info-type info-description">
                    {{ 'CLAIMANT_ADJUSTER' | translate }}:
                  </div>
                  <div class="info-data adjuster-info">
                    <div class="row">
                      <div class="col">
                        <ng-container *ngIf="exposure?.adjuster?.name != ''">
                            <strong><a href="tel:{{exposure?.adjuster?.phoneNumber.number}}"
                              class="mapfre link underline blue-link">{{ exposure?.adjuster?.name }}</a></strong>
                        </ng-container>
                        <ng-container *ngIf="exposure?.adjuster?.name == ''">
                            {{ 'PHONE' | translate }}:
                            <strong><a href="tel:{{exposure?.adjuster?.phoneNumber.number}}"
                              class="mapfre link underline blue-link">{{ exposure?.adjuster?.phoneNumber.number }}</a></strong>
                        </ng-container>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div>
                          {{ 'EMAIL' | translate }}:
                        </div>
                        <div>
                          <strong><a href="mailto:{{ exposure?.adjuster?.email?.address | lowercase }}"
                              class="mapfre link underline blue-link">{{ exposure?.adjuster?.email?.address | lowercase }}</a></strong>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        {{ 'FAX' | translate | titlecase }}: <strong><a href="tel:{{ exposure?.adjuster?.extensionAndFax | usableFaxWithExtension }}"
                        class="mapfre link underline blue-link">{{ exposure?.adjuster?.extensionAndFax }}</a></strong>
                      </div>
                    </div>
  
                  </div>
                </div>
              </div>
              <div class="appraisal-info margin-top mt32" *ngIf="exposure?.appraisals.length != 0">
                <div class="row">
                  <div class="col">
                    <h2 class="title no-border">
                      {{ 'APPRAISAL_INFORMATION' | translate }}
                    </h2>
                    <table mdbTable class="claims-table ">
                      <thead class="lite-grey-color">
                        <tr class="row-content border-full grey-border text-center">
                          <td>
                            {{ 'NUMBER' | translate }}
                          </td>
                          <td class="text-center">
                            {{ 'APPRAISER' | translate }}
                          </td>
                          <td class="text-center">
                            {{ 'AMOUNT' | translate }}
                          </td>
                          <td class="text-center">
                            {{ 'STATUS' | translate }}
                          </td>
                        </tr>
                      </thead>
                      <tbody class="med-grey-color">
                        <tr *ngFor="let appraisal of exposure?.appraisals" class="row-content border-full grey-border">
                          <td class="text-center">
                            {{appraisal?.number?.number}}
                          </td>
                          <td class="text-center">
                            {{ appraisal?.appraiser?.name }}
                          </td>
                          <td class="text-center">
                            {{ appraisal?.appraisalAmount | currency }}
                          </td>
                          <td class="text-center">
                            {{appraisal?.status}}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
  
              <div class="payment-info margin-top mt16 margin-bottom mb32">
                <div class="row">
                  <div class="col">
                    <h2 class="title no-border">
                      {{ 'PAYMENT_INFORMATION' | translate }}
                    </h2>
                    <table mdbTable class="claims-table">
                      <thead class="lite-grey-color">
                        <tr class="row-content  border-full grey-border">
                          <td class="text-center">
                            {{ 'CHECK' | translate }}
                          </td>
                          <td class="text-center">
                            {{ 'DATE_PAID' | translate }}
                          </td>
                          <td class="text-center">
                            {{ 'AMOUNT' | translate }}
                          </td>
                          <td class="text-center">
                            {{ 'STATUS' | translate }}
                          </td>
                        </tr>
                      </thead>
                      <tbody class="med-grey-color">
                        <tr *ngFor="let payment of exposure?.payments" class="row-content border-full grey-border">
                          <td class="text-center">
                            {{ payment?.checkNumber }}
                          </td>
                          <td class="text-center">
                            <ng-container *ngIf="payment?.status?.date !== null">
                                {{ payment?.status?.date | date }}
                            </ng-container>
                            <ng-container *ngIf="payment?.status?.date === null">
                              -
                            </ng-container>
                          </td>
                          <td class="text-center">
                            {{ payment?.checkAmount | currency }}
                          </td>
                          <td class="text-center">
                            {{ payment?.status.code }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
            </div>
  
            <div class="col col2">
              <div class="row claims-faq">
                <div class="col">
                  <app-claims-accordian-faq></app-claims-accordian-faq>
                </div>
              </div>
            </div>
          </div>
        </section>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>


