<form id="loginform" name="loginform" style="padding: 0px; margin: 0px;" class="formcover" method="post" action="/b2cwebapp/j_spring_security_check">
  <input type="text" id="j_username" name="j_username" path="username" maxlength="50" placeholder="Email ID" class="col-md-8 col-sm-5 col-xs-10 smalltxtMob" />
  <br />
  <input placeholder="Password" class="col-md-8 col-sm-5 col-xs-10 smalltxtMob" type="password" id="j_password" name="j_password" />
  <br />
  <input type="submit" value="Login" id="loginButton" class="redBtn submitBtn bigSubmitBtn floatRight" />
  <input name="j_url" id="j_url" type="hidden" value="account/loginView" />
</form>