<app-profile-confirm-modal [toDo]="'removeAccount'" *ngIf="confirmModal"></app-profile-confirm-modal>
<div class="padding-left-right margin-bottom mb16">
<div class="row text-center">
      <div class="col"> 
          <div class="header-icon full-icon">
              <svg-account-profile-svg></svg-account-profile-svg>  
          </div>
          <h1 class="title-copy">{{ 'My account' | translate }}</h1>
          <div class="sub-title-copy">{{ 'Thomas A. Anderson' }}</div>
      </div>
  </div>
  <hr class="hr-stretch"/>
  <div class="profile-flex">
     <label class="account-settings no-margin-bottom">Change Password</label>
     <a 
     [routerLink]="['/profile','enter-password']"
     routerLinkActive="active"
     class="btn btn-icon edit-icon-position" > 
         <svg-edit-icon-svg></svg-edit-icon-svg>
     </a>
  </div>
  <hr class="hr-stretch"/>
  <div>
      <label class="account-settings no-margin-bottom">Email</label> 
      <div class="sub-title-copy">{{ 'john@gmail.com' }}
      <div class="btn btn-icon edit-icon-position">
        <a 
        [routerLink]="['/profile','verify-password']"
        routerLinkActive="active"
        class="btn btn-icon edit-icon-position" > 
            <svg-edit-icon-svg></svg-edit-icon-svg>
        </a>
      </div>
  </div>
  </div>
  <div>
      <label class="account-settings no-margin-bottom margin-top mt16">Phone</label> 
      <div class="sub-title-copy"><em *ngIf="!user.phone;else phoneNumber">{{ 'Add more security to your account' }}</em>
        <ng-template #phoneNumber> {{ user.phone | formatPhone }}</ng-template>
          <div class="btn btn-icon edit-icon-position">
            <a *ngIf="!user.phone;else editPhone"
            [routerLink]="['/profile','add-phone']"
            routerLinkActive="active"
            class="btn btn-icon edit-icon-position" > 
                <svg-add-icon-svg [color]="'#749806'"></svg-add-icon-svg>
            </a>
            <ng-template #editPhone>
            <a
            [routerLink]="['/profile','edit-phone']"
            routerLinkActive="active"
            class="btn btn-icon edit-icon-position" > 
                <svg-edit-icon-svg></svg-edit-icon-svg>
            </a>
        </ng-template>
        </div>
      </div>
  </div>
  <hr class="hr-stretch"/>
  <div>
      <label class="account-settings no-margin-bottom"> Checking Account Information</label> 
      <div class="sub-title-copy">
        <em *ngIf="!user.checkingAccount.accountNumber;else bankName">
          {{ 'Save time and effort in your payments' }}
        </em>
        <ng-template #bankName> 
            {{ 'Checking account' | translate }} 
            <span class="profile-account-number">
                {{ user.checkingAccount.accountNumber | checkingAccount: 'account' }}
            </span>
        </ng-template>
      <div class="btn edit-icon-position">
            <a *ngIf="!user.checkingAccount.accountNumber;else editBank"
            [routerLink]="['/profile','add-checking-account']"
            routerLinkActive="active"
            class="btn btn-icon edit-icon-position" > 
                <svg-add-icon-svg [color]="'#749806'"></svg-add-icon-svg>
            </a>
            <ng-template #editBank>
            <a 
            [routerLink]="['/profile','edit-checking-account']"
            routerLinkActive="active"
            > 
                <div class="bank-account-edit display-inline">
                    <svg-edit-icon-svg></svg-edit-icon-svg>
                </div>
            </a>
            <a 
            (click)="onRemoveAccount()"
            routerLinkActive="active"
            > 
                <div class="bank-account-remove display-inline">
                    <svg-add-icon-svg [color]="'#BE0F0F'"></svg-add-icon-svg>
                </div>
            </a>
        </ng-template>
        </div>
      </div>
  </div>
</div>