.profile-account-number{
    display: inline-block;
    padding-left: 2rem;
}

.bank-account-edit{
    display: inline-block;
    padding-right: 2rem;
}

.bank-account-remove{
    display: inline-block;
    transform: rotate(45deg);
}