<ng-container *ngFor="let claim of claims">
  <ng-container *ngIf="claim.LOSS_NUMBER == claimid">
    <header class="row margin-bottom mb16">
      <div class="col">
        <ng-container *ngIf="claim.policytype == 'auto' ">
            <app-claims-home-car [claim]="claim" type="details"></app-claims-home-car>
          </ng-container>

          <ng-container *ngIf="claim.policytype == 'property' ">
            <app-claims-home-property [claim]="claim" type="details"></app-claims-home-property>
          </ng-container>
      </div>
    </header>
    <div class="row">
      
      <div class="col col1">
        <div class="row">
          <div class="col">
            <h2 class="title">
                {{ 'INFORMATION' | translate }}
                <mapfre-tooltip
                  additionalClasses="right float"
                  [tooltipCopy]="'For `collision` losses, a surcharge may apply depending on who is responsible for the accident.'"
                  [placementLocation]="'right'"
                >
                {{ 'SURCHARGES_MAY_APPLY' | translate }} <svg-information-svg></svg-information-svg>
                </mapfre-tooltip>
              </h2>
          </div>
        </div>
        <div class="claim-info">
          <div class="row margin-bottom mb16 margin-top mt8">
            <div class="col info-type">
                {{ 'CLAIMANT' | translate }}:
            </div>
            <div class="col info-data">
              {{claim.details.claimant}}
            </div>
          </div>
          <div class="row margin-bottom mb16">
            <div class="col info-type">
                {{ 'PAYMENTS_TO_DATE' | translate }}:
            </div>
            <div class="col info-data">
                {{claim.details.payments_to_date}}
              </div>
          </div>
          <div class="row margin-bottom mb16"> 
            <div class="col info-type">
                {{ 'LOCATION' | translate }}:
            </div>
            <div class="col info-data">
                {{claim.details.location}}
              </div>
          </div>
          <div class="row margin-bottom mb16">
            <div class="col">
                <iframe height="168" id="gmap_canvas" 
                [src]="getAddress(claim.details.location)" 
                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
          </div>
          <div class="row margin-bottom mb16">
            <div class="col info-type">
                {{ 'DESCRIPTION' | translate }}:
            </div>
            <div class="col info-data">
                {{claim.details.description}}
              </div>
          </div>
          <div class="row margin-bottom mb16">
            <div class="col info-type">
                {{ 'CLAIMANT_ADJUSTER' | translate }}:
              </div>
              <div class="col info-data">
                <div>
                    {{ 'PHONE' | translate }}: <a href="tel:{{claim.details.claim_adjustter_number}}" class="mapfre link underline">{{claim.details.claim_adjustter_number}}</a>
                </div>
                <div>
                    {{ 'EMAIL' | translate }}: <a href="mailto:{{claim.details.claim_adjustter_email}}" class="mapfre link underline">{{claim.details.claim_adjustter_email}}</a>
                </div>
                <div>
                    {{ 'FAX' | translate }}: {{claim.details.claim_adjustter_fax}}
                </div>
              </div>
          </div>
        </div>

        <div class="appraisal-info margin-top mt32">
          <div class="row">
            <div class="col">
              <h2 class="title no-border">
                  {{ 'APPRAISAL_INFORMATION' | translate }}
              </h2>
              <table mdbTable class="claims-table">
                <thead class="lite-grey-color">
                  <tr class="row-content border-full grey-border">
                    <td>  
                        {{ 'NUMBER' | translate }}
                    </td>
                    <td> 
                        {{ 'APPRAISER' | translate }}
                    </td>
                    <td> 
                        {{ 'AMOUNT' | translate }}
                    </td>
                    <td> 
                        {{ 'STATUS' | translate }}
                    </td>
                  </tr>
                </thead>
                <tbody class="med-grey-color">
                  <tr *ngFor="let appraisal of claim.details.appraisal" class="row-content border-full grey-border">
                    <td>
                      {{appraisal.number}}
                    </td>
                    <td>
                      {{appraisal.appraiser}}
                    </td>
                    <td>
                      {{appraisal.amount}}
                    </td>
                    <td>
                      {{appraisal.status}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="payment-info margin-top mt16 margin-bottom mb32">
          <div class="row">
            <div class="col">
                <h2 class="title no-border">
                    {{ 'PAYMENT_INFORMATION' | translate }}
                </h2>
                <table mdbTable class="claims-table">
                  <thead  class="lite-grey-color">
                    <tr class="row-content  border-full grey-border">
                      <td>
                          {{ 'CHECK' | translate }}
                      </td>
                      <td>
                          {{ 'DATE_PAID' | translate }}
                      </td>
                      <td>
                          {{ 'AMOUNT' | translate }}
                      </td>
                      <td>
                          {{ 'STATUS' | translate }}
                      </td>
                    </tr>
                  </thead>
                  <tbody class="med-grey-color">
                    <tr *ngFor="let payment of claim.details.payments" class="row-content border-full grey-border">
                      <td>
                        {{payment.check}}
                      </td>
                      <td>
                        {{payment.datepaid}}
                      </td>
                      <td>
                        {{payment.amount}}
                      </td>
                      <td>
                        {{payment.status}}
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
          </div>
        </div>
       
      </div>
    
      <div class="col col2">
        <div class="row claims-faq">
          <div class="col">
            <app-claims-accordian-faq></app-claims-accordian-faq>
          </div>
        </div>
      </div>

    </div>
  </ng-container>
</ng-container>
