<form 
  [formGroup]="passwordEmailForm" 
  name="passwordEmailForm"  
  (ngSubmit)="passwordEmailForm.valid && forgotPasswordSendEmailId()" 
  >

  <div class="group-email">
    <div *ngFor="let input of inputs" class="group-inputs">
      <mapfre-validation [input]="input" [form]="passwordEmailForm"></mapfre-validation>
    </div>
  </div>

  <div class="row text-center group-sendemail-button">
    <div class="col">
        <mapfre-button
        [additionalClasses]="'basic primary large'"
        [disabledValue]="passwordEmailForm.valid"
        [inputType]="'submit'"
        [translateValue]="'FORGOT_PASSWORD_SUBMIT_BUTTON' | translate"
      ></mapfre-button>
    </div>
  </div>
</form>
