<div class="row text-center">
  <div class="col">
    <div class="header-icon">
      <svg-email-validate-svg></svg-email-validate-svg>
    </div>
    <h1 class="title-copy">{{ 'Change email address' | translate }}</h1> 
    <div class="sub-title-copy">
     {{ 'Before you continue, verify your password' | translate }} 
    </div>
  </div>
</div>
<div>
<app-change-password-form [inputs]="verifyPassword" [userData]="user"></app-change-password-form>
</div>
<div class="row margin-top mt24 text-center">
    <div class="col">
      <mapfre-button
        [additionalClasses]="'flat link small'"
        [customIcon]="'assets/img/icons/back-arrow.png'"
        [iconClasses]="'align-middle'"
        [routerLink]="['/profile']"
        [showIconsCustom]="true"
      >  {{ 'BACK' | translate }}
      </mapfre-button>
    </div>
  </div>
