<form [formGroup]="forgotPasswordForm" 
  name="forgotPasswordForm" 
  (ngSubmit)="forgotPasswordForm.valid"  
  method="post" 
  action="">
  
  <div *ngFor="let input of inputs">
    <mapfre-validation [input]="input" [form]="forgotPasswordForm"></mapfre-validation>
  </div>

  <div class="row text-center group-submit">
    <div class="col">
      <mapfre-button
        [inputType]="'button'"
        [additionalClasses]="'success full'"
      >  {{ 'NEW_PASSWORD' | translate }}
      </mapfre-button> 
    </div>
  </div>
  <input name="j_url" id="j_url" type="hidden" value="account/forgotPassword" />
</form>
