@import "../../../../styles.scss";

$mapfre-card-bg-color:          $white;
$mapfre-card-border-color:      lighten($lite-gray, 13%);   
$mapfre-card-padding:           $padding-horizontal * 1.6;

.card.mapfre {
    background-color:           $mapfre-card-bg-color;
    border:                     thin solid $mapfre-card-border-color;
    box-shadow:                 none;
    padding:                    $mapfre-card-padding;
   
    &.card-center {
        margin:                 auto;
    }

    &.small-card {
        width:                  330px
    }
}