<mapfre-card 
  additionalClasses="forgot-password-email align-middle single-page-card"
  *ngIf="!showConfirmation">
  <div class="row text-center card-title">
    <div class="col"> 
      <div class="header-icon">
        <img src="../../assets/img/icons/forgot-password-icon.png" alt="Forgot Password Icon" />
      </div>
      <h1 class="title-copy">{{ 'FORGOT_PASSWORD_TITLE' | translate }}</h1> 
      <p class="subtitle-copy">{{ 'FORGOT_PASSWORD_PARAGRAPH' | translate }}</p>
    </div>
  </div>
  <mapfre-alert></mapfre-alert>
  <app-send-email-form  
    [inputs]="emailInputs" 
    (showConfirmation)="showConfirmationAction($event)"></app-send-email-form>
  <hr class="hr-login" />
  <div class="row text-center group-login-button">
    <div class="col">
      <mapfre-button
        [additionalClasses]="'flat link small'"
        [customIcon]="'../../../../../assets/img/icons/keyboard_backspace.svg'"
        [iconClasses]="'align-middle'"
        [routerLink]="['/login']"
        [showIconsCustom]="true"
      >  {{ 'FORGOT_PASSWORD_LOGIN_LINK' | translate }}
      </mapfre-button>
    </div>
  </div>
</mapfre-card>

<mapfre-card 
  additionalClasses="forgot-password-email align-middle single-page-card"
  *ngIf="showConfirmation">
  <div class="row text-center card-title">
    <div class="col"> 
      <div class="header-icon">
        <img src="../../assets/img/icons/forgot-password-icon.png" alt="Check Email Icon" />
      </div>
      <h1 class="title-copy">{{ 'CHECK_YOUR_EMAIL_TITLE' | translate }}</h1> 
      <p class="subtitle-copy">{{ 'CHECK_YOUR_EMAIL_PARAGRAPH' | translate }}</p>
    </div>
  </div>
  <app-email-confirmation></app-email-confirmation>
  <hr class="hr-login" />
  <div class="row text-center group-login-button">
    <div class="col">
      <mapfre-button
        [additionalClasses]="'flat link small'"
        [customIcon]="'../../../../../assets/img/icons/keyboard_backspace.svg'"
        [iconClasses]="'align-middle'"
        [routerLink]="['/login']"
        [showIconsCustom]="true"
      >  {{ 'FORGOT_PASSWORD_LOGIN_LINK' | translate }}
      </mapfre-button>
    </div>
  </div>
</mapfre-card>
