<div class="col-sm-8 col-sm-offset-2">
    <app-alert></app-alert>
    <!-- <router-outlet></router-outlet> why is this here? -->
</div>
 
<section *ngIf="!successChangePassword">
  <mapfre-card additionalClasses="forgot-password-email card-center small-card">
    <div class="row text-center">
      <div class="col"> 
        <h1 class="title-copy">
        <mapfre-icon [iconClasses]="'fas fa-user-lock'" [title]="true"></mapfre-icon>
          {{ 'FORGOT_PASS' | translate }}</h1> 
      </div>
    </div>
    <app-send-email-form [inputs]="emailInputs" (emailAddressOuput)="showConfirmation($event)"></app-send-email-form>
    <!--<app-send-email-nondynamic-form></app-send-email-nondynamic-form>-->
  </mapfre-card>
</section>

<section *ngIf="successChangePassword">
  <mapfre-card additionalClasses="forgot-password-email card-center small-card">
    <div class="row text-center">
      <div class="col"> 
        <h1 class="title-copy">
        <mapfre-icon [iconClasses]="'fas fa-user-lock'" [title]="true"></mapfre-icon>
          {{ 'CONFIRMATION' | translate }}</h1> 
      </div>
    </div>
    <app-email-confirmation emailSentTo="{{successChangePassword}}"></app-email-confirmation>
  </mapfre-card>
</section>
