<div class="col-sm-8 col-sm-offset-2">
    <app-alert></app-alert>
    <!-- <router-outlet></router-outlet> why is this here? -->
  </div>
  
  <mapfre-card additionalClasses="forgot-password card-center small-card">
    <div class="row text-center">
      <div class="col"> 
        <h1 class="title-copy">
        <mapfre-icon [iconClasses]="'fas fa-user-lock'" [title]="true"></mapfre-icon>
          {{ 'FORGOT_PASS' | translate }}</h1> 
      </div>
    </div>
    <app-forgot-password-form [inputs]="inputs"></app-forgot-password-form>
    <!--<app-send-email-form [inputs]="inputs"></app-send-email-form>-->
  </mapfre-card>